<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.taxRate.mapper.TaxRateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.taxRate.entity.TaxRate">
        <id column="tax_rate_id" property="taxRateId"/>
        <result column="tax_rate_name" property="taxRateName"/>
        <result column="tax_rate_value" property="taxRateValue"/>
        <result column="display" property="display"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tax_rate_id
        AS "taxRateId", tax_rate_name AS "taxRateName", tax_rate_value AS "taxRateValue", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.taxRate.model.result.TaxRateResult"
            parameterType="cn.atsoft.dasheng.taxRate.model.params.TaxRateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_tax_rate where 1 = 1
        <if test="paramCondition.taxRateId != null">
            and tax_rate_id like CONCAT('%',#{paramCondition.taxRateId},'%')
        </if>
        <if test="paramCondition.taxRateName != null and paramCondition.taxRateName != ''">
            and tax_rate_name like CONCAT('%',#{paramCondition.taxRateName},'%')
        </if>
        <if test="paramCondition.taxRateValue != null">
            and tax_rate_value like CONCAT('%',#{paramCondition.taxRateValue},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.taxRate.model.params.TaxRateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_tax_rate where 1 = 1
        <if test="paramCondition.taxRateId != null">
            and tax_rate_id like CONCAT('%',#{paramCondition.taxRateId},'%')
        </if>
        <if test="paramCondition.taxRateName != null and paramCondition.taxRateName != ''">
            and tax_rate_name like CONCAT('%',#{paramCondition.taxRateName},'%')
        </if>
        <if test="paramCondition.taxRateValue != null">
            and tax_rate_value like CONCAT('%',#{paramCondition.taxRateValue},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.taxRate.model.result.TaxRateResult"
            parameterType="cn.atsoft.dasheng.taxRate.model.params.TaxRateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_tax_rate where 1 = 1 and display = 1
        <if test="paramCondition.taxRateId != null">
            and tax_rate_id like CONCAT('%',#{paramCondition.taxRateId},'%')
        </if>
        <if test="paramCondition.taxRateName != null and paramCondition.taxRateName != ''">
            and tax_rate_name like CONCAT('%',#{paramCondition.taxRateName},'%')
        </if>
        <if test="paramCondition.taxRateValue != null">
            and tax_rate_value like CONCAT('%',#{paramCondition.taxRateValue},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.taxRate.model.params.TaxRateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_tax_rate where 1 = 1
        <if test="paramCondition.taxRateId != null">
            and tax_rate_id like CONCAT('%',#{paramCondition.taxRateId},'%')
        </if>
        <if test="paramCondition.taxRateName != null and paramCondition.taxRateName != ''">
            and tax_rate_name like CONCAT('%',#{paramCondition.taxRateName},'%')
        </if>
        <if test="paramCondition.taxRateValue != null">
            and tax_rate_value like CONCAT('%',#{paramCondition.taxRateValue},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
    </select>

</mapper>
