<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.form.mapper.ActivitiProcessLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.form.entity.ActivitiProcessLog">
        <id column="log_id" property="logId"/>
        <result column="peocess_id" property="peocessId"/>
        <result column="setps_id" property="setpsId"/>
        <result column="task_id" property="taskId"/>
        <result column="status" property="status"/>
        <result column="display" property="display"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="action_status" property="actionStatus"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">action_status AS "actionStatus",
        log_id
        AS "logId", peocess_id AS "peocessId",task_id AS "taskId", setps_id AS "setpsId", status AS "status", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessLogResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessLogParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_log where 1 = 1
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessLogParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_log where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessLogResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessLogParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_log where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessLogParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_log where 1 = 1
    </select>

    <select id="auditList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessLogResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessLogParam">
        select
        task_id AS "taskId"
        from activiti_process_log where 1 = 1
        <if test="paramCondition.createUser != null and paramCondition.createUser != ''">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.status != null and paramCondition.status != ''">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="stepIds.size>0">
            and setps_id in
            <foreach collection="stepIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        group by task_id
  </select>

    <select id="sendList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessLogResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessLogParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_log where 1 = 1
        <if test="paramCondition.createUser != null and paramCondition.createUser != ''">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.status != null and paramCondition.status != ''">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="stepIds.size>0">
            and setps_id in
            <foreach collection="stepIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
            and status = -1
        </if>
        <if test="paramCondition.source!= null and paramCondition.source == '质检'">
            and task_id in (select process_task_id from activiti_process_task where type ='quality_task' )
        </if>
        <if test="paramCondition.source!= null and paramCondition.source == '采购'">
            and task_id in (select process_task_id from activiti_process_task where type ='purchase' )
        </if>
    </select>
</mapper>
