<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.form.mapper.ActivitiProcessTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.form.entity.ActivitiProcessTask">
        <id column="process_task_id" property="processTaskId"/>
        <result column="process_id" property="processId"/>
        <result column="display" property="display"/>
        <result column="task_name" property="taskName"/>
        <result column="user_id" property="userId"/>
        <result column="main_task_id" property="mainTaskId"/>
        <result column="pid" property="pid"/>
        <result column="theme" property="theme"/>
        <result column="origin" property="origin"/>
        <result column="deptIds" property="deptIds"/>
        <result column="user_ids" property="userIds"/>
        <result column="form_id" property="formId"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
        <result column="cause" property="cause"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        process_task_id
        AS "processTaskId",
	    form_id AS "formId",
	    type AS "type",
	    remark AS "remark",
	    cause AS "cause",
        user_id AS "userId",
        main_task_id AS "mainTaskId",
        pid AS "pid",
        theme AS "theme",
        origin AS "origin",
	    user_ids AS "userIds",
	    STATUS AS "status",
	    deptIds AS "deptIds",
	    task_name AS "taskName",
	    process_id AS "processId",
	    display AS "display",
	    create_user AS "createUser",
	    update_user AS "updateUser",
	    create_time AS "createTime",
	    update_time AS "updateTime",
            source AS "source",
            source_id AS "source_id"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null and paramCondition.createUser != ''">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.status != null and paramCondition.status != ''">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type = #{paramCondition.type}
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <choose>
            <when test="paramCondition.deptId != null  and paramCondition.deptId != 0">
                and deptIds like CONCAT('%',#{paramCondition.deptId},'%')
            </when>
            <otherwise>
                or user_Ids like CONCAT('%',#{paramCondition.userId},'%')
                and type = '备注'
            </otherwise>
        </choose>
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
    </select>


    <select id="auditList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
        <!--        <if test="paramCondition.status != null ">-->
        <!--            and status = #{paramCondition.status}-->
        <!--        </if>-->
        <if test="paramCondition.createUser != null ">
            and create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.timeOutTaskIds !=null and paramCondition.timeOutTaskIds.size>0 ">
            and process_task_id in
            <foreach collection="paramCondition.timeOutTaskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.skuName != null">
            and (form_id in (
            select instock_order_id from daoxin_erp_instock_order where coding like
            CONCAT('%',#{paramCondition.skuName},'%')
            union
            select order_id from daoxin_anomaly_order where coding like CONCAT('%',#{paramCondition.skuName},'%')
            ) or task_name like CONCAT('%',#{paramCondition.skuName},'%'))
        </if>

        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.userIds !=null  and paramCondition.type == 'ERROR' ">
            union
            select
            <include refid="Base_Column_List"/>
            from activiti_process_task where user_ids = #{paramCondition.userIds} and display = 1
        </if>
    </select>
</mapper>
