<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.form.mapper.ActivitiProcessTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.form.entity.ActivitiProcessTask">
        <id column="process_task_id" property="processTaskId"/>
        <result column="process_id" property="processId"/>
        <result column="display" property="display"/>
        <result column="task_name" property="taskName"/>
        <result column="user_id" property="userId"/>
        <result column="main_task_id" property="mainTaskId"/>
        <result column="pid" property="pid"/>
        <result column="theme" property="theme"/>
        <result column="origin" property="origin"/>
        <result column="deptIds" property="deptIds"/>
        <result column="user_ids" property="userIds"/>
        <result column="form_id" property="formId"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
        <result column="cause" property="cause"/>
        <result column="status" property="status"/>
        <result column="deptId" property="deptId"/>
        <result column="version" property="version"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="notice_id" property="noticeId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notice_id
        AS "noticeId",
        process_task_id
        AS "processTaskId",
	    form_id AS "formId",
	    type AS "type",
	    remark AS "remark",
	    cause AS "cause",
        user_id AS "userId",
        main_task_id AS "mainTaskId",
        pid AS "pid",
        theme AS "theme",
        origin AS "origin",
	    user_ids AS "userIds",
	    STATUS AS "status",
	    deptIds AS "deptIds",
	    task_name AS "taskName",
	    process_id AS "processId",
	    display AS "display",
	    create_user AS "createUser",
	    update_user AS "updateUser",
	    create_time AS "createTime",
	    update_time AS "updateTime",
            source AS "source",
            source_id AS "source_id",
            deptId AS "deptId",
            version AS "version"
    </sql>
    <sql id="Left_Join_Column_List">
        activiti_process_task
        .
        process_task_id
        AS "processTaskId",
	    activiti_process_task.form_id AS "formId",
	    activiti_process_task.type AS "type",
	    activiti_process_task.remark AS "remark",
	    activiti_process_task.cause AS "cause",
        activiti_process_task.user_id AS "userId",
        activiti_process_task.main_task_id AS "mainTaskId",
        activiti_process_task.pid AS "pid",
        activiti_process_task.theme AS "theme",
        activiti_process_task.origin AS "origin",
	    activiti_process_task.user_ids AS "userIds",
	    activiti_process_task.STATUS AS "status",
	    activiti_process_task.deptIds AS "deptIds",
	    activiti_process_task.task_name AS "taskName",
	    activiti_process_task.process_id AS "processId",
	    activiti_process_task.display AS "display",
	    activiti_process_task.create_user AS "createUser",
	    activiti_process_task.update_user AS "updateUser",
	    activiti_process_task.create_time AS "createTime",
	    activiti_process_task.update_time AS "updateTime",
        activiti_process_task.source AS "source",
        activiti_process_task.source_id AS "source_id",
        activiti_process_task.deptId AS "deptId",
          activiti_process_task.version AS "version"
    </sql>
    <sql id="auditColumn">
        activiti_process_task
        .
        process_task_id
        AS "processTaskId",
	activiti_process_task.form_id AS "formId",
	activiti_process_task.type AS "type",
	activiti_process_task.remark AS "remark",
	activiti_process_task.cause AS "cause",
	activiti_process_task.user_id AS "userId",
	activiti_process_task.main_task_id AS "mainTaskId",
	activiti_process_task.pid AS "pid",
	activiti_process_task.theme AS "theme",
	activiti_process_task.origin AS "origin",
	activiti_process_task.user_ids AS "userIds",
	activiti_process_task.STATUS AS "status",
	activiti_process_task.deptIds AS "deptIds",
	activiti_process_task.task_name AS "taskName",
	activiti_process_task.process_id AS "processId",
	activiti_process_task.display AS "display",
	activiti_process_task.create_user AS "createUser",
	activiti_process_task.update_user AS "updateUser",
	activiti_process_task.create_time AS "createTime",
	activiti_process_task.update_time AS "updateTime",
	activiti_process_task.source AS "source",
	activiti_process_task.source_id AS "source_id" ,
	daoxin_task_participant.user_id as "participantUser",
	daoxin_task_participant.type as "participantType",
            activiti_process_task.version AS "version"

    </sql>
    <sql id="auditColumn2">
        DISTINCT
        task
        .
        process_task_id
        AS "processTaskId",
	task.form_id AS "formId",
	task.type AS "type",
	task.remark AS "remark",
	task.cause AS "cause",
	task.user_id AS "userId",
	task.main_task_id AS "mainTaskId",
	task.pid AS "pid",
	task.theme AS "theme",
	task.origin AS "origin",
	task.user_ids AS "userIds",
	task.STATUS AS "status",
	task.deptIds AS "deptIds",
	task.task_name AS "taskName",
	task.process_id AS "processId",
	task.display AS "display",
	task.create_user AS "createUser",
	task.update_user AS "updateUser",
	task.create_time AS "createTime",
	task.update_time AS "updateTime",
	task.source AS "source",
	task.source_id AS "source_id" ,
	participant.user_id as "participantUser",
	participant.type as "participantType",
    task.version AS "version"


    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null and paramCondition.createUser != ''">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.status != null and paramCondition.status != ''">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type = #{paramCondition.type}
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <choose>
            <when test="paramCondition.deptId != null  and paramCondition.deptId != 0">
                and deptIds like CONCAT('%',#{paramCondition.deptId},'%')
            </when>
            <otherwise>
                or user_Ids like CONCAT('%',#{paramCondition.userId},'%')
                and type = '备注'
            </otherwise>
        </choose>
    </select>
    <select id="selfPickListsTasks" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Left_Join_Column_List"/>
        from activiti_process_task
        LEFT JOIN daoxin_production_pick_lists on activiti_process_task.form_id =
        daoxin_production_pick_lists.pick_lists_id
        where 1 = 1 and activiti_process_task.display = 1
        <if test="paramCondition.userId != null and paramCondition.userId != ''">
            and daoxin_production_pick_lists.user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and activiti_process_task.type = #{paramCondition.type}
        </if>

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="Base_Column_List"/>
        from activiti_process_task where 1 = 1 and display = 1
    </select>


    <select id="auditList" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="auditColumn"/>
        from activiti_process_task
        LEFT JOIN daoxin_task_participant ON activiti_process_task.process_task_id =
        daoxin_task_participant.process_task_id
        where 1 = 1 and activiti_process_task.display = 1
        <if test="paramCondition.createUser != null ">
            and activiti_process_task.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and activiti_process_task.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and activiti_process_task.status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and activiti_process_task.type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.timeOutTaskIds !=null and paramCondition.timeOutTaskIds.size>0 ">
            and activiti_process_task.process_task_id in
            <foreach collection="paramCondition.timeOutTaskIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.skuName != null">
            and (activiti_process_task.form_id in (
            select instock_order_id from daoxin_erp_instock_order where coding like
            CONCAT('%',#{paramCondition.skuName},'%')
            union
            select order_id from daoxin_anomaly_order where coding like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select inventory_task_id from daoxin_erp_inventory where coding like
            CONCAT('%',#{paramCondition.skuName},'%')
            union
            select pick_lists_id from daoxin_production_pick_lists where coding like
            CONCAT('%',#{paramCondition.skuName},'%')
            ) or task_name like CONCAT('%',#{paramCondition.skuName},'%')
            or remark like CONCAT('%',#{paramCondition.skuName},'%')
            or notice_id like CONCAT('%',#{paramCondition.skuName},'%')
            )
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and activiti_process_task.process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.participantUser != null and paramCondition.participantUser != '' ">
            and (daoxin_task_participant.user_id = #{paramCondition.participantUser}
            or activiti_process_task.user_id = #{paramCondition.participantUser}
            )
        </if>
        group by processTaskId
    </select>
    <select id="aboutMeTask" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="auditColumn2"/>
        from activiti_process_task task
        LEFT JOIN activiti_process_log log on log.task_id = task.process_task_id
        LEFT JOIN activiti_steps steps on steps.setps_id = log.setps_id
        LEFT JOIN daoxin_task_participant participant ON task.process_task_id =
        participant.process_task_id
        where 1 = 1 and task.display = 1
        -- 查询关于我的任务

        <if test="paramCondition.queryType!=null and paramCondition.queryType!= ''">
            <choose>
                <when test="paramCondition.queryType ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==2">
                    and steps.step_type = "audit"
                    and (log.status = 1 or log.status = 0)
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==3">
                    and steps.step_type = "send"
                    and log.status = 1
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
            </choose>
        </if>
        <if test="paramCondition.status !=null and paramCondition.status !=''">
            <choose>
                <when test="paramCondition.status ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==2">
                    and steps.step_type = "status"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==3">
                    and steps.step_type = "audit"
                    and log.status = 1
                </when>
                <when test=" paramCondition.status ==4">
                    and steps.step_type = "audit"
                    and log.status = 0
                </when>
                <when test=" paramCondition.status ==5">
                    and task.status = 99
                </when>
                <when test=" paramCondition.status ==6">
                    and task.status = 49
                </when>
            </choose>
        </if>

        <!--开始时间-->
        <if test="paramCondition.startTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y-%m-%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y-%m-%d %H:%i:%s')
        </if>


        <if test="paramCondition.skuName != null">
            and (
            task.form_id in (
            select instock_order_id from daoxin_erp_instock_order where coding like
            CONCAT('%',#{paramCondition.skuName},'%')
            union
            select order_id from daoxin_anomaly_order where coding like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select inventory_task_id from daoxin_erp_inventory where coding like
            CONCAT('%',#{paramCondition.skuName},'%')
            union
            select pick_lists_id from daoxin_production_pick_lists where coding like
            CONCAT('%',#{paramCondition.skuName},'%')
            )
            or task_name like CONCAT('%',#{paramCondition.skuName},'%')
            or remark like CONCAT('%',#{paramCondition.skuName},'%')
            or notice_id like CONCAT('%',#{paramCondition.skuName},'%')
            or task.theme like CONCAT('%',#{paramCondition.skuName},'%')
            )
        </if>
        <if test="paramCondition.skuId != null and paramCondition.skuId != ''">
            and (
            task.form_id in (
            select instock_order_id from daoxin_erp_instock_list where sku_id =
            #{paramCondition.skuId}
            union
            select inventory_id from daoxin_erp_inventory_detail where sku_id =
            #{paramCondition.skuId}
            union
            select pick_lists_id from daoxin_production_pick_lists_detail where sku_id =
            #{paramCondition.skuId}
            union
            select maintenance_id from daoxin_erp_maintenance_detail where sku_id =
            #{paramCondition.skuId}
            )
            )
        </if>
        <if test="paramCondition.createUser != null ">
            and task.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and task.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and task.status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and task.type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.timeOutTaskIds !=null and paramCondition.timeOutTaskIds.size>0 ">
            and task.process_task_id in
            <foreach collection="paramCondition.timeOutTaskIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and task.process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.participantUser != null and paramCondition.participantUser != '' ">
            and (participant.user_id = #{paramCondition.participantUser}
            or task.user_id = #{paramCondition.participantUser}
            )
        </if>
        group by task.process_task_id
    </select>
    <select id="instockTask" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="auditColumn2"/>
        FROM activiti_process_task task
        LEFT JOIN activiti_process_log log ON log.task_id = task.process_task_id
        LEFT JOIN activiti_steps steps ON steps.setps_id = log.setps_id
        LEFT JOIN daoxin_task_participant participant ON task.process_task_id = participant.process_task_id
        LEFT JOIN daoxin_erp_instock_order instock on instock.instock_order_id = task.form_id
        LEFT JOIN daoxin_erp_instock_list instock_list on instock.instock_order_id = instock_list.instock_order_id
        LEFT JOIN goods_sku sku on instock_list.sku_id = sku.sku_id
        where 1 = 1 and task.display = 1
        -- 查询关于我的任务
        <if test="paramCondition.queryType!=null and paramCondition.queryType!= ''">
            <choose>
                <when test="paramCondition.queryType ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==2">
                    and steps.step_type = "audit"
                    and (log.status = 1 or log.status = 0)
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==3">
                    and steps.step_type = "send"
                    and log.status = 1
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
            </choose>
        </if>
        <if test="paramCondition.customerId !=null and paramCondition.customerId !=''">
            and instock.customer_id = #{paramCondition.customerId}
        </if>
        <if test="paramCondition.status !=null and paramCondition.status !=''">
            <choose>
                <when test="paramCondition.status ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==2">
                    and steps.step_type = "status"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==3">
                    and steps.step_type = "audit"
                    and log.status = 1
                </when>
                <when test=" paramCondition.status ==4">
                    and steps.step_type = "audit"
                    and log.status = 0
                </when>
                <when test=" paramCondition.status ==5">
                    and task.status = 99
                </when>
                <when test=" paramCondition.status ==6">
                    and task.status = 49
                </when>
            </choose>
        </if>
        <if test="paramCondition.keyWords !=null and paramCondition.keyWords !=''">
            and (
            instock.coding = #{paramCondition.keyWords}
            or sku.sku_name like CONCAT('%',#{paramCondition.keyWords},'%')
            )
        </if>
        <!--开始时间-->
        <if test="paramCondition.startTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y-%m-%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="paramCondition.createUser != null ">
            and task.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and task.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and task.status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and task.type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and task.process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.participantUser != null and paramCondition.participantUser != '' ">
            and (participant.user_id = #{paramCondition.participantUser}
            or task.user_id = #{paramCondition.participantUser}
            )
        </if>
        group by task.process_task_id
    </select>
    <select id="outstockTask" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="auditColumn2"/>

        FROM activiti_process_task task
        LEFT JOIN activiti_process_log log ON log.task_id = task.process_task_id
        LEFT JOIN activiti_steps steps ON steps.setps_id = log.setps_id
        LEFT JOIN daoxin_task_participant participant ON task.process_task_id = participant.process_task_id
        LEFT JOIN daoxin_production_pick_lists picklists on picklists.pick_lists_id = task.form_id
        LEFT JOIN daoxin_production_pick_lists_detail picklists_detail on picklists.pick_lists_id =
        picklists_detail.pick_lists_id
        LEFT JOIN goods_sku sku on picklists_detail.sku_id = sku.sku_id
        where 1 = 1 and task.display = 1
        -- 查询关于我的任务
        <if test="paramCondition.queryType!=null and paramCondition.queryType!= ''">
            <choose>
                <when test="paramCondition.queryType ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==2">
                    and steps.step_type = "audit"
                    and (log.status = 1 or log.status = 0)
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==3">
                    and steps.step_type = "send"
                    and log.status = 1
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
            </choose>
        </if>

        <if test="paramCondition.pickUserId !=null and paramCondition.pickUserId !=''">
            and picklists.user_id = #{paramCondition.pickUserId}
        </if>
        <if test="paramCondition.status !=null and paramCondition.status !=''">
            <choose>
                <when test="paramCondition.status ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==2">
                    and steps.step_type = "status"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==3">
                    and steps.step_type = "audit"
                    and log.status = 1
                </when>
                <when test=" paramCondition.status ==4">
                    and steps.step_type = "audit"
                    and log.status = 0
                </when>
                <when test=" paramCondition.status ==5">
                    and task.status = 99
                </when>
                <when test=" paramCondition.status ==6">
                    and task.status = 49
                </when>
            </choose>
        </if>
        <if test="paramCondition.keyWords !=null and paramCondition.keyWords !=''">
            and (
            picklists.coding = #{paramCondition.keyWords}
            or sku.sku_name like CONCAT('%',#{paramCondition.keyWords},'%')
            )
        </if>
        <!--开始时间-->
        <if test="paramCondition.startTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y-%m-%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="paramCondition.createUser != null ">
            and task.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and task.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and task.status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and task.type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and task.process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.participantUser != null and paramCondition.participantUser != '' ">
            and (participant.user_id = #{paramCondition.participantUser}
            or task.user_id = #{paramCondition.participantUser}
            )
        </if>
        group by task.process_task_id
    </select>
    <select id="maintenanceTask" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="auditColumn2"/>
        FROM activiti_process_task task
        LEFT JOIN activiti_process_log log ON log.task_id = task.process_task_id
        LEFT JOIN activiti_steps steps ON steps.setps_id = log.setps_id
        LEFT JOIN daoxin_task_participant participant ON task.process_task_id = participant.process_task_id
        LEFT JOIN daoxin_erp_maintenance maintenance on maintenance.maintenance_id = task.form_id
        LEFT JOIN daoxin_erp_maintenance_detail maintenance_detail on maintenance.maintenance_id =
        maintenance_detail.maintenance_id
        LEFT JOIN goods_sku sku on maintenance_detail.sku_id = sku.sku_id
        where 1 = 1 and task.display = 1
        -- 查询关于我的任务
        <if test="paramCondition.queryType!=null and paramCondition.queryType!= ''">
            <choose>
                <when test="paramCondition.queryType ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==2">
                    and steps.step_type = "audit"
                    and (log.status = 1 or log.status = 0)
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==3">
                    and steps.step_type = "send"
                    and log.status = 1
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
            </choose>
        </if>
        <if test="paramCondition.status !=null and paramCondition.status !=''">
            <choose>
                <when test="paramCondition.status ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==2">
                    and steps.step_type = "status"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==3">
                    and steps.step_type = "audit"
                    and log.status = 1
                </when>
                <when test=" paramCondition.status ==4">
                    and steps.step_type = "audit"
                    and log.status = 0
                </when>
                <when test=" paramCondition.status ==5">
                    and task.status = 99
                </when>
                <when test=" paramCondition.status ==6">
                    and task.status = 49
                </when>
            </choose>
        </if>
        <if test="paramCondition.keyWords !=null and paramCondition.keyWords !=''">
            and (
            picklists.coding = #{paramCondition.keyWords}
            or sku.sku_name like CONCAT('%',#{paramCondition.keyWords},'%')
            )
        </if>
        <!--开始时间-->
        <if test="paramCondition.startTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y-%m-%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="paramCondition.createUser != null ">
            and task.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and task.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and task.status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and task.type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and task.process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.participantUser != null and paramCondition.participantUser != '' ">
            and (participant.user_id = #{paramCondition.participantUser}
            or task.user_id = #{paramCondition.participantUser}
            )
        </if>
        group by task.process_task_id
    </select>
    <select id="allocationTask" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="auditColumn2"/>
        FROM activiti_process_task task
        LEFT JOIN activiti_process_log log ON log.task_id = task.process_task_id
        LEFT JOIN activiti_steps steps ON steps.setps_id = log.setps_id
        LEFT JOIN daoxin_task_participant participant ON task.process_task_id = participant.process_task_id
        LEFT JOIN daoxin_erp_allocation allocation on allocation.allocation_id = task.form_id
        LEFT JOIN daoxin_erp_allocation_detail allocation_detail on allocation.allocation_id =
        allocation_detail.allocation_id
        LEFT JOIN goods_sku sku on allocation_detail.sku_id = sku.sku_id
        where 1 = 1 and task.display = 1
        -- 查询关于我的任务
        <if test="paramCondition.queryType!=null and paramCondition.queryType!= ''">
            <choose>
                <when test="paramCondition.queryType ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==2">
                    and steps.step_type = "audit"
                    and (log.status = 1 or log.status = 0)
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==3">
                    and steps.step_type = "send"
                    and log.status = 1
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
            </choose>
        </if>
        <if test="paramCondition.status !=null and paramCondition.status !=''">
            <choose>
                <when test="paramCondition.status ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==2">
                    and steps.step_type = "status"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==3">
                    and steps.step_type = "audit"
                    and log.status = 1
                </when>
                <when test=" paramCondition.status ==4">
                    and steps.step_type = "audit"
                    and log.status = 0
                </when>
                <when test=" paramCondition.status ==5">
                    and task.status = 99
                </when>
                <when test=" paramCondition.status ==6">
                    and task.status = 49
                </when>
            </choose>
        </if>
        <if test="paramCondition.keyWords !=null and paramCondition.keyWords !=''">
            and (
            picklists.coding = #{paramCondition.keyWords}
            or sku.sku_name like CONCAT('%',#{paramCondition.keyWords},'%')
            )
        </if>
        <!--开始时间-->
        <if test="paramCondition.startTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y-%m-%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="paramCondition.createUser != null ">
            and task.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and task.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and task.status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and task.type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and task.process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.participantUser != null and paramCondition.participantUser != '' ">
            and (participant.user_id = #{paramCondition.participantUser}
            or task.user_id = #{paramCondition.participantUser}
            )
        </if>
        group by task.process_task_id
    </select>
    <select id="errorTask" resultType="cn.atsoft.dasheng.form.model.result.ActivitiProcessTaskResult"
            parameterType="cn.atsoft.dasheng.form.model.params.ActivitiProcessTaskParam">
        select
        <include refid="auditColumn2"/>
        FROM activiti_process_task task
        LEFT JOIN activiti_process_log log ON log.task_id = task.process_task_id
        LEFT JOIN activiti_steps steps ON steps.setps_id = log.setps_id
        LEFT JOIN daoxin_task_participant participant ON task.process_task_id = participant.process_task_id
        LEFT JOIN daoxin_anomaly_order anomaly_order on anomaly_order.order_id = task.form_id
        LEFT JOIN daoxin_anomaly anomaly on anomaly.order_id = anomaly_order.order_id
        LEFT JOIN goods_sku sku on anomaly.sku_id = sku.sku_id
        where 1 = 1 and task.display = 1
        -- 查询关于我的任务
        <if test="paramCondition.queryType!=null and paramCondition.queryType!= ''">
            <choose>
                <when test="paramCondition.queryType ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==2">
                    and steps.step_type = "audit"
                    and (log.status = 1 or log.status = 0)
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
                <when test=" paramCondition.queryType ==3">
                    and steps.step_type = "send"
                    and log.status = 1
                    and log.audit_user_id = #{paramCondition.userId}
                </when>
            </choose>
        </if>
        <if test="paramCondition.status !=null and paramCondition.status !=''">
            <choose>
                <when test="paramCondition.status ==1">
                    and steps.step_type = "audit"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==2">
                    and steps.step_type = "status"
                    and log.status = 3
                </when>
                <when test=" paramCondition.status ==3">
                    and steps.step_type = "audit"
                    and log.status = 1
                </when>
                <when test=" paramCondition.status ==4">
                    and steps.step_type = "audit"
                    and log.status = 0
                </when>
                <when test=" paramCondition.status ==5">
                    and task.status = 99
                </when>
                <when test=" paramCondition.status ==6">
                    and task.status = 49
                </when>
            </choose>
        </if>
        <if test="paramCondition.keyWords !=null and paramCondition.keyWords !=''">
            and (
            picklists.coding = #{paramCondition.keyWords}
            or sku.sku_name like CONCAT('%',#{paramCondition.keyWords},'%')
            )
        </if>
        <!--开始时间-->
        <if test="paramCondition.startTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y-%m-%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null ">
            and date_format(task.create_time,'%Y-%m-%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="paramCondition.createUser != null ">
            and task.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and task.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.statusList !=null and paramCondition.statusList.size>0 ">
            and task.status in
            <foreach collection="paramCondition.statusList" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.types !=null and paramCondition.types.size>0 ">
            and task.type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.taskIds !=null and paramCondition.taskIds.size>0 ">
            and task.process_task_id in
            <foreach collection="paramCondition.taskIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.participantUser != null and paramCondition.participantUser != '' ">
            and (participant.user_id = #{paramCondition.participantUser}
            or task.user_id = #{paramCondition.participantUser}
            )
        </if>
        group by task.process_task_id
    </select>
</mapper>
