<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.portal.banner.mapper.BannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.portal.banner.entity.Banner">
        <id column="banner_id" property="bannerId"/>
        <result column="title" property="title"/>
        <result column="img_url" property="imgUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="sort" property="sort"/>
        <result column="link" property="link"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="difference" property="difference"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">sort
    AS "sort" ,link AS "link",difference AS "difference", deptId AS "deptId",tenant_id AS "tenantId",

        banner_id AS "bannerId", title AS "title", img_url AS "imgUrl", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.portal.banner.model.result.BannerResult"
            parameterType="cn.atsoft.dasheng.portal.banner.model.params.BannerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_banner where difference in(1,2)]
        <if test="paramCondition.title != null and paramCondition.title != ''">
            and title like CONCAT('%',#{paramCondition.title},'%')
        </if>


    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.portal.banner.model.params.BannerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_banner where difference in(1,2)
        <if test="paramCondition.title != null and paramCondition.title != ''">
            and title like CONCAT('%',#{paramCondition.title},'%')
        </if>

    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.portal.banner.model.result.BannerResult"
            parameterType="cn.atsoft.dasheng.portal.banner.model.params.BannerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_banner where display = 1 and difference in(1,2)
        <if test="paramCondition.title != null and paramCondition.title != ''">
            and title like CONCAT('%',#{paramCondition.title},'%')
        </if>
        <if test="paramCondition.difference != null and paramCondition.difference != ' '">
            and difference = #{paramCondition.difference}
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>
        order by sort
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.portal.banner.model.params.BannerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_banner where difference in(1,2)
        <if test="paramCondition.title != null and paramCondition.title != ''">
            and title like CONCAT('%',#{paramCondition.title},'%')
        </if>

    </select>

</mapper>
