<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.task.mapper.AsynTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.task.entity.AsynTask">
        <id column="task_id" property="taskId"/>
        <result column="all_count" property="allCount"/>
        <result column="count" property="count"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="success_num" property="successNum"/>
        <result column="error_num" property="errorNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List"> success_num
    AS "successNum" , error_num AS "errorNum"
    ,
        task_id
        AS "taskId", all_count AS "allCount", count AS "count", type AS "type",  status AS "status", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.task.model.result.AsynTaskResult"
            parameterType="cn.atsoft.dasheng.task.model.params.AsynTaskParam">
        select
        <include refid="Base_Column_List"/>
        from asyn_task where 1 = 1
        <if test="paramCondition.taskId != null">
            and task_id like CONCAT('%',#{paramCondition.taskId},'%')
        </if>
        <if test="paramCondition.allCount != null">
            and all_count like CONCAT('%',#{paramCondition.allCount},'%')
        </if>
        <if test="paramCondition.count != null">
            and count like CONCAT('%',#{paramCondition.count},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.task.model.params.AsynTaskParam">
        select
        <include refid="Base_Column_List"/>
        from asyn_task where 1 = 1
        <if test="paramCondition.taskId != null">
            and task_id like CONCAT('%',#{paramCondition.taskId},'%')
        </if>
        <if test="paramCondition.allCount != null">
            and all_count like CONCAT('%',#{paramCondition.allCount},'%')
        </if>
        <if test="paramCondition.count != null">
            and count like CONCAT('%',#{paramCondition.count},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.task.model.result.AsynTaskResult"
            parameterType="cn.atsoft.dasheng.task.model.params.AsynTaskParam">
        select
        <include refid="Base_Column_List"/>
        from asyn_task where 1 = 1
        <if test="paramCondition.taskId != null">
            and task_id like CONCAT('%',#{paramCondition.taskId},'%')
        </if>
        <if test="paramCondition.allCount != null">
            and all_count like CONCAT('%',#{paramCondition.allCount},'%')
        </if>
        <if test="paramCondition.count != null">
            and count like CONCAT('%',#{paramCondition.count},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.task.model.params.AsynTaskParam">
        select
        <include refid="Base_Column_List"/>
        from asyn_task where 1 = 1
        <if test="paramCondition.taskId != null">
            and task_id like CONCAT('%',#{paramCondition.taskId},'%')
        </if>
        <if test="paramCondition.allCount != null">
            and all_count like CONCAT('%',#{paramCondition.allCount},'%')
        </if>
        <if test="paramCondition.count != null">
            and count like CONCAT('%',#{paramCondition.count},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="skuAnalyseList" parameterType="Long" resultType="cn.atsoft.dasheng.task.pojo.SkuAnalyse">
        SELECT goods_spu_class.spu_classification_id as spuClassId,
        goods_spu_class.NAME as className,
        goods_spu.spu_id as spuId,
        goods_sku.sku_id as skuId
        FROM goods_sku
        LEFT JOIN goods_spu ON goods_sku.spu_id = goods_spu.spu_id
        LEFT JOIN goods_spu_class ON goods_spu_class.spu_classification_id = goods_spu.spu_classification_id
        <where>
            <if test="skuIds != null and skuIds.size > 0">
                goods_sku.sku_id in
                <foreach collection="skuIds" open="(" close=")" item="state" index="index" separator=",">
                    #{state}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
