<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.orderPaymentApply.mapper.CrmOrderPaymentApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.orderPaymentApply.entity.CrmOrderPaymentApply">
        <id column="sp_no" property="spNo" />
        <result column="order_id" property="orderId" />
        <result column="new_money" property="newMoney" />
        <result column="display" property="display" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="done_time" property="doneTime" />
        <result column="status" property="status" />
        <result column="deptId" property="deptId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id AS "orderId",done_time AS doneTime, new_money AS "newMoney", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", sp_no AS "spNo", status AS "status"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.orderPaymentApply.model.result.CrmOrderPaymentApplyResult" parameterType="cn.atsoft.dasheng.orderPaymentApply.model.params.CrmOrderPaymentApplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_order_payment_apply where 1 = 1
    </select>

    <select id="getOneById" resultType="cn.atsoft.dasheng.orderPaymentApply.model.result.CrmOrderPaymentApplyResult" >
        SELECT
            p.order_id AS "orderId",
            p.new_money AS "newMoney",
            p.display AS "display",
            p.create_user AS "createUser",
            p.update_user AS "updateUser",
            p.create_time AS "createTime",
            p.update_time AS "updateTime",
            p.sp_no AS "spNo",
            p.STATUS AS "status",
            p.filed AS "filed",
            p.deptId AS "deptId",
            a.creator_user AS "creatorUser",
            a.msg AS msg,
            a.done_time As "doneTime"
        FROM
            `daoxin_crm_order_payment_apply` p
            LEFT JOIN wx_audit a ON p.sp_no = a.sp_no
            where 1 = 1 and p.display = 1
            and p.sp_no = #{id}
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.orderPaymentApply.model.params.CrmOrderPaymentApplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_order_payment_apply where 1 = 1
    </select>

<!--    <select id="customPageList" resultType="cn.atsoft.dasheng.orderPaymentApply.model.result.CrmOrderPaymentApplyResult" parameterType="cn.atsoft.dasheng.orderPaymentApply.model.params.CrmOrderPaymentApplyParam">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from daoxin_crm_order_payment_apply where 1 = 1-->
<!--    </select>-->
    <select id="customPageList" resultType="cn.atsoft.dasheng.orderPaymentApply.model.result.CrmOrderPaymentApplyResult" parameterType="cn.atsoft.dasheng.orderPaymentApply.model.params.CrmOrderPaymentApplyParam">
        SELECT
            p.order_id AS "orderId",
            p.new_money AS "newMoney",
            p.display AS "display",
            p.create_user AS "createUser",
            p.update_user AS "updateUser",
            p.create_time AS "createTime",
            p.update_time AS "updateTime",
            p.sp_no AS "spNo",
            p.STATUS AS "status",
            p.filed AS "filed",
            a.creator_user AS "creatorUser",
            a.msg AS msg,
            a.done_time As "doneTime",
            p.deptId AS "deptId"
        FROM
        `daoxin_crm_order_payment_apply` p
        LEFT JOIN wx_audit a ON p.sp_no = a.sp_no
        LEFT JOIN daoxin_crm_order o on p.order_id = o.order_id
        where 1 = 1 and p.display = 1
        <if test="paramCondition.coding != null">
            and o.coding = #{paramCondition.coding}
        </if>
        <if test="paramCondition.theme != null">
            and o.theme = #{paramCondition.theme}
        </if>
        <if test="paramCondition.orderId != null">
            and p.order_id = #{paramCondition.orderId}
        </if>
        <if test="paramCondition.status != null">
            and p.status = #{paramCondition.status}
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.orderPaymentApply.model.params.CrmOrderPaymentApplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_order_payment_apply where 1 = 1
    </select>

</mapper>
