<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.AnomalyDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.AnomalyDetail">
        <id column="detail_id" property="detailId" />
        <result column="anomaly_id" property="anomalyId" />
        <result column="inkind_id" property="inkindId" />
        <result column="stauts" property="stauts" />
        <result column="remark" property="remark" />
        <result column="reason_img" property="reasonImg" />
        <result column="user_id" property="userId" />
        <result column="opinion" property="opinion" />
        <result column="opinion_img" property="opinionImg" />
        <result column="describe" property="describe" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        detail_id AS "detailId", anomaly_id AS "anomalyId", inkind_id AS "inkindId", stauts AS "stauts", remark AS "remark", reason_img AS "reasonImg", user_id AS "userId", opinion AS "opinion", opinion_img AS "opinionImg", describe AS "describe", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.AnomalyDetailResult" parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly_detail where 1 = 1
            <if test="paramCondition.detailId != null">
                and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
            </if>
            <if test="paramCondition.anomalyId != null">
                and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
            </if>
            <if test="paramCondition.inkindId != null">
                and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
            </if>
            <if test="paramCondition.stauts != null">
                and stauts like CONCAT('%',#{paramCondition.stauts},'%')
            </if>
            <if test="paramCondition.remark != null and paramCondition.remark != ''">
                and remark like CONCAT('%',#{paramCondition.remark},'%')
            </if>
            <if test="paramCondition.reasonImg != null and paramCondition.reasonImg != ''">
                and reason_img like CONCAT('%',#{paramCondition.reasonImg},'%')
            </if>
            <if test="paramCondition.userId != null">
                and user_id like CONCAT('%',#{paramCondition.userId},'%')
            </if>
            <if test="paramCondition.opinion != null and paramCondition.opinion != ''">
                and opinion like CONCAT('%',#{paramCondition.opinion},'%')
            </if>
            <if test="paramCondition.opinionImg != null and paramCondition.opinionImg != ''">
                and opinion_img like CONCAT('%',#{paramCondition.opinionImg},'%')
            </if>
            <if test="paramCondition.describe != null and paramCondition.describe != ''">
                and describe like CONCAT('%',#{paramCondition.describe},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly_detail where 1 = 1
                <if test="paramCondition.detailId != null">
                        and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
                </if>
                <if test="paramCondition.anomalyId != null">
                        and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
                </if>
                <if test="paramCondition.inkindId != null">
                        and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
                </if>
                <if test="paramCondition.stauts != null">
                        and stauts like CONCAT('%',#{paramCondition.stauts},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.reasonImg != null and paramCondition.reasonImg != ''">
                        and reason_img like CONCAT('%',#{paramCondition.reasonImg},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.opinion != null and paramCondition.opinion != ''">
                        and opinion like CONCAT('%',#{paramCondition.opinion},'%')
                </if>
                <if test="paramCondition.opinionImg != null and paramCondition.opinionImg != ''">
                        and opinion_img like CONCAT('%',#{paramCondition.opinionImg},'%')
                </if>
                <if test="paramCondition.describe != null and paramCondition.describe != ''">
                        and describe like CONCAT('%',#{paramCondition.describe},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.AnomalyDetailResult" parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly_detail where 1 = 1
                <if test="paramCondition.detailId != null">
                        and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
                </if>
                <if test="paramCondition.anomalyId != null">
                        and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
                </if>
                <if test="paramCondition.inkindId != null">
                        and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
                </if>
                <if test="paramCondition.stauts != null">
                        and stauts like CONCAT('%',#{paramCondition.stauts},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.reasonImg != null and paramCondition.reasonImg != ''">
                        and reason_img like CONCAT('%',#{paramCondition.reasonImg},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.opinion != null and paramCondition.opinion != ''">
                        and opinion like CONCAT('%',#{paramCondition.opinion},'%')
                </if>
                <if test="paramCondition.opinionImg != null and paramCondition.opinionImg != ''">
                        and opinion_img like CONCAT('%',#{paramCondition.opinionImg},'%')
                </if>
                <if test="paramCondition.describe != null and paramCondition.describe != ''">
                        and describe like CONCAT('%',#{paramCondition.describe},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly_detail where 1 = 1
                <if test="paramCondition.detailId != null">
                        and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
                </if>
                <if test="paramCondition.anomalyId != null">
                        and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
                </if>
                <if test="paramCondition.inkindId != null">
                        and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
                </if>
                <if test="paramCondition.stauts != null">
                        and stauts like CONCAT('%',#{paramCondition.stauts},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.reasonImg != null and paramCondition.reasonImg != ''">
                        and reason_img like CONCAT('%',#{paramCondition.reasonImg},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.opinion != null and paramCondition.opinion != ''">
                        and opinion like CONCAT('%',#{paramCondition.opinion},'%')
                </if>
                <if test="paramCondition.opinionImg != null and paramCondition.opinionImg != ''">
                        and opinion_img like CONCAT('%',#{paramCondition.opinionImg},'%')
                </if>
                <if test="paramCondition.describe != null and paramCondition.describe != ''">
                        and describe like CONCAT('%',#{paramCondition.describe},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

</mapper>
