<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.AnomalyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.Anomaly">
        <id column="anomaly_id" property="anomalyId"/>
        <result column="type" property="type"/>
        <result column="form_id" property="formId"/>
        <result column="remark" property="remark"/>
        <result column="enclosure" property="enclosure"/>
        <result column="theme" property="theme"/>
        <result column="origin" property="origin"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
        <result column="sku_id" property="skuId"/>
        <result column="need_number" property="needNumber"/>
        <result column="real_number" property="realNumber"/>
        <result column="reason" property="reason"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="brand_id" property="brandId"/>
        <result column="customer_id" property="customerId"/>
        <result column="order_id" property="orderId"/>
        <result column="instock_number" property="instockNumber"/>
        <result column="check_number" property="checkNumber"/>
        <result column="position_id" property="positionId"/>
        <result column="customer_json" property="customerJson"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">brand_id
    AS "brandId",customer_id AS"customerId",order_id AS "orderId",instock_number AS "instock_number", check_number AS "checkNumber",
position_id AS "positionId",customer_json AS "customerJson",
        anomaly_id
        AS "anomalyId", type AS "type", form_id AS "formId", remark AS "remark", enclosure AS "enclosure", theme AS "theme", origin AS "origin", source AS "source", source_id AS "sourceId", sku_id AS "skuId", need_number AS "needNumber", real_number AS "realNumber", reason AS "reason", status AS "status", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.AnomalyResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly where 1 = 1 and display = 1
        <if test="paramCondition.anomalyId != null">
            and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.enclosure != null and paramCondition.enclosure != ''">
            and enclosure like CONCAT('%',#{paramCondition.enclosure},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.needNumber != null">
            and need_number like CONCAT('%',#{paramCondition.needNumber},'%')
        </if>
        <if test="paramCondition.realNumber != null">
            and real_number like CONCAT('%',#{paramCondition.realNumber},'%')
        </if>
        <if test="paramCondition.reason != null and paramCondition.reason != ''">
            and reason like CONCAT('%',#{paramCondition.reason},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test=" paramCondition.beginTime != null and paramCondition.beginTime != '' ">
            AND Year(create_time) = #{paramCondition.beginTime}
        </if>

    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly where 1 = 1
        <if test="paramCondition.anomalyId != null">
            and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.enclosure != null and paramCondition.enclosure != ''">
            and enclosure like CONCAT('%',#{paramCondition.enclosure},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.needNumber != null">
            and need_number like CONCAT('%',#{paramCondition.needNumber},'%')
        </if>
        <if test="paramCondition.realNumber != null">
            and real_number like CONCAT('%',#{paramCondition.realNumber},'%')
        </if>
        <if test="paramCondition.reason != null and paramCondition.reason != ''">
            and reason like CONCAT('%',#{paramCondition.reason},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.AnomalyResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly where 1 = 1 and display = 1
        <if test="paramCondition.anomalyId != null">
            and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.enclosure != null and paramCondition.enclosure != ''">
            and enclosure like CONCAT('%',#{paramCondition.enclosure},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.needNumber != null">
            and need_number like CONCAT('%',#{paramCondition.needNumber},'%')
        </if>
        <if test="paramCondition.realNumber != null">
            and real_number like CONCAT('%',#{paramCondition.realNumber},'%')
        </if>
        <if test="paramCondition.reason != null and paramCondition.reason != ''">
            and reason like CONCAT('%',#{paramCondition.reason},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_anomaly where 1 = 1
        <if test="paramCondition.anomalyId != null">
            and anomaly_id like CONCAT('%',#{paramCondition.anomalyId},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.enclosure != null and paramCondition.enclosure != ''">
            and enclosure like CONCAT('%',#{paramCondition.enclosure},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.needNumber != null">
            and need_number like CONCAT('%',#{paramCondition.needNumber},'%')
        </if>
        <if test="paramCondition.realNumber != null">
            and real_number like CONCAT('%',#{paramCondition.realNumber},'%')
        </if>
        <if test="paramCondition.reason != null and paramCondition.reason != ''">
            and reason like CONCAT('%',#{paramCondition.reason},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="anomalyComplete" resultType="cn.atsoft.dasheng.erp.model.result.AnomalyResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.AnomalyParam">
        SELECT daoxin_anomaly.anomaly_id as anomalyId,
        daoxin_anomaly.sku_id as skuId,
        daoxin_anomaly.brand_id as brandId,
        daoxin_anomaly.position_id as positionId,
        daoxin_anomaly_order.order_id as orderId,
        daoxin_anomaly.type as type,
        daoxin_anomaly_order.complete as orderComplete
        FROM daoxin_anomaly
        LEFT JOIN daoxin_anomaly_order ON daoxin_anomaly.order_id = daoxin_anomaly_order.order_id
        where daoxin_anomaly.order_id is not null
        and daoxin_anomaly.type = 'timelyInventory'
        and daoxin_anomaly_order.complete != 99
        <if test="paramCondition.skuIds != null and paramCondition.skuIds.size>0">
            and daoxin_anomaly.sku_id in
            <foreach collection="paramCondition.skuIds" separator="," index="index" item="state" close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.brandIds != null and paramCondition.brandIds.size>0">
            and daoxin_anomaly.brand_id in
            <foreach collection="paramCondition.brandIds" separator="," index="index" item="state" close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.positionIds != null and paramCondition.positionIds.size>0">
            and daoxin_anomaly.position_id in
            <foreach collection="paramCondition.positionIds" separator="," index="index" item="state" close=")"
                     open="(">
                #{state}
            </foreach>
        </if>
    </select>
    <select id="countErrorByOrderType" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
            count( DISTINCT anomaly.sku_id ) AS "errorSkuCount",
            sum( anomaly.real_number - anomaly.need_number ) AS "errorNumCount",
            instock.instock_type AS "type"
        FROM
            daoxin_anomaly anomaly
                LEFT JOIN daoxin_erp_instock_order instock ON anomaly.form_id = instock.instock_order_id
        WHERE
            1 = 1
          and	anomaly.type = "InstockError"
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(anomaly.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(anomaly.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY instock.instock_type
        ORDER BY sum( anomaly.real_number - anomaly.need_number ) DESC
    </select>
    <select id="count" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
            count( DISTINCT sku_id ) AS "errorSkuCount",
            sum( real_number - need_number ) AS "errorNumCount"
        FROM
            daoxin_anomaly
        WHERE
            1 = 1
          AND type = "InstockError"
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

    </select>
</mapper>
