<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.InstockListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.InstockList">
        <id column="instock_list_id" property="instockListId"/>
        <result column="brand_id" property="brandId"/>
        <result column="status" property="status"/>
        <result column="number" property="number"/>
        <result column="instock_order_id" property="instockOrderId"/>
        <result column="received_date" property="receivedDate"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="manufacture_date" property="manufactureDate"/>
        <result column="lot_number" property="lotNumber"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="inkind_id" property="inkindId"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="storehouse_id" property="storeHouseId"/>
        <result column="cost_price" property="costPrice"/>
        <result column="selling_price" property="sellingPrice"/>
        <result column="deptId" property="deptId"/>
        <result column="sku_id" property="skuId"/>
        <result column="storehouse_positions_id" property="storehousePositionsId"/>
        <result column="instock_number" property="instockNumber"/>
        <result column="real_number" property="realNumber"/>
        <result column="customer_id" property="customerId"/>
        <result column="anomaly_handle" property="anomalyHandle"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">received_date
    AS "receivedDate",effective_date AS "effectiveDate",manufacture_date AS "manufactureDate",lot_number AS "lotNumber",serial_number AS "serialNumber",
        instock_number
        AS "instockNumber",real_number AS "realNumber",customer_id AS "customerId",anomaly_handle AS "anomalyHandle",
storehouse_id
    AS "storeHouseId", selling_price AS "sellingPrice",cost_price AS "costPrice",sku_id AS "skuId",storehouse_positions_id AS "storehousePositionsId",
        instock_list_id AS "instockListId", brand_id AS "brandId",inkind_id AS "inkindId", status AS "status", number AS "number", instock_order_id AS "instockOrderId", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.InstockListResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.InstockListParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.instockListId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.instockListId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.InstockListParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.instockListId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.instockListId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and storehouse_id like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.InstockListResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.InstockListParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.instockListId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.instockListId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.storeHouseId != null">
            and storeHouseId like CONCAT('%',#{paramCondition.storeHouseId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.InstockListParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.instockListId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.instockListId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>
    <select id="groupBySpuClass" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        class.`name` AS "spuClassName",
        count(distinct list.sku_id) AS "inSkuCount",
        sum(list.instock_number)AS "inNumCount",
        class.create_time AS "createTime"
        FROM daoxin_erp_instock_list list
        LEFT JOIN goods_sku sku on list.sku_id = sku.sku_id
        LEFT JOIN goods_spu spu on spu.spu_id = sku.spu_id
        LEFT JOIN goods_spu_class class on spu.spu_classification_id = class.spu_classification_id
        WHERE 1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY class.spu_classification_id
        ORDER BY sum(list.number) DESC
    </select>

    <select id="groupByInstockType" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
            count(distinct list.sku_id) AS "inSkuCount",
            sum(list.number)AS "inNumCount",
            instock.instock_type AS "type",
            list.create_time AS "createTime"
        FROM daoxin_erp_instock_log_detail list
                 LEFT JOIN daoxin_erp_instock_order instock on list.instock_order_id = instock.instock_order_id
        WHERE 1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY instock.instock_type
        ORDER BY sum(list.number) DESC
    </select>
    <select id="groupByStorehouse" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
            house.`name` AS "storehouseName",
            count( DISTINCT list.sku_id ) AS "inSkuCount",
            sum( list.number ) AS "inNumCount",
            list.create_time AS "createTime"

        FROM
            daoxin_erp_instock_log_detail list
                LEFT JOIN daoxin_erp_storehouse_positions position on position.storehouse_positions_id = list.storehouse_positions_id
            LEFT JOIN daoxin_erp_storehouse house on house.storehouse_id = position.storehouse_id
        WHERE
            1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY house.storehouse_id
        ORDER BY
            sum( list.number ) DESC
    </select>
    <select id="groupByCustomerSku" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        customer.customer_name AS "customerName",
        count( DISTINCT list.sku_id ) AS "inSkuCount",
        sum( list.number ) AS "inNumCount",
        list.create_time AS "createTime"
        FROM
        daoxin_erp_instock_log_detail list
        LEFT JOIN daoxin_erp_instock_order instock on list.instock_order_id = instock.instock_order_id
        LEFT JOIN daoxin_crm_customer customer on customer.customer_id = instock.customer_id
        WHERE
            1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY instock.customer_id
        ORDER BY
        count( DISTINCT list.sku_id ) DESC

    </select>
    <select id="groupByCustomerNum" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        customer.customer_name AS "customerName",
        count( DISTINCT list.sku_id ) AS "inSkuCount",
        sum( list.number ) AS "inNumCount",
        instock.create_time AS "createTime"
        FROM
        daoxin_erp_instock_log_detail list
        LEFT JOIN daoxin_erp_instock_order instock on list.instock_order_id = instock.instock_order_id
        LEFT JOIN daoxin_crm_customer customer on customer.customer_id = instock.customer_id
        WHERE
            1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY instock.customer_id
        ORDER BY
        sum( list.number ) DESC
    </select>
    <select id="listView" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        list.instock_list_id AS instockListId,
        list.brand_id AS "brandId",
        list.sku_id AS "skuId",
        sum( list.number ) AS "number",
        sum( list.instock_number ) AS "instockNumber",
        sum( list.number - list.instock_number ) AS "noInstockNumber",
        instock.create_time AS "createTime"
        FROM
        daoxin_erp_instock_list list
        LEFT JOIN goods_sku sku ON list.sku_id = sku.sku_id
        LEFT JOIN goods_spu spu ON spu.spu_id = sku.spu_id
        LEFT JOIN goods_spu_class class ON spu.spu_classification_id = class.spu_classification_id
        LEFT JOIN daoxin_erp_instock_order instock ON list.instock_order_id = instock.instock_order_id
        LEFT JOIN daoxin_crm_customer customer ON customer.customer_id = instock.customer_id
        WHERE
            1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and list.create_time BETWEEN #{paramCondition.beginTime} and #{paramCondition.endTime}

        </if>
        <if test="paramCondition.spuClassId != null">
            and class.spu_classification_id = #{paramCondition.spuClassId}
        </if>
        <if test="paramCondition.customerId != null">
            and list.customer_id = #{paramCondition.customerId}
        </if>
        <if test="paramCondition.name != null">
            and (spu.name like CONCAT ('%',#{paramCondition.name},'%')
            or sku.sku_name like CONCAT ('%',#{paramCondition.name},'%')
            or sku.standard like CONCAT ('%',#{paramCondition.name},'%'))
        </if>

        <if test="paramCondition.searchType != null">
            <choose>
                <when test="paramCondition.searchType.name == 'NO_INSTOCK_NUMBER'">
                    and  list.number - list.instock_number > 0
                </when>
                <when test="paramCondition.searchType.name == 'INSTOCK_NUMBER'">
                    and  list.instock_number  > 0
                </when>
            </choose>
        </if>
        GROUP BY list.sku_id,list.brand_id,list.brand_id
        ORDER BY
        sum( list.number ) DESC
    </select>


</mapper>
