<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.InstockLogDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.InstockLogDetail">
        <id column="instock_log_detail_id" property="instockLogDetailId"/>
        <result column="instock_log_id" property="instockLogId"/>
        <result column="inkind_id" property="inkindId"/>
        <result column="sku_id" property="skuId"/>
        <result column="brand_id" property="brandId"/>
        <result column="number" property="number"/>
        <result column="instock_order_id" property="instockOrderId"/>
        <result column="storehouse_id" property="storehouseId"/>
        <result column="storehouse_positions_id" property="storehousePositionsId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="customer_id" property="customerId"/>
        <result column="type" property="type"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
        <result column="receipt_id" property="receiptId"/>
        <result column="anomaly_id" property="anomalyId"/>
        <result column="real_number" property="realNumber"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">type
    AS "type", customer_id AS "customerId", receipt_id  AS "receiptId",anomaly_id AS "anomalyId",real_number AS "realNumber",
        instock_log_detail_id
        AS "instockLogDetailId", instock_log_id AS "instockLogId",source AS "source",source_id AS "sourceId", inkind_id AS "inkindId", sku_id AS "skuId", brand_id AS "brandId", number AS "number",  instock_order_id AS "instockOrderId", storehouse_id AS "storehouseId", storehouse_positions_id AS "storehousePositionsId", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.InstockLogDetailResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.InstockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_log_detail where 1 = 1
        <if test="paramCondition.instockLogDetailId != null">
            and instock_log_detail_id like CONCAT('%',#{paramCondition.instockLogDetailId},'%')
        </if>
        <if test="paramCondition.instockLogId != null">
            and instock_log_id like CONCAT('%',#{paramCondition.instockLogId},'%')
        </if>
        <if test="paramCondition.inkindId != null">
            and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>

        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>

        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>

        <if test="paramCondition.storehouseId != null">
            and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
        </if>
        <if test="paramCondition.storehousePositionsId != null">
            and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source = #{paramCondition.source}
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id = #{paramCondition.sourceId}
        </if>
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and sku_id in (
            select sku_id from goods_sku where sku_name like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select sku_id from goods_sku where standard like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select sku_id from goods_sku where spu_id in (select spu_id from goods_spu where name like
            CONCAT('%',#{paramCondition.skuName},'%') )
                        )
        </if>

        order by create_time
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.erp.model.params.InstockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_log_detail where 1 = 1
        <if test="paramCondition.instockLogDetailId != null">
            and instock_log_detail_id like CONCAT('%',#{paramCondition.instockLogDetailId},'%')
        </if>
        <if test="paramCondition.instockLogId != null">
            and instock_log_id like CONCAT('%',#{paramCondition.instockLogId},'%')
        </if>
        <if test="paramCondition.inkindId != null">
            and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>

        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>

        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>


        <if test="paramCondition.storehouseId != null">
            and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
        </if>

        <if test="paramCondition.storehousePositionsId != null">
            and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source = #{paramCondition.source}
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id = #{paramCondition.sourceId}
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.InstockLogDetailResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.InstockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_log_detail where 1 = 1
        <if test="paramCondition.instockLogDetailId != null">
            and instock_log_detail_id like CONCAT('%',#{paramCondition.instockLogDetailId},'%')
        </if>
        <if test="paramCondition.instockLogId != null">
            and instock_log_id like CONCAT('%',#{paramCondition.instockLogId},'%')
        </if>
        <if test="paramCondition.inkindId != null">
            and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>

        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>

        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.storehouseId != null">
            and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
        </if>
        <if test="paramCondition.storehousePositionsId != null">
            and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source = #{paramCondition.source}
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id = #{paramCondition.sourceId}
        </if>
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and sku_id in (
            select sku_id from goods_sku where sku_name like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select sku_id from goods_sku where standard like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select sku_id from goods_sku where spu_id in (select spu_id from goods_spu where name like
            CONCAT('%',#{paramCondition.skuName},'%') )
            )
        </if>

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.erp.model.params.InstockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_log_detail where 1 = 1
        <if test="paramCondition.instockLogDetailId != null">
            and instock_log_detail_id like CONCAT('%',#{paramCondition.instockLogDetailId},'%')
        </if>
        <if test="paramCondition.instockLogId != null">
            and instock_log_id like CONCAT('%',#{paramCondition.instockLogId},'%')
        </if>
        <if test="paramCondition.inkindId != null">
            and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>

        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>

        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>

        <if test="paramCondition.storehouseId != null">
            and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
        </if>

        <if test="paramCondition.storehousePositionsId != null">
            and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source = #{paramCondition.source}
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id = #{paramCondition.sourceId}
        </if>
    </select>

</mapper>
