<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.ItemAttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.ItemAttribute">
        <id column="attribute_id" property="attributeId" />
        <result column="attribute" property="attribute" />
        <result column="item_id" property="itemId" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="sort" property="sort" />
        <result column="attribute_values_id" property="attributeValuesId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attribute_id AS "attributeId", attribute AS "attribute", item_id AS "itemId", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", sort AS "sort", attribute_values_id AS "attributeValuesId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.ItemAttributeResult" parameterType="cn.atsoft.dasheng.erp.model.params.ItemAttributeParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_item_attribute where 1 = 1
            <if test="paramCondition.attributeId != null">
                and attribute_id like CONCAT('%',#{paramCondition.attributeId},'%')
            </if>
            <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
                and attribute like CONCAT('%',#{paramCondition.attribute},'%')
            </if>
            <if test="paramCondition.itemId != null">
                and item_id like CONCAT('%',#{paramCondition.itemId},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.ItemAttributeParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_item_attribute where 1 = 1
                <if test="paramCondition.attributeId != null">
                        and attribute_id like CONCAT('%',#{paramCondition.attributeId},'%')
                </if>
                <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
                        and attribute like CONCAT('%',#{paramCondition.attribute},'%')
                </if>
                <if test="paramCondition.itemId != null">
                        and item_id like CONCAT('%',#{paramCondition.itemId},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.ItemAttributeResult" parameterType="cn.atsoft.dasheng.erp.model.params.ItemAttributeParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_item_attribute where 1 = 1
                <if test="paramCondition.attributeId != null">
                        and attribute_id like CONCAT('%',#{paramCondition.attributeId},'%')
                </if>
                <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
                        and attribute like CONCAT('%',#{paramCondition.attribute},'%')
                </if>
                <if test="paramCondition.itemId != null">
                        and item_id like CONCAT('%',#{paramCondition.itemId},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.ItemAttributeParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_item_attribute where 1 = 1
                <if test="paramCondition.attributeId != null">
                        and attribute_id like CONCAT('%',#{paramCondition.attributeId},'%')
                </if>
                <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
                        and attribute like CONCAT('%',#{paramCondition.attribute},'%')
                </if>
                <if test="paramCondition.itemId != null">
                        and item_id like CONCAT('%',#{paramCondition.itemId},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
    </select>

</mapper>
