<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.OutstockApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.OutstockApply">
        <id column="outstock_apply_id" property="outstockApplyId"/>
        <result column="user_id" property="userId"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="customer_id" property="customerId"/>
        <result column="remark" property="remark"/>
        <result column="apply_state" property="applyState"/>
        <result column="stock_id" property="stockId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List"> stock_id
    AS "stockId",
        customer_id
        AS "customerId",
        remark AS "remark",
        outstock_apply_id
        AS "outstockApplyId", user_id AS "userId", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", apply_state AS "applyState"</sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.OutstockApplyResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.OutstockApplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_apply where 1 = 1 and display = 1
        <if test="paramCondition.applyState != null">
            and apply_state like CONCAT('%',#{paramCondition.applyState},'%')
        </if>

    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.OutstockApplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_apply where 1 = 1 and display = 1
        <if test="paramCondition.applyState != null">
            and apply_state like CONCAT('%',#{paramCondition.applyState},'%')
        </if>

    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.OutstockApplyResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.OutstockApplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_apply where 1 = 1 and display = 1
        <if test="paramCondition.applyState != null">
            and apply_state like CONCAT('%',#{paramCondition.applyState},'%')
        </if>
        <if test="paramCondition.outstockApplyId != null">
            and outstock_apply_id = #{paramCondition.outstockApplyId}
        </if>

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.erp.model.params.OutstockApplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_apply where 1 = 1 and display = 1
        <if test="paramCondition.applyState != null">
            and apply_state like CONCAT('%',#{paramCondition.applyState},'%')
        </if>

    </select>

</mapper>
