<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.OutstockListingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.OutstockListing">
        <id column="outstock_listing_id" property="outstockListingId"/>
        <result column="time" property="time"/>
        <result column="number" property="number"/>
        <result column="price" property="price"/>
        <result column="brand_id" property="brandId"/>
        <result column="deptId" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="after_number" property="afterNumber"/>
        <result column="before_number" property="beforeNumber"/>
        <result column="storehouse_positions_id" property="storehousePositionsId"/>
        <result column="storehouse_id" property="storehouseId"/>
        <result column="display" property="display"/>
        <result column="item_id" property="itemId"/>
        <result column="state" property="state"/>
        <result column="outstock_order_id" property="outstockOrderId"/>
        <result column="outstock_apply_id" property="outstockApplyId"/>
        <result column="delivery_id" property="deliveryId"/>
        <result column="sku_id" property="skuId"/>
        <result column="delivery" property="delivery"/>
        <result column="customer_id" property="customerId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">storehouse_positions_id
    AS "storehousePositionsId", storehouse_id AS "storehouseId",
delivery_id
    AS "deliveryId",sku_id AS "skuId",delivery AS "delivery", customer_id AS "customerId",after_number AS "afterNumber",before_number AS "beforeNumber",
        outstock_listing_id
        AS "outstockListingId", time AS "time", number AS "number", price AS "price", brand_id AS "brandId", deptId AS "deptId", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display", item_id AS "itemId", state AS "state", outstock_order_id AS "outstockOrderId", outstock_apply_id AS "outstockApplyId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.OutstockListingResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.OutstockListingParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_listing where 1 = 1 and display = 1
        <if test="paramCondition.outstockListingId != null">
            and outstock_listing_id like CONCAT('%',#{paramCondition.outstockListingId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.itemId != null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
        <if test="paramCondition.state != null and paramCondition.state != ''">
            and state like CONCAT('%',#{paramCondition.state},'%')
        </if>
        <if test="paramCondition.outstockOrderId != null">
            and outstock_order_id like CONCAT('%',#{paramCondition.outstockOrderId},'%')
        </if>
        <if test="paramCondition.outstockApplyId != null">
            and outstock_apply_id like CONCAT('%',#{paramCondition.outstockApplyId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.OutstockListingParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_listing where 1 = 1 and display = 1
        <if test="paramCondition.outstockListingId != null">
            and outstock_listing_id like CONCAT('%',#{paramCondition.outstockListingId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.itemId != null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
        <if test="paramCondition.state != null and paramCondition.state != ''">
            and state like CONCAT('%',#{paramCondition.state},'%')
        </if>
        <if test="paramCondition.outstockOrderId != null">
            and outstock_order_id like CONCAT('%',#{paramCondition.outstockOrderId},'%')
        </if>
        <if test="paramCondition.outstockApplyId != null">
            and outstock_apply_id like CONCAT('%',#{paramCondition.outstockApplyId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.OutstockListingResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.OutstockListingParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_listing where 1 = 1 and display = 1
        <if test="paramCondition.outstockListingId != null">
            and outstock_listing_id like CONCAT('%',#{paramCondition.outstockListingId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.itemId != null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
        <if test="paramCondition.state != null and paramCondition.state != ''">
            and state like CONCAT('%',#{paramCondition.state},'%')
        </if>
        <if test="paramCondition.outstockOrderId != null">
            and outstock_order_id like CONCAT('%',#{paramCondition.outstockOrderId},'%')
        </if>
        <if test="paramCondition.outstockApplyId != null">
            and outstock_apply_id like CONCAT('%',#{paramCondition.outstockApplyId},'%')
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.erp.model.params.OutstockListingParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_listing where 1 = 1 and display = 1
        <if test="paramCondition.outstockListingId != null">
            and outstock_listing_id like CONCAT('%',#{paramCondition.outstockListingId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.itemId != null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
        <if test="paramCondition.state != null and paramCondition.state != ''">
            and state like CONCAT('%',#{paramCondition.state},'%')
        </if>
        <if test="paramCondition.outstockOrderId != null">
            and outstock_order_id like CONCAT('%',#{paramCondition.outstockOrderId},'%')
        </if>
        <if test="paramCondition.outstockApplyId != null">
            and outstock_apply_id like CONCAT('%',#{paramCondition.outstockApplyId},'%')
        </if>
    </select>
    <select id="groupByUser" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        create_user AS "createUser",
        create_time AS "create_time",
        COUNT(outstock_order_id) AS "orderCount"
        FROM
        daoxin_erp_outstock_listing
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY
        create_user
    </select>
    <select id="groupByUserAndSku" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        create_user AS "createUser",
        create_time AS "create_time",
        COUNT(outstock_order_id) AS "orderCount",
        sum(number) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY
        create_user,sku_id
    </select>
    <select id="groupByMonth" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        table2.create_time AS "monthOfYear",
        sum(table2.orderCount) AS "orderCount"
        FROM
        (
        SELECT
        DATE_FORMAT( create_time, '%Y-%m' ) AS "create_time",
        COUNT( outstock_order_id ) AS "orderCount"
        FROM
        daoxin_erp_outstock_listing
        WHERE
        1 = 1
        GROUP BY
        create_time
        ) table2
        WHERE 1= 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY table2.create_time
    </select>
    <select id="count" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">

        SELECT
        count( DISTINCT sku_id ) AS "outSkuCount",
        sum(number) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
    </select>
    <select id="outBySpuClassCount" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">

        SELECT
        class.`name` AS "spuClassName",
        count( DISTINCT list.sku_id ) AS "outSkuCount",
        sum( list.number ) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing list
        LEFT JOIN goods_sku sku ON list.sku_id = sku.sku_id
        LEFT JOIN goods_spu spu ON spu.spu_id = sku.spu_id
        LEFT JOIN goods_spu_class class ON spu.spu_classification_id = class.spu_classification_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

        GROUP BY
        class.spu_classification_id
    </select>
    <select id="outBySpuClass" resultType="cn.atsoft.dasheng.app.model.request.StockView$SkuAndNumber"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">

        SELECT
        class.`spu_classification_id` AS "classId",
        list.`sku_id` AS "skuId",
        sum( list.number ) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing list
        LEFT JOIN goods_sku sku ON list.sku_id = sku.sku_id
        LEFT JOIN goods_spu spu ON spu.spu_id = sku.spu_id
        LEFT JOIN goods_spu_class class ON spu.spu_classification_id = class.spu_classification_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        <if test="paramCondition.spuClassIds!=null">
            and class.spu_classification_id in
            <foreach collection="paramCondition.spuClassIds" item="spuClassId" index="index" open="(" separator="," close=")">
                #{spuClassId}
            </foreach>
        </if>

        GROUP BY
        class.spu_classification_id,list.sku_id
    </select>
    <select id="outByType" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">

        SELECT
        lists.type,
        count( DISTINCT list.sku_id ) AS "outSkuCount",
        sum( list.number ) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing list
        LEFT JOIN daoxin_erp_outstock_order outstock on list.outstock_order_id = outstock.outstock_order_id
        LEFT JOIN daoxin_production_pick_lists lists on lists.pick_lists_id = outstock.source_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

        GROUP BY lists.type
    </select>
    <select id="outByStoreHouse" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        storehouse.`name`,
        count( DISTINCT list.sku_id ) AS "outSkuCount",
        sum( list.number ) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing list

        LEFT JOIN daoxin_erp_storehouse storehouse on list.storehouse_id = storehouse.storehouse_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY
        storehouse.storehouse_id
    </select>
    <select id="outByUser" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        user.user_id AS "userId",
        count( DISTINCT list.sku_id ) AS "outSkuCount",
        sum( list.number ) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing list
        LEFT JOIN sys_user user ON list.create_user = user.user_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY user.user_id
    </select>
    <select id="outByCustomerSkuCount" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        customer.`customer_name` AS "customerName",
        count( DISTINCT list.sku_id ) AS "outSkuCount",
        sum( list.number ) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing list
        LEFT JOIN goods_inkind inkind ON list.inkind_id = inkind.inkind_id
        LEFT JOIN daoxin_crm_customer customer ON customer.customer_id = inkind.inkind_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY
        customer.customer_id
        ORDER BY count( DISTINCT list.sku_id ) DESC
    </select>
    <select id="outByCustomerNumCount" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        customer.`customer_name` AS "customerName",
        count( DISTINCT list.sku_id ) AS "outSkuCount",
        sum( list.number ) AS "outNumCount"
        FROM
        daoxin_erp_outstock_listing list
        LEFT JOIN goods_inkind inkind ON list.inkind_id = inkind.inkind_id
        LEFT JOIN daoxin_crm_customer customer ON customer.customer_id = inkind.inkind_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY
        customer.customer_id
        ORDER BY sum( list.number ) DESC

    </select>
    <select id="outBySku" resultType="cn.atsoft.dasheng.app.model.request.StockView$SkuAndNumber"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        list.sku_id AS "skuId",
        sum( list.number ) AS "number",
        list.create_time AS "createTime"
        FROM
        daoxin_erp_outstock_listing list
        LEFT JOIN daoxin_erp_outstock_order outstock on list.outstock_order_id = outstock.outstock_order_id
        LEFT JOIN daoxin_production_pick_lists lists on lists.pick_lists_id = outstock.source_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(list.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY
        list.sku_id
        ORDER BY sum( list.number ) DESC
    </select>

</mapper>
