<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.QualityCheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.QualityCheck">
        <id column="quality_check_id" property="qualityCheckId"/>
        <result column="name" property="name"/>
        <result column="simple_name" property="simpleName"/>
        <result column="quality_check_classification_id" property="qualityCheckClassificationId"/>
        <result column="tool" property="tool"/>
        <result column="note" property="note"/>
        <result column="norm" property="norm"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="type" property="type"/>
        <result column="deptId" property="deptId"/>
        <result column="attachment" property="attachment"/>
        <result column="coding" property="coding"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        quality_check_id
        AS "qualityCheckId", name AS "name",type AS "type", simple_name AS "simpleName", quality_check_classification_id AS "qualityCheckClassificationId", tool AS "tool", note AS "note", norm AS "norm", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId", attachment AS "attachment", coding AS "coding"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.QualityCheckResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.QualityCheckParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_quality_check where 1 = 1 and display = 1
        <if test="paramCondition.qualityCheckId != null">
            and quality_check_id like CONCAT('%',#{paramCondition.qualityCheckId},'%')
        </if>
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.simpleName != null and paramCondition.simpleName != ''">
            and simple_name like CONCAT('%',#{paramCondition.simpleName},'%')
        </if>
        <if test="paramCondition.qualityCheckClassificationId != null">
            and quality_check_classification_id like CONCAT('%',#{paramCondition.qualityCheckClassificationId},'%')
        </if>
        <if test="paramCondition.tool != null and paramCondition.tool != ''">
            and tool like CONCAT('%',#{paramCondition.tool},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.norm != null and paramCondition.norm != ''">
            and norm like CONCAT('%',#{paramCondition.norm},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.attachment != null and paramCondition.attachment != ''">
            and attachment like CONCAT('%',#{paramCondition.attachment},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.QualityCheckParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_quality_check where 1 = 1 and display = 1
        <if test="paramCondition.qualityCheckId != null">
            and quality_check_id like CONCAT('%',#{paramCondition.qualityCheckId},'%')
        </if>
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.simpleName != null and paramCondition.simpleName != ''">
            and simple_name like CONCAT('%',#{paramCondition.simpleName},'%')
        </if>
        <if test="paramCondition.qualityCheckClassificationId != null">
            and quality_check_classification_id like CONCAT('%',#{paramCondition.qualityCheckClassificationId},'%')
        </if>
        <if test="paramCondition.tool != null and paramCondition.tool != ''">
            and tool like CONCAT('%',#{paramCondition.tool},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.norm != null and paramCondition.norm != ''">
            and norm like CONCAT('%',#{paramCondition.norm},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.attachment != null and paramCondition.attachment != ''">
            and attachment like CONCAT('%',#{paramCondition.attachment},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.QualityCheckResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.QualityCheckParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_quality_check where 1 = 1 and display = 1
        <if test="paramCondition.qualityCheckId != null">
            and quality_check_id like CONCAT('%',#{paramCondition.qualityCheckId},'%')
        </if>
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.simpleName != null and paramCondition.simpleName != ''">
            and simple_name like CONCAT('%',#{paramCondition.simpleName},'%')
        </if>
        <if test="paramCondition.qualityCheckClassificationId != null">
            and quality_check_classification_id like CONCAT('%',#{paramCondition.qualityCheckClassificationId},'%')
        </if>
        <if test="paramCondition.tool != null and paramCondition.tool != ''">
            and tool like CONCAT('%',#{paramCondition.tool},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.norm != null and paramCondition.norm != ''">
            and norm like CONCAT('%',#{paramCondition.norm},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.attachment != null and paramCondition.attachment != ''">
            and attachment like CONCAT('%',#{paramCondition.attachment},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.type != null">
            and type = #{paramCondition.type},
        </if>
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.erp.model.params.QualityCheckParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_quality_check where 1 = 1 and display = 1
        <if test="paramCondition.qualityCheckId != null">
            and quality_check_id like CONCAT('%',#{paramCondition.qualityCheckId},'%')
        </if>
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.simpleName != null and paramCondition.simpleName != ''">
            and simple_name like CONCAT('%',#{paramCondition.simpleName},'%')
        </if>
        <if test="paramCondition.qualityCheckClassificationId != null">
            and quality_check_classification_id like CONCAT('%',#{paramCondition.qualityCheckClassificationId},'%')
        </if>
        <if test="paramCondition.tool != null and paramCondition.tool != ''">
            and tool like CONCAT('%',#{paramCondition.tool},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.norm != null and paramCondition.norm != ''">
            and norm like CONCAT('%',#{paramCondition.norm},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.attachment != null and paramCondition.attachment != ''">
            and attachment like CONCAT('%',#{paramCondition.attachment},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
    </select>

</mapper>
