<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.ShopCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.ShopCart">
        <id column="cart_id" property="cartId"/>
        <result column="type" property="type"/>
        <result column="sku_id" property="skuId"/>
        <result column="brand_id" property="brandId"/>
        <result column="customer_id" property="customerId"/>
        <result column="status" property="status"/>
        <result column="number" property="number"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="form_id" property="formId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">form_id
    AS "formId",
        cart_id
        AS "cartId", type AS "type", sku_id AS "skuId", brand_id AS "brandId", customer_id AS "customerId", status AS "status", number AS "number", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.ShopCartResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.ShopCartParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_shop_cart where 1 = 1 and display = 1
        <if test="paramCondition.cartId != null">
            and cart_id like CONCAT('%',#{paramCondition.cartId},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and form_id in (
            select anomaly_id from daoxin_anomaly where form_id = (#{paramCondition.sourceId})
            union
            select instock_list_id from daoxin_erp_instock_list where instock_order_id = (#{paramCondition.sourceId})
            )
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type  = #{paramCondition.type}
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status =#{paramCondition.status}
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id = #{paramCondition.formId}
        </if>
        <if test="paramCondition.types != null and paramCondition.types.size >0 ">
            and type in
            <foreach collection="paramCondition.types" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.ShopCartParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_shop_cart where 1 = 1
        <if test="paramCondition.cartId != null">
            and cart_id like CONCAT('%',#{paramCondition.cartId},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.ShopCartResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.ShopCartParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_shop_cart where 1 = 1 and display = 1
        <if test="paramCondition.cartId != null">
            and cart_id like CONCAT('%',#{paramCondition.cartId},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id = #{paramCondition.formId}
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.ShopCartParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_shop_cart where 1 = 1
        <if test="paramCondition.cartId != null">
            and cart_id like CONCAT('%',#{paramCondition.cartId},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

</mapper>
