<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.SkuBrandBindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.SkuBrandBind">
        <id column="sku_brand_bind" property="skuBrandBind" />
        <result column="sku_id" property="skuId" />
        <result column="brand_id" property="brandId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sku_brand_bind AS "skuBrandBind", sku_id AS "skuId", brand_id AS "brandId", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.SkuBrandBindResult" parameterType="cn.atsoft.dasheng.erp.model.params.SkuBrandBindParam">
        select
        <include refid="Base_Column_List"/>
        from goods_sku_brand_bind where 1 = 1
            <if test="paramCondition.skuBrandBind != null">
                and sku_brand_bind like CONCAT('%',#{paramCondition.skuBrandBind},'%')
            </if>
            <if test="paramCondition.skuId != null">
                and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
            </if>
            <if test="paramCondition.brandId != null">
                and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.SkuBrandBindParam">
        select
        <include refid="Base_Column_List"/>
        from goods_sku_brand_bind where 1 = 1
                <if test="paramCondition.skuBrandBind != null">
                        and sku_brand_bind like CONCAT('%',#{paramCondition.skuBrandBind},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.SkuBrandBindResult" parameterType="cn.atsoft.dasheng.erp.model.params.SkuBrandBindParam">
        select
        <include refid="Base_Column_List"/>
        from goods_sku_brand_bind where 1 = 1
                <if test="paramCondition.skuBrandBind != null">
                        and sku_brand_bind like CONCAT('%',#{paramCondition.skuBrandBind},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.SkuBrandBindParam">
        select
        <include refid="Base_Column_List"/>
        from goods_sku_brand_bind where 1 = 1
                <if test="paramCondition.skuBrandBind != null">
                        and sku_brand_bind like CONCAT('%',#{paramCondition.skuBrandBind},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

</mapper>
