<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.Sku">
        <id column="sku_id" property="skuId"/>
        <result column="sku_name" property="skuName"/>
        <result column="sku_value" property="skuValue"/>
        <result column="is_ban" property="isBan"/>
        <result column="sku_value_md5" property="skuValueMd5"/>
        <result column="spu_id" property="spuId"/>
        <result column="standard" property="standard"/>
        <result column="add_method" property="addMethod"/>
        <result column="specifications" property="specifications"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="remarks" property="remarks"/>
        <result column="type" property="type"/>
        <result column="coding" property="coding"/>
        <result column="batch" property="batch"/>
        <result column="quality_plan_id" property="qualityPlanId"/>
        <result column="file_id" property="fileId"/>
        <result column="images" property="images"/>
        <result column="drawing" property="drawing"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">type
    AS "type",images AS "images",drawing AS "drawing",coding AS "coding",quality_plan_id AS "qualityPlanId",file_id AS "fileId", add_method AS "addMethod" ,
        sku_id
        AS "skuId",batch AS "batch", sku_name AS "skuName",remarks AS "remarks",standard AS standard,specifications AS "specifications",is_ban AS "isBan",sku_value_md5 AS "skuValueMd5", spu_id AS "spuId", sku_value AS "skuValue",create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display"
    </sql>
    <!-- sku,spu,spu_class查询结果列 -->
    <sql id="Left_Join_List">
        goods_spu
        .
        name
        AS "spuName",
        goods_sku.add_method AS "addMethod",
        goods_sku.images AS "images",
        goods_sku.standard AS "standard",
        goods_sku.type AS "type",
        goods_sku.coding AS "coding",
        goods_sku.quality_plan_id AS "qualityPlanId",
        goods_sku.file_id AS "fileId",
        goods_sku.sku_id AS "skuId",
        goods_sku.batch AS "batch",
        goods_sku.sku_name AS "skuName",
        goods_sku.remarks AS "remarks",
        goods_sku.specifications AS "specifications",
        goods_sku.is_ban AS "isBan",
        goods_sku.sku_value_md5 AS "skuValueMd5",
        goods_sku.spu_id AS "spuId",
        goods_sku.sku_value AS "skuValue",
        goods_sku.create_time AS "createTime",
        goods_sku.create_user AS "createUser",
        goods_sku.update_time AS "updateTime",
        goods_sku.update_user AS "updateUser",
        goods_sku.display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.SkuResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.SkuParam">
        select
        <include refid="Base_Column_List"/>
        from goods_sku where 1 = 1 and display = 1
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and sku_name like CONCAT('%',#{paramCondition.skuName},'%')
        </if>
        <if test="paramCondition.spuId != null">
            and spu_id like CONCAT('%',#{paramCondition.spuId},'%')
        </if>

    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.SkuParam">
        select
        <include refid="Base_Column_List"/>
        from goods_sku where 1 = 1 and display = 1
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and sku_name like CONCAT('%',#{paramCondition.skuName},'%')
        </if>
        <if test="paramCondition.spuId != null">
            and spu_id like CONCAT('%',#{paramCondition.spuId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.SkuResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.SkuParam">
        select
        <include refid="Left_Join_List"/>
        from goods_sku
        LEFT JOIN goods_spu ON goods_sku.spu_id = goods_spu.spu_id
        LEFT JOIN goods_spu_class ON goods_spu_class.spu_classification_id =goods_spu.spu_classification_id
        WHERE 1=1 and goods_sku.display = 1
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and (goods_spu.name like CONCAT ('%',#{paramCondition.skuName},'%')
            or sku_name like CONCAT ('%',#{paramCondition.skuName},'%')
            or standard like CONCAT ('%',#{paramCondition.skuName},'%'))

            <if test="paramCondition.skuId != null">
                AND goods_sku.sku_id = #{paramCondition.skuId}
            </if>
            <if test="paramCondition.spuId != null">
                and goods_sku.spu_id = #{paramCondition.spuId}
            </if>
            <if test="paramCondition.spuClass != null">
                and goods_spu.spu_classification_id like CONCAT('%',#{paramCondition.spuClass},'%')
            </if>
        </if>
        <if test="paramCondition.addMethod != null">
            AND goods_sku.add_method = #{paramCondition.addMethod}
        </if>
        <if test="paramCondition.skuName == null or paramCondition.skuName == ''">

            <if test="paramCondition.skuId != null">
                AND goods_sku.sku_id = #{paramCondition.skuId}
            </if>
            <if test="paramCondition.name != null">
                AND goods_sku.sku_name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.coding != null">
                and goods_sku.coding like CONCAT('%',#{paramCondition.coding},'%')
            </if>
            <if test="paramCondition.standard != null">
                and goods_sku.standard like CONCAT('%',#{paramCondition.standard},'%')
            </if>
            <if test="paramCondition.type != null">
                and goods_sku.type = #{paramCondition.type}
            </if>
            <if test="paramCondition.spuId != null">
                and goods_sku.spu_id = #{paramCondition.spuId}
            </if>
            <if test="paramCondition.spuName != null">
                and goods_spu.name like CONCAT('%',#{paramCondition.spuName},'%')
            </if>
            <if test="paramCondition.spuClassName != null">
                and goods_spu_class.name like CONCAT('%',#{paramCondition.spuClassName},'%')
            </if>
            <if test="paramCondition.spuClass != null">
                and goods_spu.spu_classification_id like CONCAT('%',#{paramCondition.spuClass},'%')
            </if>
        </if>

        <if test="spuIds != null  and spuIds.size > 0 ">
            and goods_sku.spu_id in
            <foreach collection="spuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>

        </if>
        <if test="paramCondition.skuIds != null  and paramCondition.skuIds.size > 0 ">
            and goods_sku.sku_id in
            <foreach collection="paramCondition.skuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.noSkuIds != null  and paramCondition.noSkuIds.size > 0 ">
            and goods_sku.sku_id not in
            <foreach collection="paramCondition.noSkuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
    </select>
    <select id="changeCustomPageList" resultType="cn.atsoft.dasheng.erp.model.result.SkuResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.SkuParam">
        select
        <include refid="Left_Join_List"/>
        ,goods_spu.spu_id
        ,goods_spu_class.spu_classification_id
        ,daoxin_erp_stock_details.number as stockNumber
        ,goods_spu.display
        from goods_sku
        LEFT JOIN goods_spu ON goods_sku.spu_id = goods_spu.spu_id
        LEFT JOIN goods_spu_class ON goods_spu_class.spu_classification_id = goods_spu.spu_classification_id
        LEFT JOIN
        (select sku_id,sum(number) as number from daoxin_erp_stock_details where display = 1 group by sku_id) as
        daoxin_erp_stock_details ON goods_sku.sku_id = daoxin_erp_stock_details.sku_id
        WHERE 1=1 and goods_sku.display = 1 and goods_spu.display = 1
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and (goods_spu.name like CONCAT ('%',#{paramCondition.skuName},'%')
            or sku_name like CONCAT ('%',#{paramCondition.skuName},'%')
            or standard like CONCAT ('%',#{paramCondition.skuName},'%'))

            <if test="paramCondition.skuId != null">
                AND goods_sku.sku_id = #{paramCondition.skuId}
            </if>
            <if test="paramCondition.spuId != null">
                and goods_sku.spu_id = #{paramCondition.spuId}
            </if>
            <if test="paramCondition.spuClass != null">
                and goods_spu.spu_classification_id like CONCAT('%',#{paramCondition.spuClass},'%')
            </if>

        </if>

        <if test="paramCondition.addMethod != null">
            AND goods_sku.add_method = #{paramCondition.addMethod}
        </if>
        <if test="paramCondition.storehouseId">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>

        <if test="paramCondition.skuId != null">
            AND goods_sku.sku_id = #{paramCondition.skuId}
        </if>
        <if test="paramCondition.name != null">
            AND goods_sku.sku_name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.coding != null">
            and goods_sku.coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.standard != null">
            and goods_sku.standard like CONCAT('%',#{paramCondition.standard},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and goods_sku.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.type != null">
            and goods_sku.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.spuId != null">
            and goods_sku.spu_id = #{paramCondition.spuId}
        </if>
        <if test="paramCondition.spuName != null">
            and goods_spu.name like CONCAT('%',#{paramCondition.spuName},'%')
        </if>
        <if test="paramCondition.spuClassName != null">
            and goods_spu_class.name like CONCAT('%',#{paramCondition.spuClassName},'%')
        </if>
        <if test="paramCondition.spuClass != null">
            and goods_spu.spu_classification_id like CONCAT('%',#{paramCondition.spuClass},'%')
        </if>

        <!--查询时间内-->
        <if test="paramCondition.timeWithin != null and paramCondition.timeWithin!= '' ">
            and DATE_SUB(CURDATE(), INTERVAL #{paramCondition.timeWithin} DAY) <![CDATA[<=date(goods_sku.create_time)]]>
        </if>
        <!--本月内-->
        <if test="paramCondition.thisMonth != null">
            and DATE_FORMAT(goods_sku.create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')
        </if>
        <!--开始时间-->
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(goods_sku.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(goods_sku.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        <if test="spuIds != null  and spuIds.size > 0 ">
            and goods_sku.spu_id in
            <foreach collection="spuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>

        </if>
        <if test="paramCondition.skuIds != null  and paramCondition.skuIds.size > 0 ">
            and goods_sku.sku_id in
            <foreach collection="paramCondition.skuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>

        <if test="paramCondition.noSkuIds != null  and paramCondition.noSkuIds.size > 0 ">
            and goods_sku.sku_id not in
            <foreach collection="paramCondition.noSkuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.customerName != null">
            and goods_sku.sku_id in (
            SELECT sku_id FROM daoxin_supply WHERE customer_id IN ( SELECT customer_id FROM daoxin_crm_customer
            WHERE supply = 1 AND display = 1 and customer_name LIKE CONCAT('%',#{paramCondition.customerName},'%' )
            ))
        </if>
        <if test="paramCondition.spuClassIds !=null and paramCondition.spuClassIds.size>0">
            and goods_spu_class.spu_classification_id in
            <foreach collection="paramCondition.spuClassIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
        </if>

        <if test="paramCondition.brandIds !=null and paramCondition.brandIds.size>0">
            and goods_sku.sku_id in
            (select sku_id from daoxin_supply where brand_id in
            <foreach collection="paramCondition.brandIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
            )
        </if>
        <if test="paramCondition.customerIds !=null and paramCondition.customerIds.size>0">
            and goods_sku.sku_id in
            (select sku_id from daoxin_supply where customer_id in
            <foreach collection="paramCondition.customerIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
            )
        </if>
        <if test="paramCondition.storehousePositionsIds !=null and paramCondition.storehousePositionsIds.size>0">
            and goods_sku.sku_id in
            (select sku_id from daoxin_erp_storehouse_positions_bind where position_id in
            <foreach collection="paramCondition.storehousePositionsIds" index="index" item="state" separator=","
                     close=")"
                     open="(">
                #{state}
            </foreach>
            )
        </if>

        <!--       <if test="paramCondition.mixNum != null-->
        <!--and paramCondition.maxNum != null">-->
        <!--            and  daoxin_erp_stock_details.number BETWEEN #{paramCondition.mixNum} and #{paramCondition.maxNum}-->
        <!--        </if>-->
        <if test="paramCondition.mixNum != null">
            and daoxin_erp_stock_details.number &gt;= #{paramCondition.mixNum}
        </if>
        <if test="paramCondition.maxNum != null">
            and daoxin_erp_stock_details.number &lt;= #{paramCondition.maxNum}
        </if>
     </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.SkuParam">
        select
        <include refid="Base_Column_List"/>
        from goods_sku where 1 = 1 and display = 1
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and sku_name like CONCAT('%',#{paramCondition.skuName},'%')
        </if>
        <if test="paramCondition.spuId != null">
            and spu_id like CONCAT('%',#{paramCondition.spuId},'%')
        </if>
    </select>


    <select id="allList" resultType="cn.atsoft.dasheng.erp.model.result.SkuResult"
            parameterType="cn.atsoft.dasheng.erp.model.params.SkuParam">
        select
        <include refid="Left_Join_List"/>
        ,goods_spu.spu_id
        ,goods_spu_class.spu_classification_id
        ,daoxin_erp_stock_details.number as stockNumber
        ,goods_spu.display
        from goods_sku
        LEFT JOIN goods_spu ON goods_sku.spu_id = goods_spu.spu_id
        LEFT JOIN goods_spu_class ON goods_spu_class.spu_classification_id = goods_spu.spu_classification_id
        LEFT JOIN
        (select sku_id,sum(number) as number from daoxin_erp_stock_details where display = 1 group by sku_id) as
        daoxin_erp_stock_details ON goods_sku.sku_id = daoxin_erp_stock_details.sku_id
        WHERE 1=1 and goods_sku.display = 1 and goods_spu.display = 1
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and (goods_spu.name like CONCAT ('%',#{paramCondition.skuName},'%')
            or sku_name like CONCAT ('%',#{paramCondition.skuName},'%')
            or standard like CONCAT ('%',#{paramCondition.skuName},'%'))

            <if test="paramCondition.skuId != null">
                AND goods_sku.sku_id = #{paramCondition.skuId}
            </if>
            <if test="paramCondition.spuId != null">
                and goods_sku.spu_id = #{paramCondition.spuId}
            </if>
            <if test="paramCondition.spuClass != null">
                and goods_spu.spu_classification_id like CONCAT('%',#{paramCondition.spuClass},'%')
            </if>

        </if>

        <if test="paramCondition.addMethod != null">
            AND goods_sku.add_method = #{paramCondition.addMethod}
        </if>
        <if test="paramCondition.storehouseId">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.createUser != null">
            and goods_sku.create_user = #{paramCondition.createUser}
        </if>
        <if test="paramCondition.skuId != null">
            AND goods_sku.sku_id = #{paramCondition.skuId}
        </if>
        <if test="paramCondition.name != null">
            AND goods_sku.sku_name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.coding != null">
            and goods_sku.coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.standard != null">
            and goods_sku.standard like CONCAT('%',#{paramCondition.standard},'%')
        </if>
        <if test="paramCondition.type != null">
            and goods_sku.type = #{paramCondition.type}
        </if>
        <if test="paramCondition.spuId != null">
            and goods_sku.spu_id = #{paramCondition.spuId}
        </if>
        <if test="paramCondition.spuName != null">
            and goods_spu.name like CONCAT('%',#{paramCondition.spuName},'%')
        </if>
        <if test="paramCondition.spuClassName != null">
            and goods_spu_class.name like CONCAT('%',#{paramCondition.spuClassName},'%')
        </if>
        <if test="paramCondition.spuClass != null">
            and goods_spu.spu_classification_id like CONCAT('%',#{paramCondition.spuClass},'%')
        </if>

        <if test="spuIds != null  and spuIds.size > 0 ">
            and goods_sku.spu_id in
            <foreach collection="spuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>

        </if>
        <!--查询时间内-->
        <if test="paramCondition.timeWithin != null and paramCondition.timeWithin!= '' ">
            and DATE_SUB(CURDATE(), INTERVAL #{paramCondition.timeWithin} DAY) <![CDATA[<=date(goods_sku.create_time)]]>
        </if>
        <!--本月内-->
        <if test="paramCondition.thisMonth != null">
            and DATE_FORMAT(goods_sku.create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')
        </if>
        <!--开始时间-->
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(goods_sku.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(goods_sku.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        <if test="paramCondition.skuIds != null  and paramCondition.skuIds.size > 0 ">
            and goods_sku.sku_id in
            <foreach collection="paramCondition.skuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.noSkuIds != null  and paramCondition.noSkuIds.size > 0 ">
            and goods_sku.sku_id not in
            <foreach collection="paramCondition.noSkuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.customerName != null">
            and goods_sku.sku_id in (
            SELECT sku_id FROM daoxin_supply WHERE customer_id IN ( SELECT customer_id FROM daoxin_crm_customer
            WHERE supply = 1 AND display = 1 and customer_name LIKE CONCAT('%',#{paramCondition.customerName},'%' )
            ))
        </if>
        <if test="paramCondition.spuClassIds !=null and paramCondition.spuClassIds.size>0">
            and goods_spu_class.spu_classification_id in
            <foreach collection="paramCondition.spuClassIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.brandIds !=null and paramCondition.brandIds.size>0">
            and goods_sku.sku_id in
            (select sku_id from daoxin_supply where brand_id in
            <foreach collection="paramCondition.brandIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
            )
        </if>
        <if test="paramCondition.customerIds !=null and paramCondition.customerIds.size>0">
            and goods_sku.sku_id in
            (select sku_id from daoxin_supply where customer_id in
            <foreach collection="paramCondition.customerIds" index="index" item="state" separator="," close=")"
                     open="(">
                #{state}
            </foreach>
            )
        </if>
        <if test="paramCondition.storehousePositionsIds !=null and paramCondition.storehousePositionsIds.size>0">
            and goods_sku.sku_id in
            (select sku_id from daoxin_erp_storehouse_positions_bind where position_id in
            <foreach collection="paramCondition.storehousePositionsIds" index="index" item="state" separator=","
                     close=")"
                     open="(">
                #{state}
            </foreach>
            )
        </if>
        <!--        <if test="paramCondition.mixNum != null-->
        <!--           and paramCondition.maxNum != null">-->
        <!--            and  daoxin_erp_stock_details.number BETWEEN #{paramCondition.mixNum} and #{paramCondition.maxNum}-->
        <!--        </if>-->
        <if test="paramCondition.mixNum != null">
            and daoxin_erp_stock_details.number &gt;= #{paramCondition.mixNum}
        </if>
        <if test="paramCondition.maxNum != null">
            and daoxin_erp_stock_details.number &lt;= #{paramCondition.maxNum}
        </if>

    </select>
</mapper>
