<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.StockLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.StockLog">
        <id column="stock_log_id" property="stockLogId" />
        <result column="sku_id" property="skuId" />
        <result column="number" property="number" />
        <result column="before_number" property="beforeNumber" />
        <result column="after_number" property="afterNumber" />
        <result column="storehouse_id" property="storehouseId" />
        <result column="storehouse_positions_id" property="storehousePositionsId" />
        <result column="customer_id" property="customerId" />
        <result column="brand_id" property="brandId" />
        <result column="type" property="type" />
        <result column="source" property="source" />
        <result column="source_id" property="sourceId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stock_log_id AS "stockLogId", sku_id AS "skuId", number AS "number", before_number AS "beforeNumber", after_number AS "afterNumber", storehouse_id AS "storehouseId", storehouse_positions_id AS "storehousePositionsId", customer_id AS "customerId", brand_id AS "brandId", type AS "type", source AS "source", source_id AS "sourceId", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.StockLogResult" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log where 1 = 1
            <if test="paramCondition.stockLogId != null">
                and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
            </if>
            <if test="paramCondition.skuId != null">
                and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
            </if>
            <if test="paramCondition.number != null">
                and number like CONCAT('%',#{paramCondition.number},'%')
            </if>
            <if test="paramCondition.beforeNumber != null">
                and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
            </if>
            <if test="paramCondition.afterNumber != null">
                and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
            </if>
            <if test="paramCondition.storehouseId != null">
                and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
            </if>
            <if test="paramCondition.storehousePositionsId != null">
                and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
            </if>
            <if test="paramCondition.customerId != null">
                and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
            </if>
            <if test="paramCondition.brandId != null">
                and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
            </if>
            <if test="paramCondition.type != null and paramCondition.type != ''">
                and type like CONCAT('%',#{paramCondition.type},'%')
            </if>
            <if test="paramCondition.source != null and paramCondition.source != ''">
                and source like CONCAT('%',#{paramCondition.source},'%')
            </if>
            <if test="paramCondition.sourceId != null">
                and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log where 1 = 1
                <if test="paramCondition.stockLogId != null">
                        and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.number != null">
                        and number like CONCAT('%',#{paramCondition.number},'%')
                </if>
                <if test="paramCondition.beforeNumber != null">
                        and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
                </if>
                <if test="paramCondition.afterNumber != null">
                        and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
                </if>
                <if test="paramCondition.storehouseId != null">
                        and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
                </if>
                <if test="paramCondition.storehousePositionsId != null">
                        and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
                </if>
                <if test="paramCondition.customerId != null">
                        and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.type != null and paramCondition.type != ''">
                        and type like CONCAT('%',#{paramCondition.type},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.StockLogResult" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log where 1 = 1
                <if test="paramCondition.stockLogId != null">
                        and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.number != null">
                        and number like CONCAT('%',#{paramCondition.number},'%')
                </if>
                <if test="paramCondition.beforeNumber != null">
                        and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
                </if>
                <if test="paramCondition.afterNumber != null">
                        and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
                </if>
                <if test="paramCondition.storehouseId != null">
                        and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
                </if>
                <if test="paramCondition.storehousePositionsId != null">
                        and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
                </if>
                <if test="paramCondition.customerId != null">
                        and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.type != null and paramCondition.type != ''">
                        and type like CONCAT('%',#{paramCondition.type},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>
    <select id="viewByUserAndType" resultType="cn.atsoft.dasheng.erp.model.result.StockLogResult" parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        select
        count(*) AS "number",
        create_user AS "createUser",
        source AS "source"
        from daoxin_erp_stock_log where 1 = 1
        group by source,create_user
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log where 1 = 1
                <if test="paramCondition.stockLogId != null">
                        and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.number != null">
                        and number like CONCAT('%',#{paramCondition.number},'%')
                </if>
                <if test="paramCondition.beforeNumber != null">
                        and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
                </if>
                <if test="paramCondition.afterNumber != null">
                        and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
                </if>
                <if test="paramCondition.storehouseId != null">
                        and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
                </if>
                <if test="paramCondition.storehousePositionsId != null">
                        and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
                </if>
                <if test="paramCondition.customerId != null">
                        and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.type != null and paramCondition.type != ''">
                        and type like CONCAT('%',#{paramCondition.type},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>
    <select id="groupView" resultType="cn.atsoft.dasheng.app.model.request.StockView" parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
        log.sku_id AS "skuId",
        log.customer_id AS "customerId",
        log.brand_id AS "brandId",
        sum( log.number ) AS "number",
        log.create_time AS "createTime"
        FROM
        daoxin_erp_stock_log log
        LEFT JOIN goods_sku sku ON log.sku_id = sku.sku_id
        LEFT JOIN goods_spu spu ON spu.spu_id = sku.spu_id
        LEFT JOIN goods_spu_class class ON spu.spu_classification_id = class.spu_classification_id
        WHERE
        1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(log.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(log.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        <if test="paramCondition.spuClassId != null">
            and class.spu_classification_id = #{paramCondition.spuClassId}
        </if>
        <if test="paramCondition.skuId != null">
            and log.sku_id = #{paramCondition.skuId}
        </if>
        <if test="paramCondition.customerId != null">
            and log.customer_id = #{paramCondition.customerId}
        </if>
        <if test="paramCondition.brandId != null">
            and log.brand_id = #{paramCondition.brandId}
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and log.source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        GROUP BY
        log.brand_id,
        log.sku_id,
        log.customer_id
    </select>
    <select id="todayInStockNumber" resultType="Integer" >
        select  sum(number) from daoxin_erp_stock_log where  1 = 1 and type = 'increase' and create_time like CONCAT('%',DATE_FORMAT(NOW(),'%Y-%m-%d'),'%')
    </select>
    <select id="todayOutStockNumber" resultType="Integer" >
        select  sum(number) from daoxin_erp_stock_log where  1 = 1 and type = 'reduce' and create_time like CONCAT('%',DATE_FORMAT(NOW(),'%Y-%m-%d'),'%')
    </select>

</mapper>
