<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.erp.mapper.StockLogDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.erp.entity.StockLogDetail">
        <id column="stock_log_detail_id" property="stockLogDetailId" />
        <result column="stock_log_id" property="stockLogId" />
        <result column="inkind_id" property="inkindId" />
        <result column="sku_id" property="skuId" />
        <result column="number" property="number" />
        <result column="before_number" property="beforeNumber" />
        <result column="after_number" property="afterNumber" />
        <result column="storehouse_id" property="storehouseId" />
        <result column="storehouse_positions_id" property="storehousePositionsId" />
        <result column="type" property="type" />
        <result column="source" property="source" />
        <result column="source_id" property="sourceId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stock_log_detail_id AS "stockLogDetailId",sku_id AS "skuId", stock_log_id AS "stockLogId", inkind_id AS "inkindId", number AS "number", before_number AS "beforeNumber", after_number AS "afterNumber", storehouse_id AS "storehouseId", storehouse_positions_id AS "storehousePositionsId", type AS "type", source AS "source", source_id AS "sourceId", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.erp.model.result.StockLogDetailResult" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log_detail where 1 = 1
            <if test="paramCondition.stockLogDetailId != null">
                and stock_log_detail_id like CONCAT('%',#{paramCondition.stockLogDetailId},'%')
            </if>
            <if test="paramCondition.stockLogId != null">
                and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
            </if>
            <if test="paramCondition.inkindId != null">
                and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
            </if>
            <if test="paramCondition.number != null">
                and number like CONCAT('%',#{paramCondition.number},'%')
            </if>
            <if test="paramCondition.beforeNumber != null">
                and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
            </if>
            <if test="paramCondition.afterNumber != null">
                and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
            </if>
            <if test="paramCondition.storehouseId != null">
                and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
            </if>
            <if test="paramCondition.storehousePositionsId != null">
                and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
            </if>
            <if test="paramCondition.type != null and paramCondition.type != ''">
                and type like CONCAT('%',#{paramCondition.type},'%')
            </if>
            <if test="paramCondition.source != null and paramCondition.source != ''">
                and source like CONCAT('%',#{paramCondition.source},'%')
            </if>
            <if test="paramCondition.sourceId != null">
                and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log_detail where 1 = 1
                <if test="paramCondition.stockLogDetailId != null">
                        and stock_log_detail_id like CONCAT('%',#{paramCondition.stockLogDetailId},'%')
                </if>
                <if test="paramCondition.stockLogId != null">
                        and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
                </if>
                <if test="paramCondition.inkindId != null">
                        and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
                </if>
                <if test="paramCondition.number != null">
                        and number like CONCAT('%',#{paramCondition.number},'%')
                </if>
                <if test="paramCondition.beforeNumber != null">
                        and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
                </if>
                <if test="paramCondition.afterNumber != null">
                        and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
                </if>
                <if test="paramCondition.storehouseId != null">
                        and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
                </if>
                <if test="paramCondition.storehousePositionsId != null">
                        and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
                </if>
                <if test="paramCondition.type != null and paramCondition.type != ''">
                        and type like CONCAT('%',#{paramCondition.type},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.erp.model.result.StockLogDetailResult" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log_detail where 1 = 1
                <if test="paramCondition.stockLogDetailId != null">
                        and stock_log_detail_id like CONCAT('%',#{paramCondition.stockLogDetailId},'%')
                </if>
                <if test="paramCondition.stockLogId != null">
                        and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
                </if>
                <if test="paramCondition.inkindId != null">
                        and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
                </if>
                <if test="paramCondition.number != null">
                        and number like CONCAT('%',#{paramCondition.number},'%')
                </if>
                <if test="paramCondition.beforeNumber != null">
                        and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
                </if>
                <if test="paramCondition.afterNumber != null">
                        and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
                </if>
                <if test="paramCondition.storehouseId != null">
                        and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
                </if>
                <if test="paramCondition.storehousePositionsId != null">
                        and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
                </if>
                <if test="paramCondition.type != null and paramCondition.type != ''">
                        and type like CONCAT('%',#{paramCondition.type},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.erp.model.params.StockLogDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_log_detail where 1 = 1
                <if test="paramCondition.stockLogDetailId != null">
                        and stock_log_detail_id like CONCAT('%',#{paramCondition.stockLogDetailId},'%')
                </if>
                <if test="paramCondition.stockLogId != null">
                        and stock_log_id like CONCAT('%',#{paramCondition.stockLogId},'%')
                </if>
                <if test="paramCondition.inkindId != null">
                        and inkind_id like CONCAT('%',#{paramCondition.inkindId},'%')
                </if>
                <if test="paramCondition.number != null">
                        and number like CONCAT('%',#{paramCondition.number},'%')
                </if>
                <if test="paramCondition.beforeNumber != null">
                        and before_number like CONCAT('%',#{paramCondition.beforeNumber},'%')
                </if>
                <if test="paramCondition.afterNumber != null">
                        and after_number like CONCAT('%',#{paramCondition.afterNumber},'%')
                </if>
                <if test="paramCondition.storehouseId != null">
                        and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
                </if>
                <if test="paramCondition.storehousePositionsId != null">
                        and storehouse_positions_id like CONCAT('%',#{paramCondition.storehousePositionsId},'%')
                </if>
                <if test="paramCondition.type != null and paramCondition.type != ''">
                        and type like CONCAT('%',#{paramCondition.type},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

</mapper>
