<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.sys.modular.system.mapper.TenantOperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.sys.modular.system.entity.TenantOperationLog">
        <id column="tenant_operation_log_id" property="tenantOperationLogId" />
        <result column="user_id" property="userId" />
        <result column="remark" property="remark" />
        <result column="type" property="type" />
        <result column="tenant_id" property="tenantId" />
        <result column="tenant_bind_id" property="tenantBindId" />
        <result column="display" property="display" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tenant_operation_log_id AS "tenantOperationLogId", user_id AS "userId", remark AS "remark", type AS "type", tenant_id AS "tenantId", tenant_bind_id AS "tenantBindId", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.sys.modular.system.model.result.TenantOperationLogResult" parameterType="cn.atsoft.dasheng.sys.modular.system.model.params.TenantOperationLogParam">
        select
        <include refid="Base_Column_List"/>
        from sys_tenant_operation_log where 1 = 1 and display = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.sys.modular.system.model.params.TenantOperationLogParam">
        select
        <include refid="Base_Column_List"/>
        from sys_tenant_operation_log where 1 = 1 and display = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.sys.modular.system.model.result.TenantOperationLogResult" parameterType="cn.atsoft.dasheng.sys.modular.system.model.params.TenantOperationLogParam">
        select
        <include refid="Base_Column_List"/>
        from sys_tenant_operation_log where 1 = 1 and display = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.sys.modular.system.model.params.TenantOperationLogParam">
        select
        <include refid="Base_Column_List"/>
        from sys_tenant_operation_log where 1 = 1 and display = 1
    </select>

</mapper>
