<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.ProductionTaskDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.ProductionTaskDetail">
        <id column="production_task_detail_id" property="productionTaskDetailId" />
        <result column="production_task_id" property="productionTaskId" />
        <result column="production_card_id" property="productionCardId" />
        <result column="create_user" property="createUser" />
        <result column="deptId" property="deptId" />
        <result column="display" property="display" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        production_task_detail_id AS "productionTaskDetailId", production_task_id AS "productionTaskId", production_card_id AS "productionCardId", create_user AS "createUser", deptId AS "deptId", display AS "display", update_time AS "updateTime", create_time AS "createTime", update_user AS "updateUser"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.ProductionTaskDetailResult" parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task_detail where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task_detail where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.ProductionTaskDetailResult" parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task_detail where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task_detail where 1 = 1
    </select>

</mapper>
