<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.ProductionWorkOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.ProductionWorkOrder">
        <id column="work_order_id" property="workOrderId" />
        <result column="ship_setp_id" property="shipSetpId" />
        <result column="sku_id" property="skuId" />
        <result column="card_id" property="cardId" />
        <result column="count" property="count" />
        <result column="source" property="source" />
        <result column="source_id" property="sourceId" />
        <result column="in_sku_id" property="inSkuId" />
        <result column="out_sku_id" property="outSkuId" />
        <result column="in_sku_number" property="inSkuNumber" />
        <result column="out_sku_id" property="outSkuNumber" />
        <result column="create_user" property="createUser" />
        <result column="deptId" property="deptId" />
        <result column="display" property="display" />
        <result column="steps_id" property="stepsId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="theme" property="theme" />
        <result column="origin" property="origin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        work_order_id AS "workOrderId", steps_id AS "stepsId" ,ship_setp_id AS "shipSetpId", sku_id AS "skuId",in_sku_id AS "inSkuId",out_sku_id AS "outSkuId",in_sku_number AS "inSkuNumber",out_sku_number AS "outNumber", count AS "count", source AS "source", source_id AS "sourceId", create_user AS "createUser", deptId AS "deptId", display AS "display", update_time AS "updateTime", create_time AS "createTime", update_user AS "updateUser", theme AS "theme", origin AS "origin"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.ProductionWorkOrderResult" parameterType="cn.atsoft.dasheng.production.model.params.ProductionWorkOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_work_order where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ProductionWorkOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_work_order where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.ProductionWorkOrderResult" parameterType="cn.atsoft.dasheng.production.model.params.ProductionWorkOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_work_order where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ProductionWorkOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_work_order where 1 = 1
    </select>

</mapper>
