<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.ProductionPickListsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.ProductionPickLists">
        <id column="pick_lists_id" property="pickListsId" />
        <result column="user_id" property="userId" />
        <result column="source" property="source" />
        <result column="source_id" property="sourceId" />
        <result column="enclosure" property="enclosure" />
        <result column="remarks" property="remarks" />
        <result column="note" property="note" />
        <result column="user_ids" property="userIds" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
        <result column="status" property="status" />
        <result column="coding" property="coding" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pick_lists_id AS "pickListsId",enclosure AS "enclosure",user_ids AS "userIds" ,remarks AS "remarks",note AS "note" , coding AS "coding" ,user_id AS "userId", source AS "source", source_id AS "sourceId", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId", status AS "status"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.ProductionPickListsResult" parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_pick_lists where 1 = 1
            <if test="paramCondition.pickListsId != null">
                and pick_lists_id like CONCAT('%',#{paramCondition.pickListsId},'%')
            </if>
            <if test="paramCondition.userId != null">
                and user_id like CONCAT('%',#{paramCondition.userId},'%')
            </if>
            <if test="paramCondition.source != null and paramCondition.source != ''">
                and source like CONCAT('%',#{paramCondition.source},'%')
            </if>
            <if test="paramCondition.sourceId != null">
                and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
            <if test="paramCondition.status != null">
                and status like CONCAT('%',#{paramCondition.status},'%')
            </if>
            <if test="paramCondition.pickListsIds != null  and paramCondition.pickListsIds.size > 0 ">
                and pick_lists_id in
                <foreach collection="paramCondition.pickListsIds" index="index" item="state" separator="," close=")" open="(">
                    #{state}
                </foreach>
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_pick_lists where 1 = 1
                <if test="paramCondition.pickListsId != null">
                        and pick_lists_id like CONCAT('%',#{paramCondition.pickListsId},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
                <if test="paramCondition.status != null">
                        and status like CONCAT('%',#{paramCondition.status},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.ProductionPickListsResult" parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_pick_lists where 1 = 1
                <if test="paramCondition.pickListsId != null">
                        and pick_lists_id like CONCAT('%',#{paramCondition.pickListsId},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
                <if test="paramCondition.status != null">
                        and status like CONCAT('%',#{paramCondition.status},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_pick_lists where 1 = 1
                <if test="paramCondition.pickListsId != null">
                        and pick_lists_id like CONCAT('%',#{paramCondition.pickListsId},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.source != null and paramCondition.source != ''">
                        and source like CONCAT('%',#{paramCondition.source},'%')
                </if>
                <if test="paramCondition.sourceId != null">
                        and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
                <if test="paramCondition.status != null">
                        and status like CONCAT('%',#{paramCondition.status},'%')
                </if>
    </select>

</mapper>
