<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.ProductionPickListsDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.ProductionPickListsDetail">
        <id column="pick_lists_detail_id" property="pickListsDetailId"/>
        <result column="pick_lists_id" property="pickListsId"/>
        <result column="sku_id" property="skuId"/>
        <result column="brand_id" property="brandId"/>
        <result column="received_number" property="receivedNumber"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="storehouse_positions_id" property="storehousePositionsId"/>
        <result column="storehouse_id" property="storehouseId"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="inkind_id" property="inkindId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">inkind_id
    AS "inkindId",
        pick_lists_detail_id
        AS "pickListsDetailId",received_number AS "receivedNumber",brand_id AS "brandId",status AS "status",storehouse_positions_id AS "storehousePositionsId",storehouse_id AS "storehouseId",pick_lists_id AS "pickListsId", sku_id AS "skuId", number AS "number", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId"
    </sql>
    <sql id="Base_Column_List2">
        a
        .
        storehouse_positions_id
        AS "storehousePositionsId",
        a.storehouse_id AS "storehouseId",
        a.pick_lists_detail_id AS "pickListsDetailId",
	    a.pick_lists_id AS "pickListsId",
        a.brand_id AS "brandId",
	    a.sku_id AS "skuId",
	    a.number AS "number",
	    a.create_user AS "createUser",
	    a.update_user AS "updateUser",
	    a.create_time AS "createTime",
	    a.update_time AS "updateTime",
	    a.display AS "display",
	    a.status AS "status",
	    a.deptId AS "deptId"
    </sql>
    <sql id="left_join_stock_details">
        DISTINCTROW
        a.inkind_id AS "inkindId",
	    a.pick_lists_detail_id AS "pickListsDetailId",
	    a.received_number AS "receivedNumber",
    	a.brand_id AS "brandId",
    	a.STATUS AS "status",
    	a.storehouse_positions_id AS "storehousePositionsId",
    	a.storehouse_id AS "storehouseId",
    	a.pick_lists_id AS "pickListsId",
    	a.sku_id AS "skuId",
    	a.number AS "number",
    	a.create_user AS "createUser",
    	a.update_user AS "updateUser",
    	a.create_time AS "createTime",
    	a.update_time AS "updateTime",
    	a.display AS "display",
    	a.deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.ProductionPickListsDetailResult"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsDetailParam">
        select
        <include refid="left_join_stock_details"/>
        FROM
        `daoxin_production_pick_lists_detail` a
        LEFT JOIN daoxin_erp_stock_details b ON a.sku_id = b.sku_id
        AND a.brand_id = b.brand_id
        WHERE 1 = 1  and a.display = 1
        <if test="paramCondition.storehousePositionsId!=null">
            and b.storehouse_positions_id = #{paramCondition.storehousePositionsId}
        </if><if test="paramCondition.pickListsId!=null">
            and a.pick_lists_id = #{paramCondition.pickListsId}
        </if>
        UNION
        select
        <include refid="left_join_stock_details"/>
        FROM
        `daoxin_production_pick_lists_detail` a
        LEFT JOIN daoxin_erp_stock_details b ON a.sku_id = b.sku_id
        WHERE 1 = 1 and a.display = 1 and a.brand_id = 0
        <if test="paramCondition.storehousePositionsId!=null">
            and b.storehouse_positions_id = #{paramCondition.storehousePositionsId}
        </if><if test="paramCondition.pickListsId!=null">
            and a.pick_lists_id = #{paramCondition.pickListsId}
        </if>
    </select>
    <select id="customList2" resultType="cn.atsoft.dasheng.production.model.result.ProductionPickListsDetailResult"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsDetailParam">
        select
        <include refid="Base_Column_List2"/>
        FROM `daoxin_production_pick_lists_detail` a
        LEFT JOIN daoxin_production_pick_lists_cart b ON a.pick_lists_id = b.pick_lists_id and a.sku_id = b.sku_id
        WHERE b.sku_id is NULL
        <if test="paramCondition.status!=null">
            and a.status = #{paramCondition.status}
        </if>
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_pick_lists_detail where 1 = 1
        <if test="paramCondition.pickListsDetailId != null">
            and pick_lists_detail_id like CONCAT('%',#{paramCondition.pickListsDetailId},'%')
        </if>
        <if test="paramCondition.pickListsId != null">
            and pick_lists_id like CONCAT('%',#{paramCondition.pickListsId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.ProductionPickListsDetailResult"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_pick_lists_detail where 1 = 1
        <if test="paramCondition.pickListsDetailId != null">
            and pick_lists_detail_id like CONCAT('%',#{paramCondition.pickListsDetailId},'%')
        </if>
        <if test="paramCondition.pickListsId != null">
            and pick_lists_id like CONCAT('%',#{paramCondition.pickListsId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionPickListsDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_pick_lists_detail where 1 = 1
        <if test="paramCondition.pickListsDetailId != null">
            and pick_lists_detail_id like CONCAT('%',#{paramCondition.pickListsDetailId},'%')
        </if>
        <if test="paramCondition.pickListsId != null">
            and pick_lists_id like CONCAT('%',#{paramCondition.pickListsId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

</mapper>
