<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.ProductionTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.ProductionTask">
        <id column="production_task_id" property="productionTaskId"/>
        <result column="coding" property="coding"/>
        <result column="production_task_name" property="productionTaskName"/>
        <result column="sku_id" property="skuId"/>
        <result column="number" property="number"/>
        <result column="remark" property="remark"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
        <result column="work_order_id" property="workOrderId"/>
        <result column="ship_setp_id" property="shipSetpId"/>
        <result column="single_production_cycle" property="singleProductionCycle"/>
        <result column="production_time" property="productionTime"/>
        <result column="end_time" property="endTime"/>
        <result column="create_user" property="createUser"/>
        <result column="deptId" property="deptId"/>
        <result column="display" property="display"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="theme" property="theme"/>
        <result column="origin" property="origin"/>
        <result column="user_ids" property="userIds"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        production_task_id
        AS "productionTaskId", status AS "status", end_time AS "endTime",coding AS "coding", production_task_name AS "productionTaskName", sku_id AS "skuId", number AS "number", remark AS "remark", user_id AS "userId", work_order_id AS "workOrderId", ship_setp_id AS "shipSetpId", single_production_cycle AS "singleProductionCycle", production_time AS "productionTime", create_user AS "createUser",  deptId AS "deptId",tenant_id AS "tenantId", display AS "display", update_time AS "updateTime", create_time AS "createTime", update_user AS "updateUser", theme AS "theme", origin AS "origin", user_ids AS "userIds"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.ProductionTaskResult"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task where 1 = 1
        <if test="paramCondition.productionTaskId != null">
            and production_task_id like CONCAT('%',#{paramCondition.productionTaskId},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.productionTaskName != null and paramCondition.productionTaskName != ''">
            and production_task_name like CONCAT('%',#{paramCondition.productionTaskName},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.workOrderId != null">
            and work_order_id like CONCAT('%',#{paramCondition.workOrderId},'%')
        </if>
        <if test="paramCondition.shipSetpId != null">
            and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
        </if>
        <if test="paramCondition.singleProductionCycle != null">
            and single_production_cycle like CONCAT('%',#{paramCondition.singleProductionCycle},'%')
        </if>
        <if test="paramCondition.productionTime != null and paramCondition.productionTime != ''">
            and production_time like CONCAT('%',#{paramCondition.productionTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.userIds != null and paramCondition.userIds != ''">
            and user_ids like CONCAT('%',#{paramCondition.userIds},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task where 1 = 1
        <if test="paramCondition.productionTaskId != null">
            and production_task_id like CONCAT('%',#{paramCondition.productionTaskId},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.productionTaskName != null and paramCondition.productionTaskName != ''">
            and production_task_name like CONCAT('%',#{paramCondition.productionTaskName},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.workOrderId != null">
            and work_order_id like CONCAT('%',#{paramCondition.workOrderId},'%')
        </if>
        <if test="paramCondition.shipSetpId != null">
            and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
        </if>
        <if test="paramCondition.singleProductionCycle != null">
            and single_production_cycle like CONCAT('%',#{paramCondition.singleProductionCycle},'%')
        </if>
        <if test="paramCondition.productionTime != null and paramCondition.productionTime != ''">
            and production_time like CONCAT('%',#{paramCondition.productionTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.userIds != null and paramCondition.userIds != ''">
            and user_ids like CONCAT('%',#{paramCondition.userIds},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.ProductionTaskResult"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task where 1 = 1
        <if test="paramCondition.productionTaskId != null">
            and production_task_id like CONCAT('%',#{paramCondition.productionTaskId},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.productionTaskName != null and paramCondition.productionTaskName != ''">
            and production_task_name like CONCAT('%',#{paramCondition.productionTaskName},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.workOrderId != null">
            and work_order_id like CONCAT('%',#{paramCondition.workOrderId},'%')
        </if>
        <if test="paramCondition.shipSetpId != null">
            and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
        </if>
        <if test="paramCondition.singleProductionCycle != null">
            and single_production_cycle like CONCAT('%',#{paramCondition.singleProductionCycle},'%')
        </if>
        <if test="paramCondition.productionTime != null and paramCondition.productionTime != ''">
            and production_time like CONCAT('%',#{paramCondition.productionTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.userIds != null and paramCondition.userIds != ''">
            and user_ids like CONCAT('%',#{paramCondition.userIds},'%')
        </if>
        <if test="paramCondition.status != null and paramCondition.status != ''">
            and status  = #{paramCondition.status}
        </if>
        <if test="paramCondition.noUser != null">
            and user_id is null
        </if>

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.production.model.params.ProductionTaskParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_task where 1 = 1
        <if test="paramCondition.productionTaskId != null">
            and production_task_id like CONCAT('%',#{paramCondition.productionTaskId},'%')
        </if>
        <if test="paramCondition.coding != null and paramCondition.coding != ''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.productionTaskName != null and paramCondition.productionTaskName != ''">
            and production_task_name like CONCAT('%',#{paramCondition.productionTaskName},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.remark != null and paramCondition.remark != ''">
            and remark like CONCAT('%',#{paramCondition.remark},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.workOrderId != null">
            and work_order_id like CONCAT('%',#{paramCondition.workOrderId},'%')
        </if>
        <if test="paramCondition.shipSetpId != null">
            and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
        </if>
        <if test="paramCondition.singleProductionCycle != null">
            and single_production_cycle like CONCAT('%',#{paramCondition.singleProductionCycle},'%')
        </if>
        <if test="paramCondition.productionTime != null and paramCondition.productionTime != ''">
            and production_time like CONCAT('%',#{paramCondition.productionTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.theme != null and paramCondition.theme != ''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.origin != null and paramCondition.origin != ''">
            and origin like CONCAT('%',#{paramCondition.origin},'%')
        </if>
        <if test="paramCondition.userIds != null and paramCondition.userIds != ''">
            and user_ids like CONCAT('%',#{paramCondition.userIds},'%')
        </if>
    </select>

</mapper>
