<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.ShipSetpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.ShipSetp">
        <id column="ship_setp_id" property="shipSetpId" />
        <result column="ship_setp_name" property="shipSetpName" />
        <result column="ship_setp_class_id" property="shipSetpClassId" />
        <result column="coding" property="coding" />
        <result column="remark" property="remark" />
        <result column="user_id" property="userId" />
        <result column="user_id" property="userId" />
        <result column="production_station_id" property="productionStationId" />
        <result column="accessories" property="accessories" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ship_setp_id AS "shipSetpId", ship_setp_name AS "shipSetpName", ship_setp_class_id AS "shipSetpClassId", coding AS "coding" ,remark AS "remark", user_id AS "userId", production_station_id AS "productionStationId", accessories AS "accessories", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.ShipSetpResult" parameterType="cn.atsoft.dasheng.production.model.params.ShipSetpParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_ship_setp where 1 = 1
            <if test="paramCondition.shipSetpId != null">
                and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
            </if>
            <if test="paramCondition.shipSetpName != null and paramCondition.shipSetpName != ''">
                and ship_setp_name like CONCAT('%',#{paramCondition.shipSetpName},'%')
            </if>
            <if test="paramCondition.shipSetpClassId != null">
                and ship_setp_class_id like CONCAT('%',#{paramCondition.shipSetpClassId},'%')
            </if>
            <if test="paramCondition.coding != null and paramCondition.coding != ''">
                and coding like CONCAT('%',#{paramCondition.coding},'%')
            </if>
            <if test="paramCondition.remark != null and paramCondition.remark != ''">
                and remark like CONCAT('%',#{paramCondition.remark},'%')
            </if>
            <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                and accessories like CONCAT('%',#{paramCondition.accessories},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ShipSetpParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_ship_setp where 1 = 1
                <if test="paramCondition.shipSetpId != null">
                        and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
                </if>
                <if test="paramCondition.shipSetpName != null and paramCondition.shipSetpName != ''">
                        and ship_setp_name like CONCAT('%',#{paramCondition.shipSetpName},'%')
                </if>
                <if test="paramCondition.shipSetpClassId != null">
                        and ship_setp_class_id like CONCAT('%',#{paramCondition.shipSetpClassId},'%')
                </if>
                <if test="paramCondition.coding != null and paramCondition.coding != ''">
                   and coding like CONCAT('%',#{paramCondition.coding},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                        and accessories like CONCAT('%',#{paramCondition.accessories},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.ShipSetpResult" parameterType="cn.atsoft.dasheng.production.model.params.ShipSetpParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_ship_setp where 1 = 1
                <if test="paramCondition.shipSetpId != null">
                        and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
                </if>
                <if test="paramCondition.shipSetpName != null and paramCondition.shipSetpName != ''">
                        and ship_setp_name like CONCAT('%',#{paramCondition.shipSetpName},'%')
                </if>
                <if test="paramCondition.shipSetpClassId != null">
                        and ship_setp_class_id like CONCAT('%',#{paramCondition.shipSetpClassId},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.coding != null and paramCondition.coding != ''">
                    and coding like CONCAT('%',#{paramCondition.coding},'%')
                </if>
                <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                        and accessories like CONCAT('%',#{paramCondition.accessories},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.ShipSetpParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_ship_setp where 1 = 1
                <if test="paramCondition.shipSetpId != null">
                        and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
                </if>
                <if test="paramCondition.shipSetpName != null and paramCondition.shipSetpName != ''">
                        and ship_setp_name like CONCAT('%',#{paramCondition.shipSetpName},'%')
                </if>
                <if test="paramCondition.shipSetpClassId != null">
                        and ship_setp_class_id like CONCAT('%',#{paramCondition.shipSetpClassId},'%')
                </if>
                <if test="paramCondition.coding != null and paramCondition.coding != ''">
                    and coding like CONCAT('%',#{paramCondition.coding},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                        and accessories like CONCAT('%',#{paramCondition.accessories},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

</mapper>
