<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.SopBindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.SopBind">
        <id column="bind_id" property="bindId" />
        <result column="sop_id" property="sopId" />
        <result column="ship_setp_id" property="shipSetpId" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bind_id AS "bindId", sop_id AS "sopId", ship_setp_id AS "shipSetpId", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.SopBindResult" parameterType="cn.atsoft.dasheng.production.model.params.SopBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_sop_bind where 1 = 1
            <if test="paramCondition.bindId != null">
                and bind_id like CONCAT('%',#{paramCondition.bindId},'%')
            </if>
            <if test="paramCondition.sopId != null">
                and sop_id like CONCAT('%',#{paramCondition.sopId},'%')
            </if>
            <if test="paramCondition.shipSetpId != null">
                and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.SopBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_sop_bind where 1 = 1
                <if test="paramCondition.bindId != null">
                        and bind_id like CONCAT('%',#{paramCondition.bindId},'%')
                </if>
                <if test="paramCondition.sopId != null">
                        and sop_id like CONCAT('%',#{paramCondition.sopId},'%')
                </if>
                <if test="paramCondition.shipSetpId != null">
                        and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.SopBindResult" parameterType="cn.atsoft.dasheng.production.model.params.SopBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_sop_bind where 1 = 1
                <if test="paramCondition.bindId != null">
                        and bind_id like CONCAT('%',#{paramCondition.bindId},'%')
                </if>
                <if test="paramCondition.sopId != null">
                        and sop_id like CONCAT('%',#{paramCondition.sopId},'%')
                </if>
                <if test="paramCondition.shipSetpId != null">
                        and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.SopBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_sop_bind where 1 = 1
                <if test="paramCondition.bindId != null">
                        and bind_id like CONCAT('%',#{paramCondition.bindId},'%')
                </if>
                <if test="paramCondition.sopId != null">
                        and sop_id like CONCAT('%',#{paramCondition.sopId},'%')
                </if>
                <if test="paramCondition.shipSetpId != null">
                        and ship_setp_id like CONCAT('%',#{paramCondition.shipSetpId},'%')
                </if>
    </select>

</mapper>
