<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.WorkingPorcedureClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.WorkingPorcedureClass">
        <id column="wp_class_id" property="wpClassId" />
        <result column="wp_class_name" property="wpClassName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wp_class_id AS "wpClassId", wp_class_name AS "wpClassName"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.WorkingPorcedureClassResult" parameterType="cn.atsoft.dasheng.production.model.params.WorkingPorcedureClassParam">
        select
        <include refid="Base_Column_List"/>
        from working_porcedure_class where 1 = 1
            <if test="paramCondition.wpClassId != null">
                and wp_class_id like CONCAT('%',#{paramCondition.wpClassId},'%')
            </if>
            <if test="paramCondition.wpClassName != null and paramCondition.wpClassName != ''">
                and wp_class_name like CONCAT('%',#{paramCondition.wpClassName},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.WorkingPorcedureClassParam">
        select
        <include refid="Base_Column_List"/>
        from working_porcedure_class where 1 = 1
                <if test="paramCondition.wpClassId != null">
                        and wp_class_id like CONCAT('%',#{paramCondition.wpClassId},'%')
                </if>
                <if test="paramCondition.wpClassName != null and paramCondition.wpClassName != ''">
                        and wp_class_name like CONCAT('%',#{paramCondition.wpClassName},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.WorkingPorcedureClassResult" parameterType="cn.atsoft.dasheng.production.model.params.WorkingPorcedureClassParam">
        select
        <include refid="Base_Column_List"/>
        from working_porcedure_class where 1 = 1
                <if test="paramCondition.wpClassId != null">
                        and wp_class_id like CONCAT('%',#{paramCondition.wpClassId},'%')
                </if>
                <if test="paramCondition.wpClassName != null and paramCondition.wpClassName != ''">
                        and wp_class_name like CONCAT('%',#{paramCondition.wpClassName},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.WorkingPorcedureClassParam">
        select
        <include refid="Base_Column_List"/>
        from working_porcedure_class where 1 = 1
                <if test="paramCondition.wpClassId != null">
                        and wp_class_id like CONCAT('%',#{paramCondition.wpClassId},'%')
                </if>
                <if test="paramCondition.wpClassName != null and paramCondition.wpClassName != ''">
                        and wp_class_name like CONCAT('%',#{paramCondition.wpClassName},'%')
                </if>
    </select>

</mapper>
