<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.mapper.WorkingProcedureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.entity.WorkingProcedure">
        <id column="
working_procedure_id" property="
workingProcedureId" />
        <result column="user_id" property="userId" />
        <result column="production_station_id" property="productionStationId" />
        <result column="accessories" property="accessories" />
        <result column="remark" property="remark" />
        <result column="working_procedure_name" property="workingProcedureName" />
        <result column="working_procedure_class" property="workingProcedureClass" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        
working_procedure_id AS "
workingProcedureId", user_id AS "userId", production_station_id AS "productionStationId", accessories AS "accessories", remark AS "remark", working_procedure_name AS "workingProcedureName", working_procedure_class AS "workingProcedureClass", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.model.result.WorkingProcedureResult" parameterType="cn.atsoft.dasheng.production.model.params.WorkingProcedureParam">
        select
        <include refid="Base_Column_List"/>
        from working_procedure where 1 = 1
            <if test="paramCondition.workingProcedureId != null">
                and working_procedure_id like CONCAT('%',#{paramCondition.workingProcedureId},'%')
            </if>
            <if test="paramCondition.userId != null">
                and user_id like CONCAT('%',#{paramCondition.userId},'%')
            </if>
            <if test="paramCondition.productionStationId != null">
                and production_station_id like CONCAT('%',#{paramCondition.productionStationId},'%')
            </if>
            <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                and accessories like CONCAT('%',#{paramCondition.accessories},'%')
            </if>
            <if test="paramCondition.remark != null and paramCondition.remark != ''">
                and remark like CONCAT('%',#{paramCondition.remark},'%')
            </if>
            <if test="paramCondition.workingProcedureName != null and paramCondition.workingProcedureName != ''">
                and working_procedure_name like CONCAT('%',#{paramCondition.workingProcedureName},'%')
            </if>
            <if test="paramCondition.workingProcedureClass != null">
                and working_procedure_class like CONCAT('%',#{paramCondition.workingProcedureClass},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.WorkingProcedureParam">
        select
        <include refid="Base_Column_List"/>
        from working_procedure where 1 = 1
                <if test="paramCondition.workingProcedureId != null">
                        and working_procedure_id like CONCAT('%',#{paramCondition.workingProcedureId},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.productionStationId != null">
                        and production_station_id like CONCAT('%',#{paramCondition.productionStationId},'%')
                </if>
                <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                        and accessories like CONCAT('%',#{paramCondition.accessories},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.workingProcedureName != null and paramCondition.workingProcedureName != ''">
                        and working_procedure_name like CONCAT('%',#{paramCondition.workingProcedureName},'%')
                </if>
                <if test="paramCondition.workingProcedureClass != null">
                        and working_procedure_class like CONCAT('%',#{paramCondition.workingProcedureClass},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.model.result.WorkingProcedureResult" parameterType="cn.atsoft.dasheng.production.model.params.WorkingProcedureParam">
        select
        <include refid="Base_Column_List"/>
        from working_procedure where 1 = 1
                <if test="paramCondition.workingProcedureId != null">
                        and working_procedure_id like CONCAT('%',#{paramCondition.workingProcedureId},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.productionStationId != null">
                        and production_station_id like CONCAT('%',#{paramCondition.productionStationId},'%')
                </if>
                <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                        and accessories like CONCAT('%',#{paramCondition.accessories},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.workingProcedureName != null and paramCondition.workingProcedureName != ''">
                        and working_procedure_name like CONCAT('%',#{paramCondition.workingProcedureName},'%')
                </if>
                <if test="paramCondition.workingProcedureClass != null">
                        and working_procedure_class like CONCAT('%',#{paramCondition.workingProcedureClass},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.model.params.WorkingProcedureParam">
        select
        <include refid="Base_Column_List"/>
        from working_procedure where 1 = 1
                <if test="paramCondition.workingProcedureId != null">
                        and working_procedure_id like CONCAT('%',#{paramCondition.workingProcedureId},'%')
                </if>
                <if test="paramCondition.userId != null">
                        and user_id like CONCAT('%',#{paramCondition.userId},'%')
                </if>
                <if test="paramCondition.productionStationId != null">
                        and production_station_id like CONCAT('%',#{paramCondition.productionStationId},'%')
                </if>
                <if test="paramCondition.accessories != null and paramCondition.accessories != ''">
                        and accessories like CONCAT('%',#{paramCondition.accessories},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.workingProcedureName != null and paramCondition.workingProcedureName != ''">
                        and working_procedure_name like CONCAT('%',#{paramCondition.workingProcedureName},'%')
                </if>
                <if test="paramCondition.workingProcedureClass != null">
                        and working_procedure_class like CONCAT('%',#{paramCondition.workingProcedureClass},'%')
                </if>
    </select>

</mapper>
