<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.wedrive.space.mapper.WxWedriveSpaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.wedrive.space.entity.WxWedriveSpace">
        <id column="space_id" property="spaceId" />
        <result column="space_name" property="spaceName" />
        <result column="auth_list" property="authList" />
        <result column="create_user" property="createUser" />
        <result column="deptId" property="deptId" />
        <result column="display" property="display" />
        <result column="type" property="type" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        space_id AS "spaceId", type AS "type",space_name AS "spaceName", auth_list AS "authList", create_user AS "createUser", deptId AS "deptId", display AS "display", update_time AS "updateTime", create_time AS "createTime", update_user AS "updateUser"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.wedrive.space.model.result.WxWedriveSpaceResult" parameterType="cn.atsoft.dasheng.wedrive.space.model.params.WxWedriveSpaceParam">
        select
        <include refid="Base_Column_List"/>
        from wx_wedrive_space where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.wedrive.space.model.params.WxWedriveSpaceParam">
        select
        <include refid="Base_Column_List"/>
        from wx_wedrive_space where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.wedrive.space.model.result.WxWedriveSpaceResult" parameterType="cn.atsoft.dasheng.wedrive.space.model.params.WxWedriveSpaceParam">
        select
        <include refid="Base_Column_List"/>
        from wx_wedrive_space where 1 = 1 and display = 1

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.wedrive.space.model.params.WxWedriveSpaceParam">
        select
        <include refid="Base_Column_List"/>
        from wx_wedrive_space where 1 = 1
    </select>

</mapper>
