<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.supplier.mapper.SupplierBrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.supplier.entity.SupplierBrand">
        <id column="supplier_brand_id" property="supplierBrandId" />
        <result column="customer_id" property="customerId" />
        <result column="brand_id" property="brandId" />
        <result column="display" property="display" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        supplier_brand_id AS "supplierBrandId", customer_id AS "customerId", brand_id AS "brandId", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.supplier.model.result.SupplierBrandResult" parameterType="cn.atsoft.dasheng.supplier.model.params.SupplierBrandParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supplier_brand where 1 = 1
            <if test="paramCondition.supplierBrandId != null">
                and supplier_brand_id like CONCAT('%',#{paramCondition.supplierBrandId},'%')
            </if>
            <if test="paramCondition.customerId != null">
                and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
            </if>
            <if test="paramCondition.brandId != null">
                and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.supplier.model.params.SupplierBrandParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supplier_brand where 1 = 1
                <if test="paramCondition.supplierBrandId != null">
                        and supplier_brand_id like CONCAT('%',#{paramCondition.supplierBrandId},'%')
                </if>
                <if test="paramCondition.customerId != null">
                        and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.supplier.model.result.SupplierBrandResult" parameterType="cn.atsoft.dasheng.supplier.model.params.SupplierBrandParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supplier_brand where 1 = 1
                <if test="paramCondition.supplierBrandId != null">
                        and supplier_brand_id like CONCAT('%',#{paramCondition.supplierBrandId},'%')
                </if>
                <if test="paramCondition.customerId != null">
                        and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.supplier.model.params.SupplierBrandParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supplier_brand where 1 = 1
                <if test="paramCondition.supplierBrandId != null">
                        and supplier_brand_id like CONCAT('%',#{paramCondition.supplierBrandId},'%')
                </if>
                <if test="paramCondition.customerId != null">
                        and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
                </if>
                <if test="paramCondition.brandId != null">
                        and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
    </select>

</mapper>
