<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.purchase.mapper.InquiryTaskDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.purchase.entity.InquiryTaskDetail">
        <id column="inquiry_detail_id" property="inquiryDetailId" />
        <result column="inquiry_task_id" property="inquiryTaskId" />
        <result column="sku_id" property="skuId" />
        <result column="brand_id" property="brandId"/>
        <result column="total" property="total" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inquiry_detail_id AS "inquiryDetailId", inquiry_task_id AS "inquiryTaskId", sku_id AS "skuId",brand_id AS "brandId", total AS "total", remark AS "remark", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.purchase.model.result.InquiryTaskDetailResult" parameterType="cn.atsoft.dasheng.purchase.model.params.InquiryTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquiry_task_detail where 1 = 1
            <if test="paramCondition.inquiryDetailId != null">
                and inquiry_detail_id like CONCAT('%',#{paramCondition.inquiryDetailId},'%')
            </if>
            <if test="paramCondition.inquiryTaskId != null">
                and inquiry_task_id like CONCAT('%',#{paramCondition.inquiryTaskId},'%')
            </if>
            <if test="paramCondition.skuId != null">
                and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
            </if>
            <if test="paramCondition.total != null">
                and total like CONCAT('%',#{paramCondition.total},'%')
            </if>
            <if test="paramCondition.remark != null and paramCondition.remark != ''">
                and remark like CONCAT('%',#{paramCondition.remark},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.purchase.model.params.InquiryTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquiry_task_detail where 1 = 1
                <if test="paramCondition.inquiryDetailId != null">
                        and inquiry_detail_id like CONCAT('%',#{paramCondition.inquiryDetailId},'%')
                </if>
                <if test="paramCondition.inquiryTaskId != null">
                        and inquiry_task_id like CONCAT('%',#{paramCondition.inquiryTaskId},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.total != null">
                        and total like CONCAT('%',#{paramCondition.total},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.purchase.model.result.InquiryTaskDetailResult" parameterType="cn.atsoft.dasheng.purchase.model.params.InquiryTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquiry_task_detail where 1 = 1
                <if test="paramCondition.inquiryDetailId != null">
                        and inquiry_detail_id like CONCAT('%',#{paramCondition.inquiryDetailId},'%')
                </if>
                <if test="paramCondition.inquiryTaskId != null">
                        and inquiry_task_id like CONCAT('%',#{paramCondition.inquiryTaskId},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.total != null">
                        and total like CONCAT('%',#{paramCondition.total},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.purchase.model.params.InquiryTaskDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquiry_task_detail where 1 = 1
                <if test="paramCondition.inquiryDetailId != null">
                        and inquiry_detail_id like CONCAT('%',#{paramCondition.inquiryDetailId},'%')
                </if>
                <if test="paramCondition.inquiryTaskId != null">
                        and inquiry_task_id like CONCAT('%',#{paramCondition.inquiryTaskId},'%')
                </if>
                <if test="paramCondition.skuId != null">
                        and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
                </if>
                <if test="paramCondition.total != null">
                        and total like CONCAT('%',#{paramCondition.total},'%')
                </if>
                <if test="paramCondition.remark != null and paramCondition.remark != ''">
                        and remark like CONCAT('%',#{paramCondition.remark},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

</mapper>
