<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.purchase.mapper.InquirtyCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.purchase.entity.InquirtyComment">
        <id column="comment_id" property="commentId" />
        <result column="form_id" property="formId" />
        <result column="form_type" property="formType" />
        <result column="image_ids" property="imageIds" />
        <result column="details" property="details" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id AS "commentId", form_id AS "formId", form_type AS "formType", image_ids AS "imageIds", details AS "details", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.purchase.model.result.InquirtyCommentResult" parameterType="cn.atsoft.dasheng.purchase.model.params.InquirtyCommentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquirty_comment where 1 = 1
            <if test="paramCondition.commentId != null">
                and comment_id like CONCAT('%',#{paramCondition.commentId},'%')
            </if>
            <if test="paramCondition.formId != null">
                and form_id like CONCAT('%',#{paramCondition.formId},'%')
            </if>
            <if test="paramCondition.formType != null and paramCondition.formType != ''">
                and form_type like CONCAT('%',#{paramCondition.formType},'%')
            </if>
            <if test="paramCondition.imageIds != null and paramCondition.imageIds != ''">
                and image_ids like CONCAT('%',#{paramCondition.imageIds},'%')
            </if>
            <if test="paramCondition.details != null and paramCondition.details != ''">
                and details like CONCAT('%',#{paramCondition.details},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
            <if test="paramCondition.createUser != null">
                and create_user like CONCAT('%',#{paramCondition.createUser},'%')
            </if>
            <if test="paramCondition.updateUser != null">
                and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
            </if>
            <if test="paramCondition.display != null">
                and display like CONCAT('%',#{paramCondition.display},'%')
            </if>
            <if test="paramCondition.deptId != null">
                and deptId like CONCAT('%',#{paramCondition.deptId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.purchase.model.params.InquirtyCommentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquirty_comment where 1 = 1
                <if test="paramCondition.commentId != null">
                        and comment_id like CONCAT('%',#{paramCondition.commentId},'%')
                </if>
                <if test="paramCondition.formId != null">
                        and form_id like CONCAT('%',#{paramCondition.formId},'%')
                </if>
                <if test="paramCondition.formType != null and paramCondition.formType != ''">
                        and form_type like CONCAT('%',#{paramCondition.formType},'%')
                </if>
                <if test="paramCondition.imageIds != null and paramCondition.imageIds != ''">
                        and image_ids like CONCAT('%',#{paramCondition.imageIds},'%')
                </if>
                <if test="paramCondition.details != null and paramCondition.details != ''">
                        and details like CONCAT('%',#{paramCondition.details},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.purchase.model.result.InquirtyCommentResult" parameterType="cn.atsoft.dasheng.purchase.model.params.InquirtyCommentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquirty_comment where 1 = 1
                <if test="paramCondition.commentId != null">
                        and comment_id like CONCAT('%',#{paramCondition.commentId},'%')
                </if>
                <if test="paramCondition.formId != null">
                        and form_id like CONCAT('%',#{paramCondition.formId},'%')
                </if>
                <if test="paramCondition.formType != null and paramCondition.formType != ''">
                        and form_type like CONCAT('%',#{paramCondition.formType},'%')
                </if>
                <if test="paramCondition.imageIds != null and paramCondition.imageIds != ''">
                        and image_ids like CONCAT('%',#{paramCondition.imageIds},'%')
                </if>
                <if test="paramCondition.details != null and paramCondition.details != ''">
                        and details like CONCAT('%',#{paramCondition.details},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.purchase.model.params.InquirtyCommentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_inquirty_comment where 1 = 1
                <if test="paramCondition.commentId != null">
                        and comment_id like CONCAT('%',#{paramCondition.commentId},'%')
                </if>
                <if test="paramCondition.formId != null">
                        and form_id like CONCAT('%',#{paramCondition.formId},'%')
                </if>
                <if test="paramCondition.formType != null and paramCondition.formType != ''">
                        and form_type like CONCAT('%',#{paramCondition.formType},'%')
                </if>
                <if test="paramCondition.imageIds != null and paramCondition.imageIds != ''">
                        and image_ids like CONCAT('%',#{paramCondition.imageIds},'%')
                </if>
                <if test="paramCondition.details != null and paramCondition.details != ''">
                        and details like CONCAT('%',#{paramCondition.details},'%')
                </if>
                <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                        and create_time like CONCAT('%',#{paramCondition.createTime},'%')
                </if>
                <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                        and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
                </if>
                <if test="paramCondition.createUser != null">
                        and create_user like CONCAT('%',#{paramCondition.createUser},'%')
                </if>
                <if test="paramCondition.updateUser != null">
                        and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
                </if>
                <if test="paramCondition.display != null">
                        and display like CONCAT('%',#{paramCondition.display},'%')
                </if>
                <if test="paramCondition.deptId != null">
                        and deptId like CONCAT('%',#{paramCondition.deptId},'%')
                </if>
    </select>

</mapper>
