<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.purchase.mapper.ProcurementOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.purchase.entity.ProcurementOrder">
        <id column="procurement_order_id" property="procurementOrderId"/>
        <result column="procurement_plan_id" property="procurementPlanId"/>
        <result column="status" property="status"/>
        <result column="note" property="note"/>
        <result column="theme" property="theme" />
        <result column="origin" property="origin" />
        <result column="display" property="display"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deptId" property="deptId"/>
        <result column="money" property="money"/>
        <result column="coding" property="coding"/>
        <result column="adress_id" property="adressId"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">money
    AS "money", coding AS "coding",adress_id AS "adressId", theme AS "theme" , origin AS "origin" ,
        procurement_order_id
        AS "procurementOrderId", procurement_plan_id AS "procurementPlanId", status AS "status", note AS "note", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.purchase.model.result.ProcurementOrderResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.ProcurementOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_procurement_order where 1 = 1
        <if test="paramCondition.procurementOrderId != null">
            and procurement_order_id like CONCAT('%',#{paramCondition.procurementOrderId},'%')
        </if>
        <if test="paramCondition.procurementPlanId != null">
            and procurement_plan_id like CONCAT('%',#{paramCondition.procurementPlanId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.purchase.model.params.ProcurementOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_procurement_order where 1 = 1
        <if test="paramCondition.procurementOrderId != null">
            and procurement_order_id like CONCAT('%',#{paramCondition.procurementOrderId},'%')
        </if>
        <if test="paramCondition.procurementPlanId != null">
            and procurement_plan_id like CONCAT('%',#{paramCondition.procurementPlanId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.purchase.model.result.ProcurementOrderResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.ProcurementOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_procurement_order where 1 = 1
        <if test="paramCondition.procurementOrderId != null">
            and procurement_order_id like CONCAT('%',#{paramCondition.procurementOrderId},'%')
        </if>
        <if test="paramCondition.procurementPlanId != null">
            and procurement_plan_id like CONCAT('%',#{paramCondition.procurementPlanId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.purchase.model.params.ProcurementOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_procurement_order where 1 = 1
        <if test="paramCondition.procurementOrderId != null">
            and procurement_order_id like CONCAT('%',#{paramCondition.procurementOrderId},'%')
        </if>
        <if test="paramCondition.procurementPlanId != null">
            and procurement_plan_id like CONCAT('%',#{paramCondition.procurementPlanId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

</mapper>
