<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.purchase.mapper.PurchaseQuotationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.purchase.entity.PurchaseQuotation">
        <id column="purchase_quotation_id" property="purchaseQuotationId"/>
        <result column="sku_id" property="skuId"/>
        <result column="brand_id" property="brandId"/>
        <result column="price" property="price"/>
        <result column="customer_id" property="customerId"/>
        <result column="period_of_validity" property="periodOfValidity"/>
        <result column="total" property="total"/>
        <result column="pre_tax" property="preTax"/>
        <result column="freight" property="freight"/>
        <result column="after_tax" property="afterTax"/>
        <result column="is_freight" property="isFreight"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
        <result column="form_id" property="formId"/>
        <result column="delivery_date" property="deliveryDate"/>
        <result column="Invoice_type" property="InvoiceType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="tax_price" property="taxPrice"/>
        <result column="theme" property="theme" />
        <result column="origin" property="origin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">payment_method
    AS "paymentMethod",tax_price AS "taxPrice",
        purchase_quotation_id
        AS "purchaseQuotationId", sku_id AS "skuId",brand_id AS "brandId", theme AS "theme" , origin AS "origin" ,price AS "price", customer_id AS "customerId", period_of_validity AS "periodOfValidity", total AS "total", pre_tax AS "preTax", freight AS "freight", after_tax AS "afterTax", is_freight AS "isFreight", source AS "source", source_id AS "sourceId", form_id AS "formId", delivery_date AS "deliveryDate", Invoice_type AS "InvoiceType", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.purchase.model.result.PurchaseQuotationResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.PurchaseQuotationParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_purchase_quotation where 1 = 1
        <if test="paramCondition.purchaseQuotationId != null">
            and purchase_quotation_id like CONCAT('%',#{paramCondition.purchaseQuotationId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.periodOfValidity != null and paramCondition.periodOfValidity != ''">
            and period_of_validity like CONCAT('%',#{paramCondition.periodOfValidity},'%')
        </if>
        <if test="paramCondition.total != null">
            and total like CONCAT('%',#{paramCondition.total},'%')
        </if>
        <if test="paramCondition.isTax != null">
            and is_tax like CONCAT('%',#{paramCondition.isTax},'%')
        </if>
        <if test="paramCondition.preTax != null">
            and pre_tax like CONCAT('%',#{paramCondition.preTax},'%')
        </if>
        <if test="paramCondition.freight != null">
            and freight like CONCAT('%',#{paramCondition.freight},'%')
        </if>
        <if test="paramCondition.afterTax != null">
            and after_tax like CONCAT('%',#{paramCondition.afterTax},'%')
        </if>
        <if test="paramCondition.isFreight != null">
            and is_freight like CONCAT('%',#{paramCondition.isFreight},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.purchase.model.params.PurchaseQuotationParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_purchase_quotation where 1 = 1
        <if test="paramCondition.purchaseQuotationId != null">
            and purchase_quotation_id like CONCAT('%',#{paramCondition.purchaseQuotationId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.periodOfValidity != null and paramCondition.periodOfValidity != ''">
            and period_of_validity like CONCAT('%',#{paramCondition.periodOfValidity},'%')
        </if>
        <if test="paramCondition.total != null">
            and total like CONCAT('%',#{paramCondition.total},'%')
        </if>
        <if test="paramCondition.isTax != null">
            and is_tax like CONCAT('%',#{paramCondition.isTax},'%')
        </if>
        <if test="paramCondition.preTax != null">
            and pre_tax like CONCAT('%',#{paramCondition.preTax},'%')
        </if>
        <if test="paramCondition.freight != null">
            and freight like CONCAT('%',#{paramCondition.freight},'%')
        </if>
        <if test="paramCondition.afterTax != null">
            and after_tax like CONCAT('%',#{paramCondition.afterTax},'%')
        </if>
        <if test="paramCondition.isFreight != null">
            and is_freight like CONCAT('%',#{paramCondition.isFreight},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.purchase.model.result.PurchaseQuotationResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.PurchaseQuotationParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_purchase_quotation where 1 = 1
        <if test="paramCondition.purchaseQuotationId != null">
            and purchase_quotation_id like CONCAT('%',#{paramCondition.purchaseQuotationId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.periodOfValidity != null and paramCondition.periodOfValidity != ''">
            and period_of_validity like CONCAT('%',#{paramCondition.periodOfValidity},'%')
        </if>
        <if test="paramCondition.total != null">
            and total like CONCAT('%',#{paramCondition.total},'%')
        </if>
        <if test="paramCondition.isTax != null">
            and is_tax like CONCAT('%',#{paramCondition.isTax},'%')
        </if>
        <if test="paramCondition.preTax != null">
            and pre_tax like CONCAT('%',#{paramCondition.preTax},'%')
        </if>
        <if test="paramCondition.freight != null">
            and freight like CONCAT('%',#{paramCondition.freight},'%')
        </if>
        <if test="paramCondition.afterTax != null">
            and after_tax like CONCAT('%',#{paramCondition.afterTax},'%')
        </if>
        <if test="paramCondition.isFreight != null">
            and is_freight like CONCAT('%',#{paramCondition.isFreight},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.purchase.model.params.PurchaseQuotationParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_purchase_quotation where 1 = 1
        <if test="paramCondition.purchaseQuotationId != null">
            and purchase_quotation_id like CONCAT('%',#{paramCondition.purchaseQuotationId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.price != null">
            and price like CONCAT('%',#{paramCondition.price},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.periodOfValidity != null and paramCondition.periodOfValidity != ''">
            and period_of_validity like CONCAT('%',#{paramCondition.periodOfValidity},'%')
        </if>
        <if test="paramCondition.total != null">
            and total like CONCAT('%',#{paramCondition.total},'%')
        </if>
        <if test="paramCondition.isTax != null">
            and is_tax like CONCAT('%',#{paramCondition.isTax},'%')
        </if>
        <if test="paramCondition.preTax != null">
            and pre_tax like CONCAT('%',#{paramCondition.preTax},'%')
        </if>
        <if test="paramCondition.freight != null">
            and freight like CONCAT('%',#{paramCondition.freight},'%')
        </if>
        <if test="paramCondition.afterTax != null">
            and after_tax like CONCAT('%',#{paramCondition.afterTax},'%')
        </if>
        <if test="paramCondition.isFreight != null">
            and is_freight like CONCAT('%',#{paramCondition.isFreight},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source != ''">
            and source like CONCAT('%',#{paramCondition.source},'%')
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id like CONCAT('%',#{paramCondition.sourceId},'%')
        </if>
        <if test="paramCondition.formId != null">
            and form_id like CONCAT('%',#{paramCondition.formId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

</mapper>
