<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.production.card.mapper.RestProductionCardBindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.production.card.entity.ProductionCardBind">
        <id column="production_card_bind_id" property="productionCardBindId" />
        <result column="production_card_id" property="productionCardId" />
        <result column="source" property="source" />
        <result column="sourse_id" property="sourseId" />
        <result column="deptId" property="deptId" />
        <result column="tenant_id" property="tenantId" />
        <result column="display" property="display" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        production_card_bind_id AS "productionCardBindId", production_card_id AS "productionCardId", source AS "source", sourse_id AS "sourseId",  deptId AS "deptId",tenant_id AS "tenantId", display AS "display", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.production.card.model.result.ProductionCardBindResult" parameterType="cn.atsoft.dasheng.production.card.model.params.ProductionCardBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_card_bind where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.card.model.params.ProductionCardBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_card_bind where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.production.card.model.result.ProductionCardBindResult" parameterType="cn.atsoft.dasheng.production.card.model.params.ProductionCardBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_card_bind where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.production.card.model.params.ProductionCardBindParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_production_card_bind where 1 = 1
    </select>

</mapper>
