<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.BusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Business">
        <id column="business_id" property="businessId"/>
        <result column="customer_id" property="customerId"/>
        <result column="origin_id" property="originId"/>
        <result column="stock_id" property="stockId"/>
        <result column="time" property="time"/>
        <result column="state" property="state"/>
        <result column="stage" property="stage"/>
        <result column="person" property="person"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
      <result column="deptId" property="deptId"/>
      <result column="business_name" property="businessName"/>
      <result column="statement_time" property="statementTime"/>
      <result column="sales_id" property="salesId"/>
      <result column="sales_process_id" property="salesProcessId"/>
      <result column="change_time" property="changeTime"/>
      <result column="opportunity_amount" property="opportunityAmount"/>
      <result column="total_products" property="totalProducts"/>
      <result column="order_discount" property="orderDiscount"/>
      <result column="reason" property="reason"/>
      <result column="main_cable" property="mainCable"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      business_id AS "businessId",customer_id AS "customerId",origin_id AS "originId",stock_id AS "stockId",time AS "time",state AS "state",stage AS "stage",person AS "person",create_time AS "createTime",update_time AS "updateTime",create_user AS "createUser",update_user AS "updateUser",display AS "display",deptId AS "deptId",business_name AS "businessName",statement_time AS "statementTime",sales_id AS "salesId",sales_process_id AS "salesProcessId",change_time AS "changeTime",opportunity_amount AS "opportunityAmount",total_products AS "totalProducts",order_discount AS "orderDiscount",reason AS "reason",main_cable AS "mainCable",origin_name AS "originName",name AS "name",account AS "account"
    </sql>
    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.BusinessResult"
            parameterType="cn.atsoft.dasheng.app.model.params.BusinessParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{customerId},'%')
        </if>
        <if test="paramCondition.originId != null and paramCondition.originId != ''">
            and origin_id like CONCAT('%',#{originId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
        </if>
        <if test="paramCondition.state != null">
            and state = #{paramCondition.state}
        </if>
        <if test="paramCondition.stage != null and paramCondition.stage != ''">
            and stage = #{paramCondition.stage}
        </if>
        <if test="paramCondition.person != null and paramCondition.person != ''">
            and person like CONCAT('%',#{paramCondition.person},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.BusinessParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{customerId},'%')
        </if>
        <if test="paramCondition.originId != null and paramCondition.originId != ''">
            and origin_id like CONCAT('%',#{originId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
        </if>
        <if test="paramCondition.state != null">
            and state = #{paramCondition.state}
        </if>
        <if test="paramCondition.stage != null and paramCondition.stage != ''">
            and stage = #{paramCondition.stage}
        </if>
        <if test="paramCondition.person != null and paramCondition.person != ''">
            and person like CONCAT('%',#{paramCondition.person},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.BusinessResult"
            parameterType="cn.atsoft.dasheng.app.model.params.BusinessParam">
        select
        <include refid="Base_Column_List"/>
        from business_view where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{customerId},'%')
        </if>
        <if test="paramCondition.originId != null and paramCondition.originId != ''">
            and origin_id like CONCAT('%',#{originId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
        </if>

        <if test="paramCondition.stage != null and paramCondition.stage != ''">
            and stage = #{paramCondition.stage}
        </if>
        <if test="paramCondition.person != null and paramCondition.person != ''">
            and person like CONCAT('%',#{paramCondition.person},'%')
        </if>
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
        <if test="paramCondition.iname != null and paramCondition.iname != ''">
            and name like CONCAT('%',#{paramCondition.iname},'%')
        </if>
        <if test="paramCondition.sname != null and paramCondition.sname != ''">
            and sname like CONCAT('%',#{paramCondition.sname},'%')
        </if>
        <if test="paramCondition.account != null and paramCondition.account != ''">
            and account like CONCAT('%',#{paramCondition.account},'%')
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.BusinessParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{customerId},'%')
        </if>
        <if test="paramCondition.originId != null and paramCondition.originId != ''">
            and origin_id like CONCAT('%',#{originId},'%')
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
        </if>
        <if test="paramCondition.state != null">
            and state = #{paramCondition.state}
        </if>
        <if test="paramCondition.stage != null and paramCondition.stage != ''">
            and stage = #{paramCondition.stage}
        </if>
        <if test="paramCondition.person != null and paramCondition.person != ''">
            and person like CONCAT('%',#{paramCondition.person},'%')
        </if>
    </select>

</mapper>
