<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.ContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Contract">
        <id column="contract_id" property="contractId"/>
        <result column="audit" property="audit"/>
        <result column="name" property="name"/>
        <result column="party_a" property="partyB"/>
        <result column="party_b" property="partyB"/>
        <result column="user_id" property="userId"/>
        <result column="template_id" property="templateId"/>
        <result column="note" property="note"/>
        <result column="allMoney" property="allMoney"/>
        <result column="theme" property="theme" />
        <result column="origin" property="origin" />
        <result column="contract_class_id" property="contractClassId"/>
        <result column="party_a_adress_id" property="partyAAdressId"/>
        <result column="party_b_adress_id" property="partyBAdressId"/>
        <result column="party_a_contacts_id" property="partyAContactsId"/>
        <result column="party_b_contacts_id" property="partyBContactsId"/>
        <result column="party_a_phone" property="partyAPhone"/>
        <result column="party_b_phone" property="partyBPhone"/>
        <result column="time" property="time"/>
        <result column="content" property="content"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
        <result column="payment" property="payment" jdbcType="VARCHAR" javaType="cn.atsoft.dasheng.crm.pojo.Payment"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">  theme AS "theme" , origin AS "origin" ,
 source_id AS "sourceId", source AS "source",contract_class_id
    AS "contractClassId",payment AS "payment" ,party_a_phone
    AS "partyAPhone",  party_b_phone AS "partyBPhone" ,deptId AS "deptId",
        party_a_adress_id AS "partyAAdressId", party_b_adress_id AS "partyBAdressId", party_a_contacts_id AS "partyAContactsId", party_b_contacts_id AS "partyBContactsId", audit
        AS "audit" ,template_id AS "templateId",party_a AS "partyA",party_b AS "partyB",contract_id AS "contractId", name AS "name",allMoney AS "allMoney", user_id AS "userId", note AS "note", time AS "time", content AS "content", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.ContractResult"
            parameterType="cn.atsoft.dasheng.app.model.params.ContractParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contract where display = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.userId != null and paramCondition.userId != ''">
            and user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.ContractParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contract where display = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.userId != null and paramCondition.userId != ''">
            and user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.ContractResult"
            parameterType="cn.atsoft.dasheng.app.model.params.ContractParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contract where display = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.userId != null and paramCondition.userId != ''">
            and user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
        <if test="paramCondition.partyA != null">
            and party_a = #{paramCondition.partyA}
        </if>
        <if test="paramCondition.partyB != null">
            and party_b = #{paramCondition.partyB}
        </if>
        <if test="paramCondition.audit != null">
            and audit = #{paramCondition.audit}
        </if>
        <if test="paramCondition.source != null">
            and source = #{paramCondition.source}
        </if>
        <if test="paramCondition.sourceId != null">
            and source_id = #{paramCondition.sourceId}
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and (deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.ContractParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contract where display = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.userId != null and paramCondition.userId != ''">
            and user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
    </select>

</mapper>
