<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.ContactsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Contacts">
        <id column="contacts_id" property="contactsId"/>
        <result column="contacts_name" property="contactsName"/>
        <result column="job" property="job"/>
        <result column="phone" property="phone"/>
        <result column="contacts_remark" property="contactsRemark"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="company_role_id" property="companyRole"/>
        <result column="position_id" property="positionId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">company_role_id
    AS "companyRole",position_id AS "positionId",contacts_remark AS "contactsRemark",
        contacts_id
        AS "contactsId", contacts_name AS "contactsName", job AS "job", phone AS "phone", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.ContactsResult"
            parameterType="cn.atsoft.dasheng.app.model.params.ContactsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contacts where display = 1
        <if test="paramCondition.contactsName != null and paramCondition.contactsName != ''">
            and contacts_name like CONCAT('%',#{paramCondition.contactsName},'%')
        </if>
        <if test="paramCondition.companyRole != null and paramCondition.companyRole != ''">
            and company_role_id like CONCAT('%',#{paramCondition.companyRole},'%')
        </if>
        <if test="paramCondition.phone != null">
            and phone = #{paramCondition.phone}
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id = #{paramCondition.customerId}
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.ContactsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contacts where display = 1
        <if test="paramCondition.contactsName != null and paramCondition.contactsName != ''">
            and contacts_name like CONCAT('%',#{paramCondition.contactsName},'%')
        </if>
        <if test="paramCondition.companyRole != null and paramCondition.companyRole != ''">
            and company_role_id like CONCAT('%',#{paramCondition.companyRole},'%')
        </if>
        <if test="paramCondition.phone != null">
            and phone = #{paramCondition.phone}
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id = #{paramCondition.customerId}
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.ContactsResult"
            parameterType="cn.atsoft.dasheng.app.model.params.ContactsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contacts where display = 1
        <if test="paramCondition.contactsName != null and paramCondition.contactsName != ''">
            and contacts_name like CONCAT('%',#{paramCondition.contactsName},'%')
        </if>

        <if test="paramCondition.companyRole != null and paramCondition.companyRole != ''">
            and company_role_id like CONCAT('%',#{paramCondition.companyRole},'%')
        </if>
        <if test="paramCondition.phone != null">
            and phone = #{paramCondition.phone}
        </if>
        <if test="paramCondition.contactsName !=null and paramCondition.contactsName != '' ">
            and contacts_name like CONCAT('%',#{paramCondition.contactsName},'%')
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and (deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>
        <if test="ids.size()>0">
            and contacts_id in
            <foreach collection="ids" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.customerId !=null and ids.size()==0 ">
            and contacts_id = ' '
        </if>
        <if test="paramCondition.contactsId != null">
            and contacts_id = #{paramCondition.contactsId}
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.ContactsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_contacts where display = 1
        <if test="paramCondition.contactsName != null and paramCondition.contactsName != ''">
            and contacts_name like CONCAT('%',#{paramCondition.contactsName},'%')
        </if>
        <if test="paramCondition.companyRole != null and paramCondition.companyRole != ''">
            and company_role_id like CONCAT('%',#{paramCondition.companyRole},'%')
        </if>
        <if test="paramCondition.phone != null">
            and phone = #{paramCondition.phone}
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id = #{paramCondition.customerId}
        </if>
    </select>

    <select id="queryContactsId" resultType="Long" parameterType="Long">
        select contacts_id
        from daoxin_crm_contacts_bind
        where display = 1
          and customer_id = #{id}


    </select>

</mapper>
