<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.CrmBusinessTrackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.CrmBusinessTrack">
        <id column="track_id" property="trackId" />
        <result column="note_id" property="noteId" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        track_id AS "trackId", note_id AS "noteId", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.CrmBusinessTrackResult" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessTrackParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_track where 1 = 1
            <if test="paramCondition.trackId != null">
                    and track_id = #{paramCondition.trackId}
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessTrackParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_track where 1 = 1
                <if test="paramCondition.trackId != null">
                            and track_id = #{paramCondition.trackId}
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.CrmBusinessTrackResult" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessTrackParam" resultMap="getNote">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_track where 1 = 1
                <if test="paramCondition.trackId != null">
                            and track_id = #{paramCondition.trackId}
                </if>
    </select>
     <resultMap id="getNote" type="cn.atsoft.dasheng.app.model.result.CrmBusinessTrackResult">
         <collection property="getnote" column="noteId" ofType="cn.atsoft.dasheng.app.model.params.CrmBusinessTrackNoteParam" javaType="ArrayList" select="querynote"/>
     </resultMap>
    <select id="querynote" resultType="cn.atsoft.dasheng.app.model.result.CrmBusinessTrackNoteResult">
        select account from daoxin_crm_business_track_note where note_id =#{noteId}
    </select>
    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessTrackParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_track where 1 = 1
                <if test="paramCondition.trackId != null">
                        and track_id = #{paramCondition.trackId}
                </if>
    </select>

</mapper>
