<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.CrmBusinessDetailedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.CrmBusinessDetailed">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="item_id" property="itemId" />
        <result column="brand_id" property="brandId"/>
        <result column="quantity" property="quantity" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="brand_id" property="brandId"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="sale_price" property="salePrice"/>
      <result column="total_price" property="totalPrice"/>
        <result column="process_id" property="processId" />
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">   process_id AS "processId", deptId AS "deptId",tenant_id AS "tenantId",
      total_price AS "totalPrice",sale_price AS "salePrice",id AS "id", business_id AS "businessId", item_id AS "itemId", brand_id AS "brandId",quantity AS "quantity", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.CrmBusinessDetailedResult" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessDetailedParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_detailed where display = 1
            <if test="paramCondition.businessId != null">
                and business_id like CONCAT('%',#{paramCondition.businessId},'%')
            </if>
            <if test="paramCondition.itemId != null">
                and item_id like CONCAT('%',#{paramCondition.itemId},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessDetailedParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_detailed where display = 1
                <if test="paramCondition.businessId != null">
                        and business_id like CONCAT('%',#{paramCondition.businessId},'%')
                </if>
                <if test="paramCondition.itemId != null">
                        and item_id like CONCAT('%',#{paramCondition.itemId},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.CrmBusinessDetailedResult" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessDetailedParam" >
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_detailed where display = 1
                <if test="paramCondition.businessId != null">
                        and business_id like CONCAT('%',#{paramCondition.businessId},'%')
                </if>
                <if test="paramCondition.itemId != null">
                        and item_id like CONCAT('%',#{paramCondition.itemId},'%')
                </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <resultMap id="sd" type="cn.atsoft.dasheng.app.model.result.CrmBusinessDetailedResult">
      <association property="itemsResult" select="wp" column="itemId" javaType="cn.atsoft.dasheng.app.entity.Items"/>
      <association property="CrmBusinessSalesProcessResult" select="queryProcess" column="salesProcessId" javaType="cn.atsoft.dasheng.app.entity.CrmBusinessSalesProcess"/>
    </resultMap>

    <select id="wp" resultType="cn.atsoft.dasheng.app.model.result.ItemsResult">
        select name from daoxin_erp_items where item_id=#{itemId}
    </select>
<select id="queryProcess" resultType="cn.atsoft.dasheng.app.model.result.CrmBusinessSalesProcessResult">
    select * from daoxin_crm_business_sales_process where sales_process_id =#{salesProcessId}
</select>
    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CrmBusinessDetailedParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_detailed where display = 1
                <if test="paramCondition.businessId != null">
                        and business_id like CONCAT('%',#{paramCondition.businessId},'%')
                </if>
                <if test="paramCondition.itemId != null">
                        and item_id like CONCAT('%',#{paramCondition.itemId},'%')
                </if>
    </select>

</mapper>
