<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.CrmPaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.CrmPayment">
        <id column="payment_id" property="paymentId" />
        <result column="order_id" property="orderId" />
        <result column="pay_time" property="payTime" />
        <result column="pay_type" property="payType" />
        <result column="freight" property="freight" />
        <result column="deptId" property="deptId" />
        <result column="item_id" property="itemId" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="delivery_id" property="deliveryId" />
        <result column="outstock_id" property="outstockId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">  item_id AS "itemId",outstock_id AS "outstockId",
        payment_id AS "paymentId", order_id AS "orderId", pay_time AS "payTime", pay_type AS "payType", freight AS "freight", deptId AS "deptId", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.CrmPaymentResult" parameterType="cn.atsoft.dasheng.app.model.params.CrmPaymentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_payment where 1 = 1
            <if test="paramCondition.orderId != null">
                and order_id like CONCAT('%',#{paramCondition.orderId},'%')
            </if>
            <if test="paramCondition.payType != null and paramCondition.payType != ''">
                and pay_type like CONCAT('%',#{paramCondition.payType},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CrmPaymentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_payment where 1 = 1
                <if test="paramCondition.orderId != null">
                        and order_id like CONCAT('%',#{paramCondition.orderId},'%')
                </if>
                <if test="paramCondition.payType != null and paramCondition.payType != ''">
                        and pay_type like CONCAT('%',#{paramCondition.payType},'%')
                </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.CrmPaymentResult" parameterType="cn.atsoft.dasheng.app.model.params.CrmPaymentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_payment where 1 = 1
                <if test="paramCondition.orderId != null">
                        and order_id like CONCAT('%',#{paramCondition.orderId},'%')
                </if>
                <if test="paramCondition.payType != null and paramCondition.payType != ''">
                        and pay_type like CONCAT('%',#{paramCondition.payType},'%')
                </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>
        order by create_time desc
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CrmPaymentParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_payment where 1 = 1
                <if test="paramCondition.orderId != null">
                        and order_id like CONCAT('%',#{paramCondition.orderId},'%')
                </if>
                <if test="paramCondition.payType != null and paramCondition.payType != ''">
                        and pay_type like CONCAT('%',#{paramCondition.payType},'%')
                </if>
    </select>

</mapper>
