<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="setup" property="setup"/>
        <result column="legal" property="legal"/>
        <result column="utscc" property="utscc"/>
        <result column="company_type" property="companyType"/>
        <result column="business_term" property="businessTerm"/>
        <result column="sign_in" property="signIn"/>
        <result column="introduction" property="introduction"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

        customer_id
        AS "customerId", customer_name AS "customerName", setup AS "setup", legal AS "legal", utscc AS "utscc", company_type AS "companyType", business_term AS "businessTerm", sign_in AS "signIn", introduction AS "introduction", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.CustomerResult"
            parameterType="cn.atsoft.dasheng.app.model.params.CustomerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer where 1 = 1
        <if test="paramCondition.customerName != null and paramCondition.customerName != ''">
            and customer_name like CONCAT('%',#{paramCondition.customerName},'%')
        </if>
        <if test="paramCondition.companyType != null and paramCondition.companyType != ''">
            and company_type = #{paramCondition.companyType}
        </if>
        <if test="paramCondition.customerId !=null and paramCondition.customerId != '' ">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CustomerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer where 1 = 1
        <if test="paramCondition.customerName != null and paramCondition.customerName != ''">
            and customer_name like CONCAT('%',#{paramCondition.customerName},'%')
        </if>
        <if test="paramCondition.contactsId != null">
            and contacts_id = #{paramCondition.contactsId}
        </if>
        <if test="paramCondition.companyType != null and paramCondition.companyType != ''">
            and company_type = #{paramCondition.companyType}
        </if>
        <if test="paramCondition.customerId !=null  and paramCondition.customerId != '' ">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.CustomerResult"
            parameterType="cn.atsoft.dasheng.app.model.params.CustomerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer where 1 = 1
        <if test="paramCondition.customerName != null and paramCondition.customerName != ''">
            and customer_name like CONCAT('%',#{paramCondition.customerName},'%')
        </if>

        <if test="paramCondition.companyType != null and paramCondition.companyType != ''">
            and company_type = #{paramCondition.companyType}
        </if>
        <if test="paramCondition.customerId !=null and paramCondition.customerId != '' ">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CustomerParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer where 1 = 1
        <if test="paramCondition.customerName != null and paramCondition.customerName != ''">
            and customer_name like CONCAT('%',#{paramCondition.customerName},'%')
        </if>

        <if test="paramCondition.companyType != null and paramCondition.companyType != ''">
            and company_type = #{paramCondition.companyType}
        </if>
        <if test="paramCondition.customerId !=null  and paramCondition.customerId != '' ">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
    </select>

</mapper>
