<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.CustomerDynamicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.CustomerDynamic">
        <id column="dynamic_id" property="dynamicId" />
        <result column="customer_id" property="customerId" />
        <result column="content" property="content" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dynamic_id AS "dynamicId", customer_id AS "customerId", content AS "content", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.CustomerDynamicResult" parameterType="cn.atsoft.dasheng.app.model.params.CustomerDynamicParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_dynamic where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CustomerDynamicParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_dynamic where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.CustomerDynamicResult" parameterType="cn.atsoft.dasheng.app.model.params.CustomerDynamicParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_dynamic where 1 = 1
        order by create_time desc
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.CustomerDynamicParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_dynamic where 1 = 1
    </select>

</mapper>
