<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.ErpPackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.ErpPackage">
        <id column="package_id" property="packageId"/>
        <result column="product_name" property="productName"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="money" property="money"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List"> money
    AS "money", deptId AS "deptId",tenant_id AS "tenantId",
        package_id AS "packageId", product_name AS "productName", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.ErpPackageResult"
            parameterType="cn.atsoft.dasheng.app.model.params.ErpPackageParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_package where display = 1
        <if test="paramCondition.productName != null and paramCondition.productName != ''">
            and product_name like CONCAT('%',#{paramCondition.productName},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.ErpPackageParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_package where display = 1
        <if test="paramCondition.productName != null and paramCondition.productName != ''">
            and product_name like CONCAT('%',#{paramCondition.productName},'%')
        </if>
    </select>


    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.ErpPackageResult"
            parameterType="cn.atsoft.dasheng.app.model.params.ErpPackageParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_package where display = 1
        <if test="paramCondition.productName != null and paramCondition.productName != ''">
            and product_name like CONCAT('%',#{paramCondition.productName},'%')
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.ErpPackageParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_package where display = 1
        <if test="paramCondition.productName != null and paramCondition.productName != ''">
            and product_name like CONCAT('%',#{paramCondition.productName},'%')
        </if>
    </select>

</mapper>
