<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.OriginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Origin">
        <id column="origin_id" property="originId"/>
        <result column="origin_name" property="originName"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List"> deptId AS "deptId",tenant_id AS "tenantId",
        origin_id
        AS "originId", origin_name AS "originName", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.OriginResult"
            parameterType="cn.atsoft.dasheng.app.model.params.OriginParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_origin where display = 1
        <if test="paramCondition.originName != null and paramCondition.originName != ''">
            and origin_name like CONCAT('%',#{paramCondition.originName},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.OriginParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_origin where display = 1
        <if test="paramCondition.originName != null and paramCondition.originName != ''">
            and origin_name like CONCAT('%',#{paramCondition.originName},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.OriginResult"
            parameterType="cn.atsoft.dasheng.app.model.params.OriginParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_origin where display = 1
        <if test="paramCondition.originId != null and paramCondition.originId != ''">
            and origin_id like CONCAT('%',#{paramCondition.originId},'%')
        </if>
        <if test="paramCondition.originName != null and paramCondition.originName != ''">
            and origin_name like CONCAT('%',#{paramCondition.originName},'%')
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.OriginParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_origin where display = 1
        <if test="paramCondition.originName != null and paramCondition.originName != ''">
            and origin_name like CONCAT('%',#{paramCondition.originName},'%')
        </if>
    </select>

</mapper>
