<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.OutstockOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.OutstockOrder">
        <id column="outstock_order_id" property="outstockOrderId"/>
        <result column="state" property="state"/>
        <result column="user_id" property="userId"/>
        <result column="note" property="note"/>
        <result column="time" property="time"/>
        <result column="theme" property="theme" />
        <result column="origin" property="origin" />
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="coding" property="coding"/>
        <result column="update_time" property="updateTime"/>
        <result column="storehouse_id" property="storehouseId"/>
        <result column="outstock_apply_id" property="outstockApplyId"/>
        <result column="deptId" property="deptId"/>
        <result column="display" property="display"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">user_id
    AS "userId",note AS "note",outstock_apply_id AS "outstockApplyId",deptId AS "deptId",source AS "source",
          source_id AS "sourceId",
        storehouse_id
        AS "storehouseId" ,outstock_order_id AS "outstockOrderId", state AS "state",  coding AS "coding", time AS "time", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.OutstockOrderResult"
            parameterType="cn.atsoft.dasheng.app.model.params.OutstockOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_order where 1 = 1
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.OutstockOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_order where 1 = 1
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.OutstockOrderResult"
            parameterType="cn.atsoft.dasheng.app.model.params.OutstockOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_order where display = 1
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
        <if test="paramCondition.storehouseId != null and paramCondition.storehouseId != ''">
            and storehouse_id like CONCAT('%',#{paramCondition.storehouseId},'%')
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>
        <if test="paramCondition.createUser != null">
            and create_user =  #{paramCondition.createUser}
        </if>
        <if test="paramCondition.times != null and paramCondition.times.size == 2">
            and create_time between
            <foreach collection="paramCondition.times" index="index" item="state" separator=" and ">
                #{state}
            </foreach>
        </if>
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.app.model.params.OutstockOrderParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock_order where 1 = 1
        <if test="paramCondition.time != null and paramCondition.time != ''">
            and time like CONCAT('%',#{paramCondition.time},'%')
        </if>
    </select>
    <select id="groupByUser" resultType="cn.atsoft.dasheng.app.model.request.StockView"
            parameterType="cn.atsoft.dasheng.erp.model.params.DataStatisticsViewParam">
        SELECT
            create_user AS "createUser",
            COUNT(outstock_order_id) AS "orderCount",
            create_time AS "createTime"
        FROM
            daoxin_erp_outstock_order
        WHERE
            1 = 1
        <if test="paramCondition.beginTime!=null and paramCondition.endTime!=null">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.beginTime},'%Y/%m/%d
            %H:%i:%s')
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        GROUP BY
            create_user
    </select>
</mapper>
