<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.OutstockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Outstock">
        <id column="outstock_id" property="outstockId"/>
        <result column="storehouse_id" property="storehouseId"/>
        <result column="outstock_apply_id" property="outstockApplyId"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="number" property="number"/>
        <result column="price" property="price"/>
        <result column="outstock_order_id" property="outstockOrderId"/>
        <result column="brand_id" property="brandId"/>
        <result column="stock_id" property="stockId"/>
        <result column="stock_item_id" property="stockItemId"/>
        <result column="item_id" property="itemId"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="sku_id" property="skuId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">stock_item_id
    AS "stockItemId",outstock_apply_id AS "outstockApplyId", deptId AS "deptId",tenant_id AS "tenantId",sku_id AS "skuId",
        stock_id As "stockId" ,outstock_order_id AS "outstockOrderId" , outstock_id AS "outstockId", storehouse_id AS "storehouseId", delivery_time AS "deliveryTime", number AS "number", price AS "price", brand_id AS "brandId",item_id AS "itemId",state AS "state", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.OutstockResult"
            parameterType="cn.atsoft.dasheng.app.model.params.OutstockParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock where display = 1
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.outstockId!= null">
            and outstock_id = #{paramCondition.outstockId}
        </if>
        <if test="paramCondition.brandId!=null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.itemId!=null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.OutstockParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock where display = 1
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.outstockId!= null">
            and outstock_id = #{paramCondition.outstockId}
        </if>
        <if test="paramCondition.brandId!=null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.itemId!=null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.OutstockResult"
            parameterType="cn.atsoft.dasheng.app.model.params.OutstockParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock where display = 1
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.outstockId!= null">
            and outstock_id = #{paramCondition.outstockId}
        </if>
        <if test="paramCondition.brandId!=null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.itemId!=null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
        <if test="paramCondition.deliveryTime!=null">
            and delivery_time like '%${paramCondition.deliveryTime}%'
        </if>
        <if test="paramCondition.outstockOrderId!=null">
            and outstock_order_id = #{paramCondition.outstockOrderId}
        </if>
        <if test="paramCondition.state!=null">
            and state = #{paramCondition.state}
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.OutstockParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_outstock where display = 1
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.outstockId!= null">
            and outstock_id = #{paramCondition.outstockId}
        </if>
        <if test="paramCondition.brandId!=null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.itemId!=null">
            and item_id like CONCAT('%',#{paramCondition.itemId},'%')
        </if>
    </select>

</mapper>
