<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.PartsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Parts">
        <id column="parts_id" property="partsId"/>
        <result column="spu_id" property="spuId"/>
        <result column="attribute" property="attribute"/>
        <result column="pid" property="pid"/>
        <result column="skus" property="skus"/>
        <result column="number" property="number"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="type" property="type"/>
        <result column="deptId" property="deptId"/>
        <result column="part_name" property="partName"/>
        <result column="note" property="note"/>
        <result column="sku_id" property="skuId"/>
        <result column="children" property="children"/>
        <result column="childrens" property="childrens"/>
        <result column="status" property="status"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">sku_id
    AS "skuId", children AS "children",childrens AS "childrens",status AS "status",name AS "name",
        parts_id
        AS "partsId", spu_id AS "spuId",skus AS "skus",type AS "type", attribute AS "attribute", pid AS "pid", number AS "number", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser", display AS "display", deptId AS "deptId", part_name AS "partName", note AS "note"
    </sql>

    <sql id="sku_join_column">
        daoxin_erp_parts
        .
        sku_id
        AS "skuId", daoxin_erp_parts.children AS "children",daoxin_erp_parts.childrens AS
        "childrens",daoxin_erp_parts.status AS "status",
        daoxin_erp_parts.parts_id
        AS "partsId", daoxin_erp_parts.spu_id AS "spuId",daoxin_erp_parts.skus AS "skus",daoxin_erp_parts.type AS
        "type", daoxin_erp_parts.attribute AS
        "attribute", daoxin_erp_parts.pid AS "pid", daoxin_erp_parts.number AS
        "number", daoxin_erp_parts.create_time AS "createTime", daoxin_erp_parts.update_time AS "updateTime",
        daoxin_erp_parts.create_user AS "createUser", daoxin_erp_parts.update_user AS
        "updateUser", daoxin_erp_parts.display AS "display", daoxin_erp_parts.deptId AS "deptId",
        daoxin_erp_parts.part_name AS "partName", daoxin_erp_parts.note AS "note"
    </sql>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.PartsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_parts where 1 = 1
        <if test="paramCondition.partsId != null">
            and parts_id like CONCAT('%',#{paramCondition.partsId},'%')
        </if>
        <if test="paramCondition.spuId != null">
            and spu_id like CONCAT('%',#{paramCondition.spuId},'%')
        </if>
        <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
            and attribute like CONCAT('%',#{paramCondition.attribute},'%')
        </if>
        <if test="paramCondition.pid != null">
            and pid = #{paramCondition.pid}
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.partName != null and paramCondition.partName != ''">
            and part_name like CONCAT('%',#{paramCondition.partName},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.PartsResult"
            parameterType="cn.atsoft.dasheng.app.model.params.PartsParam">
        select
        <include refid="sku_join_column"/>from
        daoxin_erp_parts join (SELECT sku_id FROM goods_sku where display = 1 ) as goods_sku on
        daoxin_erp_parts.sku_id = goods_sku.sku_id
        where 1 = 1
        <if test="paramCondition.partsId != null">
            and daoxin_erp_parts.parts_id like CONCAT('%',#{paramCondition.partsId},'%')
        </if>
        <if test="paramCondition.partIds != null and  paramCondition.partIds.size>0">
            and daoxin_erp_parts.parts_id in
            <foreach collection="paramCondition.partIds" separator="," open="(" item="state" index="index" close=")">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.spuId != null">
            and daoxin_erp_parts.spu_id like CONCAT('%',#{paramCondition.spuId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and daoxin_erp_parts.sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
            and daoxin_erp_parts.attribute like CONCAT('%',#{paramCondition.attribute},'%')
        </if>
        <if test="paramCondition.pid != null">
            and daoxin_erp_parts.pid = #{paramCondition.pid}
        </if>
        <if test="paramCondition.status != null">
            and daoxin_erp_parts.status = #{paramCondition.status}
        </if>
        <if test="paramCondition.number != null">
            and daoxin_erp_parts.number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and daoxin_erp_parts.create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>

        <if test="paramCondition.createUser != null">
            and daoxin_erp_parts.create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>

        <if test="paramCondition.display != null">
            and daoxin_erp_parts.display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and daoxin_erp_parts.deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.partName != null and paramCondition.partName != ''">
            and daoxin_erp_parts.part_name like CONCAT('%',#{paramCondition.partName},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and daoxin_erp_parts.note like CONCAT('%',#{paramCondition.note},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and daoxin_erp_parts.type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">
            and daoxin_erp_parts.sku_id in (
            select sku_id from goods_sku where sku_name like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select sku_id from goods_sku where standard like CONCAT('%',#{paramCondition.skuName},'%')
            union
            select sku_id from goods_sku where spu_id in (select spu_id from goods_spu where name like
            CONCAT('%',#{paramCondition.skuName},'%') )
            )
        </if>

    </select>

    <select id="oldCustomPageList" resultType="cn.atsoft.dasheng.app.model.result.PartsResult"
            parameterType="cn.atsoft.dasheng.app.model.params.PartsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_parts where display = 0
        <if test="paramCondition.partsId != null">
            and parts_id like CONCAT('%',#{paramCondition.partsId},'%')
        </if>
        <if test="paramCondition.spuId != null">
            and spu_id like CONCAT('%',#{paramCondition.spuId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
            and attribute like CONCAT('%',#{paramCondition.attribute},'%')
        </if>
        <if test="paramCondition.pid != null">
            and pid = #{paramCondition.pid}
        </if>
        <if test="paramCondition.status != null">
            and status = #{paramCondition.status}
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.partName != null and paramCondition.partName != ''">
            and part_name like CONCAT('%',#{paramCondition.partName},'%')
        </if>
        <!--        <if test="paramCondition.type != null and paramCondition.type != ''">-->
        <!--            and type like CONCAT('%',#{paramCondition.type},'%')-->
        <!--        </if>-->
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.PartsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_parts where 1 = 1
        <if test="paramCondition.partsId != null">
            and parts_id like CONCAT('%',#{paramCondition.partsId},'%')
        </if>
        <if test="paramCondition.spuId != null">
            and spu_id like CONCAT('%',#{paramCondition.spuId},'%')
        </if>
        <if test="paramCondition.attribute != null and paramCondition.attribute != ''">
            and attribute like CONCAT('%',#{paramCondition.attribute},'%')
        </if>
        <if test="paramCondition.pid != null">
            and pid = #{paramCondition.pid}
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.partName != null and paramCondition.partName != ''">
            and part_name like CONCAT('%',#{paramCondition.partName},'%')
        </if>
        <if test="paramCondition.note != null and paramCondition.note != ''">
            and note like CONCAT('%',#{paramCondition.note},'%')
        </if>
    </select>


    <select id="getTopSkuId" resultType="Long">
        SELECT sku_id
        FROM daoxin_erp_parts
        WHERE sku_id NOT IN (SELECT sku_id FROM daoxin_erp_parts_detail)
          AND type = 1
          AND STATUS = 99
          and display = 1
    </select>
</mapper>
