<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.StockDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.StockDetails">
        <id column="stock_item_id" property="stockItemId"/>
        <result column="stock_id" property="stockId"/>
        <result column="price" property="price"/>
        <result column="item_id" property="itemId"/>
        <result column="storehouse_id" property="storehouseId"/>
        <result column="storage_time" property="storageTime"/>
        <result column="brand_id" property="brandId"/>
        <result column="barcode" property="barcode"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="stage" property="stage"/>
        <result column="outstock_order_id" property="outStockOrderId"/>
        <result column="deptId" property="deptId"/>
        <result column="sku_id" property="skuId"/>
        <result column="storehouse_positions_id" property="storehousePositionsId"/>
        <result column="number" property="number"/>
        <result column="qr_code_id" property="qrCodeId"/>
        <result column="customer_id" property="customerId"/>
        <result column="inkind_id" property="inkindId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">outstock_order_id
    AS "outStockOrderId",deptId AS "deptId",number AS "number",qr_code_id AS "qrCodeId",inkind_id AS "inkindId",customer_id AS "customerId",
stage
    AS "stage",sku_id AS "skuId",storehouse_positions_id AS "storehousePositionsId",
        barcode AS "barcode", brand_id AS "brandId", item_id AS "itemId", storehouse_id AS "storehouseId",  stock_item_id AS "stockItemId", stock_id AS "stockId", price AS "price", storage_time AS "storageTime", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", display AS "display"
    </sql>
    <sql id="Excel_List">
        number
        AS "number",
        customer_id AS "customerId",
        sku_id AS "skuId",
        storehouse_positions_id AS "storehousePositionsId",
        brand_id AS "brandId",
        storehouse_id AS "storehouseId",
        stock_item_id AS "stockItemId",
        stock_id AS "stockId",
        display AS "display" ,
        stage AS "stage",
        stage AS "stage",
        sum(number) AS "skuSum"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.StockDetailsResult"
            parameterType="cn.atsoft.dasheng.app.model.params.StockDetailsParam">
        select
        <include refid="Base_Column_List"/>

        from daoxin_erp_stock_details where 1 = 1
        <if test="paramCondition.stockId != null">
            and stock_id = #{paramCondition.stockId}
        </if>
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id = #{paramCondition.brandId}
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.StockDetailsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_details where 1 = 1
        <if test="paramCondition.stockId != null">
            and stock_id = #{paramCondition.stockId}
        </if>
        <if test="paramCondition.itemId != null">
            and item_id = #{paramCondition.itemId}
        </if>
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id = #{paramCondition.brandId}
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.StockDetailsResult"
            parameterType="cn.atsoft.dasheng.app.model.params.StockDetailsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_details where display = 1 and number != 0
        <if test="paramCondition.stockId != null">
            and stock_id = #{paramCondition.stockId}
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id = #{paramCondition.skuId}
        </if>
        <if test="paramCondition.storageTime !=null">
            and storage_time like CONCAT('%',#{paramCondition.storageTime},'%')
        </if>
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id = #{paramCondition.brandId}
        </if>
        <if test="paramCondition.outStockOrderId != null">
            and outstock_order_id = #{paramCondition.outStockOrderId}
        </if>
        <if test="paramCondition.storehousePositionsId != null">
            and storehouse_positions_id = #{paramCondition.storehousePositionsId}
        </if>
        <if test="paramCondition.stage != null">
            and stage = #{paramCondition.stage}
        </if>
        <if test="paramCondition.skuName != null ">
            and sku_id in (SELECT sku_id from goods_sku where spu_id in (select spu_id from goods_spu where name like
            CONCAT
            ('%',#{paramCondition.skuName},'%') ) )
            UNION
            SELECT
            <include refid="Base_Column_List"/>
            FROM daoxin_erp_stock_details where sku_id in (SELECT sku_id from goods_sku where sku_name like CONCAT
            ('%',#{paramCondition.skuName},'%') )
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.app.model.params.StockDetailsParam">
        select
        <include refid="Base_Column_List"/>

        from daoxin_erp_stock_details where 1 = 1
        <if test="paramCondition.stockId != null">
            and stock_id = #{paramCondition.stockId}
        </if>
        <if test="paramCondition.itemId != null">
            and item_id = #{paramCondition.itemId}
        </if>
        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id = #{paramCondition.brandId}
        </if>
    </select>

    <!--EXCEL导出查询-->
    <select id="stockDetailExcelExport" resultType="cn.atsoft.dasheng.Excel.pojo.StockDetailExcel"
            parameterType="cn.atsoft.dasheng.app.model.params.StockDetailsParam">
        select
        <include refid="Excel_List"/>

        from daoxin_erp_stock_details where 1 = 1
        GROUP BY sku_id,storehouse_positions_id
    </select>


    <!--    需要养护实物查询-->
    <select id="maintenanceQuerry" resultType="cn.atsoft.dasheng.app.entity.StockDetails"
            parameterType="cn.atsoft.dasheng.app.model.params.StockDetailsParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_stock_details where display = 1 and number != 0 and stage = 1

        <if test="paramCondition.storehouseId != null">
            and storehouse_id = #{paramCondition.storehouseId}
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id = #{paramCondition.brandId}
        </if>
        <if test="paramCondition.storehousePositionsId != null">
            and storehouse_positions_id = #{paramCondition.storehousePositionsId}
        </if>
        <if test="paramCondition.skuIds != null and  paramCondition.skuIds.size>0">
            and sku_id in
            <foreach collection="paramCondition.skuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <if test=" paramCondition.notNeedMaintenanceInkindIds != null  and paramCondition.notNeedMaintenanceInkindIds.size>0">
            and inkind_id not in
            <foreach collection="paramCondition.notNeedMaintenanceInkindIds" index="index"
                     item="notNeedMaintenanceInkindId" separator="," close=")" open="(">
                #{notNeedMaintenanceInkindId}
            </foreach>
        </if>
        <if test=" paramCondition.positionIds != null  and paramCondition.positionIds.size>0">
            and storehouse_positions_id  in
            <foreach collection="paramCondition.positionIds" index="index" item="positionId" separator="," close=")" open="(">
                #{positionId}
            </foreach>
        </if>

    </select>
</mapper>
