<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.app.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.app.entity.Template">
        <id column="template_id" property="templateId"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deptId" property="deptId"/>
        <result column="display" property="display"/>
        <result column="file_id" property="fileId"/>
        <result column="contract_class_id" property="contractClassId"/>
        <result column="replace_rule" property="replaceRule"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">deptId
    AS "deptId",contract_class_id AS "contractClassId",file_id AS "fileId",replace_rule AS "replace_rule",
        template_id
        AS "templateId", name AS "name", content AS "content", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.app.model.result.TemplateResult"
            parameterType="cn.atsoft.dasheng.app.model.params.TemplateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_template where 1 = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.TemplateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_template where 1 = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.app.model.result.TemplateResult"
            parameterType="cn.atsoft.dasheng.app.model.params.TemplateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_template where display = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.templateId != null">
            and template_id =#{paramCondition.templateId}
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.app.model.params.TemplateParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_template where 1 = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
    </select>

</mapper>
