<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.view.mapper.TableViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.view.entity.TableView">
        <id column="table_view_id" property="tableViewId"/>
        <result column="table_key" property="tableKey"/>
        <result column="user_id" property="userId"/>
        <result column="field" property="field"/>
        <result column="name" property="name"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        table_view_id
        AS "tableViewId", table_key AS "tableKey",name AS "name", user_id AS "userId", field AS "field", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.view.model.result.TableViewResult"
            parameterType="cn.atsoft.dasheng.view.model.params.TableViewParam">
        select
        <include refid="Base_Column_List"/>
        from view_table_view where 1 = 1
        <if test="paramCondition.tableViewId != null">
            and table_view_id like CONCAT('%',#{paramCondition.tableViewId},'%')
        </if>
        <if test="paramCondition.tableKey != null and paramCondition.tableKey != ''">
            and table_key like CONCAT('%',#{paramCondition.tableKey},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.field != null and paramCondition.field != ''">
            and field like CONCAT('%',#{paramCondition.field},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.view.model.params.TableViewParam">
        select
        <include refid="Base_Column_List"/>
        from view_table_view where 1 = 1
        <if test="paramCondition.tableViewId != null">
            and table_view_id like CONCAT('%',#{paramCondition.tableViewId},'%')
        </if>
        <if test="paramCondition.tableKey != null and paramCondition.tableKey != ''">
            and table_key like CONCAT('%',#{paramCondition.tableKey},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.field != null and paramCondition.field != ''">
            and field like CONCAT('%',#{paramCondition.field},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.view.model.result.TableViewResult"
            parameterType="cn.atsoft.dasheng.view.model.params.TableViewParam">
        select
        <include refid="Base_Column_List"/>
        from view_table_view where 1 = 1
        <if test="paramCondition.tableViewId != null">
            and table_view_id like CONCAT('%',#{paramCondition.tableViewId},'%')
        </if>
        <if test="paramCondition.tableKey != null and paramCondition.tableKey != ''">
            and table_key like CONCAT('%',#{paramCondition.tableKey},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.field != null and paramCondition.field != ''">
            and field like CONCAT('%',#{paramCondition.field},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.name != null">
            and name like CONCAT('%',#{paramCondition.name},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.view.model.params.TableViewParam">
        select
        <include refid="Base_Column_List"/>
        from view_table_view where 1 = 1
        <if test="paramCondition.tableViewId != null">
            and table_view_id like CONCAT('%',#{paramCondition.tableViewId},'%')
        </if>
        <if test="paramCondition.tableKey != null and paramCondition.tableKey != ''">
            and table_key like CONCAT('%',#{paramCondition.tableKey},'%')
        </if>
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.field != null and paramCondition.field != ''">
            and field like CONCAT('%',#{paramCondition.field},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

</mapper>
