<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.inStock.mapper.RestInstockOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.inStock.entity.RestInstockOrderDetail">
        <id column="instock_list_id" property="instockListId"/>
        <result column="brand_id" property="brandId"/>
        <result column="status" property="status"/>
        <result column="number" property="number"/>
        <result column="instock_order_id" property="instockOrderId"/>
        <result column="received_date" property="receivedDate"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="manufacture_date" property="manufactureDate"/>
        <result column="lot_number" property="lotNumber"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="inkind_id" property="inkindId"/>
        <result column="update_user" property="updateUser"/>
        <result column="display" property="display"/>
        <result column="storehouse_id" property="storeHouseId"/>
        <result column="cost_price" property="costPrice"/>
        <result column="selling_price" property="sellingPrice"/>
        <result column="deptId" property="deptId"/>
        <result column="sku_id" property="skuId"/>
        <result column="storehouse_positions_id" property="storehousePositionsId"/>
        <result column="instock_number" property="instockNumber"/>
        <result column="real_number" property="realNumber"/>
        <result column="customer_id" property="customerId"/>
        <result column="anomaly_handle" property="anomalyHandle"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">received_date
    AS "receivedDate",effective_date AS "effectiveDate",manufacture_date AS "manufactureDate",lot_number AS "lotNumber",serial_number AS "serialNumber",
        instock_number
        AS "instockNumber",real_number AS "realNumber",customer_id AS "customerId",anomaly_handle AS "anomalyHandle",
storehouse_id
    AS "storeHouseId", selling_price AS "sellingPrice",cost_price AS "costPrice",sku_id AS "skuId",storehouse_positions_id AS "storehousePositionsId",
        instock_list_id AS "RestInstockOrderDetailId", brand_id AS "brandId",inkind_id AS "inkindId", status AS "status", number AS "number", instock_order_id AS "instockOrderId", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", display AS "display",  deptId AS "deptId",tenant_id AS "tenantId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.inStock.model.result.RestInstockOrderDetailResult"
            parameterType="cn.atsoft.dasheng.inStock.model.params.RestInstockOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.RestInstockOrderDetailId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.RestInstockOrderDetailId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.inStock.model.params.RestInstockOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.RestInstockOrderDetailId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.RestInstockOrderDetailId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and storehouse_id like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.inStock.model.result.RestInstockOrderDetailResult"
            parameterType="cn.atsoft.dasheng.inStock.model.params.RestInstockOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.RestInstockOrderDetailId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.RestInstockOrderDetailId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
        <if test="paramCondition.storeHouseId != null">
            and storeHouseId like CONCAT('%',#{paramCondition.storeHouseId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.inStock.model.params.RestInstockOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_instock_list where 1 = 1
        <if test="paramCondition.RestInstockOrderDetailId != null">
            and instock_list_id like CONCAT('%',#{paramCondition.RestInstockOrderDetailId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.status != null">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.number != null">
            and number like CONCAT('%',#{paramCondition.number},'%')
        </if>
        <if test="paramCondition.instockOrderId != null">
            and instock_order_id like CONCAT('%',#{paramCondition.instockOrderId},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
            and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
        </if>
        <if test="paramCondition.updateUser != null">
            and update_user like CONCAT('%',#{paramCondition.updateUser},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
    </select>



</mapper>
