<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.bom.mapper.RestBomMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.bom.entity.RestBom">
        <id column="bom_id" property="bomId"/>
        <result column="sku_id" property="skuId"/>
        <result column="version" property="version"/>
        <result column="note" property="note"/>
        <result column="children" property="children"/>
        <result column="childrens" property="childrens"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bom_id AS "bomId",
        sku_id AS "skuId",
        version AS "version",
        note AS "note",
        children AS "children",
        childrens AS "childrens",
        create_time AS "createTime",
        update_time AS "updateTime",
        create_user AS "createUser",
        update_user AS "updateUser"
    </sql>
    <sql id="LeftJoin">
            b.bom_id AS "bomId",
            b.sku_id AS "skuId",
            b.version AS "version",
            b.note AS "note",
            b.children AS "children",
            b.childrens AS "childrens",
            b.create_time AS "createTime",
            b.update_time AS "updateTime",
            b.create_user AS "createUser",
            b.update_user AS "updateUser",
            b.deptId AS "deptId",
            b.tenant_id AS tenantId

    </sql>
    <select id="customList" resultType="cn.atsoft.dasheng.bom.model.result.RestBomResult" parameterType="cn.atsoft.dasheng.bom.model.params.RestBomParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_bom where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.bom.model.params.RestBomParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_bom where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.bom.model.result.RestBomResult" parameterType="cn.atsoft.dasheng.bom.model.params.RestBomParam">
        select
        <include refid="LeftJoin"/>
        FROM
        daoxin_erp_bom b
        LEFT JOIN goods_sku s ON b.sku_id = s.sku_id
        where  1 = 1
        <if test="paramCondition.bomId != null">
            and b.bom_id like CONCAT('%',#{paramCondition.partsId},'%')
        </if>
<!--        <if test="paramCondition.partIds != null and  paramCondition.partIds.size>0">-->
<!--            and b.bom_id in-->
<!--            <foreach collection="paramCondition.partIds" separator="," open="(" item="state" index="index" close=")">-->
<!--                #{state}-->
<!--            </foreach>-->
<!--        </if>-->
        <if test="paramCondition.skuId != null">
            and b.sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.createUser != null">
            and b.create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.deptId != null">
            and b.deptId like CONCAT('%',#{paramCondition.deptId},'%')
        </if>
<!--        <if test="paramCondition.skuName != null and paramCondition.skuName != ''">-->
<!--            and b.sku_id in (-->
<!--                select sku_id from view_sku-->
<!--                where 1 = 1 and (-->
<!--                sku_name like CONCAT('%',#{paramCondition.keywords},'%')-->
<!--                or-->
<!--                spu_name like CONCAT('%',#{paramCondition.keywords},'%')-->
<!--                or-->
<!--                category_name like CONCAT('%',#{paramCondition.keywords},'%')-->
<!--                or-->
<!--                standard like CONCAT('%',#{paramCondition.keywords},'%')-->
<!--                or-->
<!--                specifications like CONCAT('%',#{paramCondition.keywords},'%')-->
<!--                )-->
<!--            )-->
<!--        </if>-->
        <if test="paramCondition.keywords!=null and paramCondition.keywords!=''">
            and (
                b.version like CONCAT('%',#{paramCondition.keywords},'%')
                or
                b.sku_id in (
                    select sku_id from view_sku
                    where 1 = 1 and (
                        sku_name like CONCAT('%',#{paramCondition.keywords},'%')
                        or
                        spu_name like CONCAT('%',#{paramCondition.keywords},'%')
                        or
                        category_name like CONCAT('%',#{paramCondition.keywords},'%')
                        or
                        standard like CONCAT('%',#{paramCondition.keywords},'%')
                        or
                        specifications like CONCAT('%',#{paramCondition.keywords},'%')
                    )
                )

            )
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.bom.model.params.RestBomParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_erp_bom where 1 = 1
    </select>
    <select id="countBySkuIdAndName" resultType="Integer">
        SELECT
        count(*)
        FROM
        `daoxin_erp_bom`
        WHERE 1 = 1
        <if test="skuId != null and skuId != ''">
            sku_id = #{skuId}
        </if>
            AND version = #{version}
    </select>
    <select id="getBySkuIds" resultType="cn.atsoft.dasheng.bom.entity.RestBom">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            daoxin_erp_bom
        WHERE 1 = 1
            and sku_id in (
            <foreach collection="skuIds" index="index" item="skuIds" separator=",">
                #{skuIds}
            </foreach>
            )
    </select>
</mapper>