<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.crm.mapper.CompetitorQuoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.crm.entity.CompetitorQuote">
        <id column="quote_id" property="quoteId" />
        <result column="competitor_id" property="competitorId" />
        <result column="competitors_quote" property="competitorsQuote" />
        <result column="quote_status" property="quoteStatus" />
        <result column="business_id" property="businessId"/>
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="camp_type" property="campType"/>
        <result column="deptId" property="deptId"/>
        <result column="display" property="display" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List"> deptId AS "deptId",tenant_id AS "tenantId",
        quote_id AS "quoteId",business_id AS "businessId", competitor_id AS "competitorId", camp_type AS "campType", competitors_quote AS "competitorsQuote", quote_status AS "quoteStatus", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.crm.model.result.CompetitorQuoteResult" parameterType="cn.atsoft.dasheng.crm.model.params.CompetitorQuoteParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_competitor_quote where display = 1
            <if test="paramCondition.competitorId != null">
                and competitor_id like CONCAT('%',#{paramCondition.competitorId},'%')
            </if>
            <if test="paramCondition.businessId != null and paramCondition.businessId != ''">
                and business_id like CONCAT('%',#{paramCondition.businessId},'%')
            </if>

    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.CompetitorQuoteParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_competitor_quote where 1 = 1
                <if test="paramCondition.competitorId != null">
                        and competitor_id like CONCAT('%',#{paramCondition.competitorId},'%')
                </if>
                <if test="paramCondition.businessId != null and paramCondition.businessId != ''">
                    and business_id like CONCAT('%',#{paramCondition.businessId},'%')
                </if>

    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.crm.model.result.CompetitorQuoteResult" parameterType="cn.atsoft.dasheng.crm.model.params.CompetitorQuoteParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_competitor_quote where display = 1
                <if test="paramCondition.competitorId != null">
                        and competitor_id like CONCAT('%',#{paramCondition.competitorId},'%')
                </if>
                <if test="paramCondition.businessId != null and paramCondition.businessId != ''">
                    and business_id like CONCAT('%',#{paramCondition.businessId},'%')
                </if>
                <if test="paramCondition.campType != null" >
                        and camp_type = #{paramCondition.campType}
                </if>
                <if test="paramCondition.quoteId != null" >
                    and quote_id = #{paramCondition.quoteId}
                </if>
                <if test="paramCondition.quoteStatus != null">
                    and quote_status = #{paramCondition.quoteStatus}
                </if>
                <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
                    and deptId = #{paramCondition.deptId} or dept_id in ( select dept_id from sys_dept where pids like CONCAT('%', #{paramCondition.deptId},'%'))
                </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.CompetitorQuoteParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_competitor_quote where 1 = 1
                <if test="paramCondition.competitorId != null">
                        and competitor_id like CONCAT('%',#{paramCondition.competitorId},'%')
                </if>
                <if test="paramCondition.businessId != null and paramCondition.businessId != ''">
                    and business_id like CONCAT('%',#{paramCondition.businessId},'%')
                </if>

    </select>

</mapper>
