<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.crm.mapper.CustomerFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.crm.entity.CustomerFile">
        <id column="file_id" property="fileId"/>
        <result column="customer_id" property="customerId"/>
        <result column="url" property="url"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">uid
    AS "uid",name AS "name", deptId AS "deptId",tenant_id AS "tenantId",
        file_id AS "fileId", customer_id AS "customerId", url AS "url", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.crm.model.result.CustomerFileResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.CustomerFileParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_file where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>

    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.CustomerFileParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_file where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>

    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.crm.model.result.CustomerFileResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.CustomerFileParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_file where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id = #{paramCondition.customerId}
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>

    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.crm.model.params.CustomerFileParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_customer_file where 1 = 1
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>

    </select>

</mapper>
