<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.crm.mapper.SpeechcraftTypeDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.crm.entity.SpeechcraftTypeDetail">
        <id column="speechcraft_type_detail_id" property="speechcraftTypeDetailId" />
        <result column="name" property="name" />
        <result column="speechcraft_type_id" property="speechcraftTypeId" />
        <result column="sort" property="sort" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="display" property="display" />
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List"> deptId AS "deptId",tenant_id AS "tenantId",
        speechcraft_type_detail_id AS "speechcraftTypeDetailId", name AS "name", speechcraft_type_id AS "speechcraftTypeId", sort AS "sort", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.crm.model.result.SpeechcraftTypeDetailResult" parameterType="cn.atsoft.dasheng.crm.model.params.SpeechcraftTypeDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_speechcraft_type_detail where 1 = 1
            <if test="paramCondition.speechcraftTypeDetailId != null">
                and speechcraft_type_detail_id like CONCAT('%',#{paramCondition.speechcraftTypeDetailId},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.speechcraftTypeId != null">
                and speechcraft_type_id like CONCAT('%',#{paramCondition.speechcraftTypeId},'%')
            </if>
            <if test="paramCondition.sort != null">
                and sort like CONCAT('%',#{paramCondition.sort},'%')
            </if>


    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.SpeechcraftTypeDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_speechcraft_type_detail where 1 = 1
                <if test="paramCondition.speechcraftTypeDetailId != null">
                        and speechcraft_type_detail_id like CONCAT('%',#{paramCondition.speechcraftTypeDetailId},'%')
                </if>
                <if test="paramCondition.name != null and paramCondition.name != ''">
                        and name like CONCAT('%',#{paramCondition.name},'%')
                </if>
                <if test="paramCondition.speechcraftTypeId != null">
                        and speechcraft_type_id like CONCAT('%',#{paramCondition.speechcraftTypeId},'%')
                </if>
                <if test="paramCondition.sort != null">
                        and sort like CONCAT('%',#{paramCondition.sort},'%')
                </if>


    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.crm.model.result.SpeechcraftTypeDetailResult" parameterType="cn.atsoft.dasheng.crm.model.params.SpeechcraftTypeDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_speechcraft_type_detail where 1 = 1
                <if test="paramCondition.speechcraftTypeDetailId != null">
                        and speechcraft_type_detail_id like CONCAT('%',#{paramCondition.speechcraftTypeDetailId},'%')
                </if>
                <if test="paramCondition.name != null and paramCondition.name != ''">
                        and name like CONCAT('%',#{paramCondition.name},'%')
                </if>
                <if test="paramCondition.speechcraftTypeId != null">
                        and speechcraft_type_id like CONCAT('%',#{paramCondition.speechcraftTypeId},'%')
                </if>
                <if test="paramCondition.sort != null">
                        and sort like CONCAT('%',#{paramCondition.sort},'%')
                </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>


    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.SpeechcraftTypeDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_speechcraft_type_detail where 1 = 1
                <if test="paramCondition.speechcraftTypeDetailId != null">
                        and speechcraft_type_detail_id like CONCAT('%',#{paramCondition.speechcraftTypeDetailId},'%')
                </if>
                <if test="paramCondition.name != null and paramCondition.name != ''">
                        and name like CONCAT('%',#{paramCondition.name},'%')
                </if>
                <if test="paramCondition.speechcraftTypeId != null">
                        and speechcraft_type_id like CONCAT('%',#{paramCondition.speechcraftTypeId},'%')
                </if>
                <if test="paramCondition.sort != null">
                        and sort like CONCAT('%',#{paramCondition.sort},'%')
                </if>


    </select>

</mapper>
