<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.crm.mapper.SupplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.crm.entity.Supply">
        <id column="supply_id" property="supplyId"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_brand_bind" property="skuBrandBind"/>
        <result column="customer_id" property="customerId"/>
        <result column="display" property="display"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="brand_id" property="brandId"/>
        <result column="supplier_model" property="supplierModel"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    brand_id AS "brandId",
    supplier_model AS "supplierModel",
    supply_id AS "supplyId",
    sku_id AS "skuId",
    customer_id AS "customerId",
    display AS "display",
    create_user AS "createUser",
    update_user AS "updateUser",
    create_time AS "createTime",
    update_time AS "updateTime",
    sku_brand_bind AS "skuBrandBind"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.crm.model.result.SupplyResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supply where 1 = 1 AND display = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuBrandBind != null">
            and sku_brand_bind like CONCAT('%',#{paramCondition.skuBrandBind},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <choose>
            <when test="paramCondition.nameSource == '供应商'">
                and customer_id in (select customer_id from daoxin_crm_customer where customer_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
            <when test="paramCondition.nameSource == '品牌' ">
                and brand_id in (select brand_id from daoxin_erp_brand where brand_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
        </choose>

    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supply where 1 = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.crm.model.result.SupplyResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        SELECT
        daoxin_supply.brand_id AS "brandId",
        daoxin_supply.sku_brand_bind AS "skuBrandBind",
        daoxin_supply.supplier_model AS "supplierModel",
        daoxin_supply.supply_id AS "supplyId",
        daoxin_supply.sku_id AS "skuId",
        daoxin_supply.customer_id AS "customerId",
        daoxin_supply.display AS "display",
        daoxin_crm_order_detail.create_user AS "createUser",
        daoxin_supply.update_user AS "updateUser",
        daoxin_supply.create_time AS "createTime",
        daoxin_supply.update_time AS "updateTime",
        daoxin_supply.deptId AS "deptId",
        daoxin_supply.tenant_id AS "tenantId"
        FROM
        daoxin_supply
        LEFT JOIN ( SELECT * FROM ( SELECT * FROM daoxin_crm_order_detail ORDER BY create_time ) AS
        daoxin_crm_order_detail GROUP BY sku_id, customer_id ) AS daoxin_crm_order_detail ON daoxin_supply.sku_id =
        daoxin_crm_order_detail.sku_id
        AND daoxin_supply.customer_id = daoxin_crm_order_detail.customer_id
        WHERE
        1 = 1
        AND daoxin_supply. display = 1


        <if test="paramCondition.supplyId != null">
            and daoxin_supply.supply_id = #{paramCondition.supplyId}
        </if>
        <if test="paramCondition.skuId != null">
            and daoxin_supply.sku_id = #{paramCondition.skuId}
        </if>
        <if test="paramCondition.customerId != null">
            and daoxin_supply.customer_id = #{paramCondition.customerId}
        </if>

<!--        <if test="paramCondition.noSkuIds != null and paramCondition.noSkuIds.size > 0-->
<!--        and paramCondition.noBrandIds !=null and paramCondition.noBrandIds.size>0-->
<!-- and paramCondition.noCustomerIds !=null and paramCondition.noCustomerIds.size>0 ">-->
<!--            and daoxin_supply.sku_id not in-->
<!--            <foreach collection="paramCondition.noSkuIds" index="index" item="state" separator="," close=")" open="(">-->
<!--                #{state}-->
<!--            </foreach>-->
<!--            union-->
<!--            select-->
<!--            <include refid="Base_Column_List"/>-->
<!--            from daoxin_supply where 1 = 1 and display = 1-->
<!--            and brand_id not in-->
<!--            <foreach collection="paramCondition.noBrandIds" index="index" item="state" separator="," close=")" open="(">-->
<!--                #{state}-->
<!--            </foreach>-->
<!--            union-->
<!--            select-->
<!--            <include refid="Base_Column_List"/>-->
<!--            from daoxin_supply where 1 = 1 and display = 1-->
<!--            and customer_id not in-->
<!--            <foreach collection="paramCondition.noCustomerIds" index="index" item="state" separator="," close=")"-->
<!--                     open="(">-->
<!--                #{state}-->
<!--            </foreach>-->
<!--        </if>-->
        <choose>
            <when test="paramCondition.nameSource == '供应商'">
                and daoxin_supply.customer_id in (select customer_id from daoxin_crm_customer where customer_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
            <when test="paramCondition.nameSource == '品牌' ">
                and daoxin_supply.brand_id in (select brand_id from daoxin_erp_brand where brand_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
        </choose>
        ORDER BY daoxin_crm_order_detail.create_time desc
    </select>
    <select id="listBySkuIds" resultType="cn.atsoft.dasheng.crm.model.result.SupplyResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        SELECT
            supply.brand_id AS "brandId",
            supply.supplier_model AS "supplierModel",
            supply.supply_id AS "supplyId",
            supply.sku_id AS "skuId",
            supply.customer_id AS "customerId",
            supply.display AS "display",
            supply.create_user AS "createUser",
            supply.update_user AS "updateUser",
            supply.create_time AS "createTime",
            supply.update_time AS "updateTime",
            supply.sku_brand_bind AS "skuBrandBind"
        FROM
            daoxin_supply supply
                LEFT JOIN goods_sku_brand_bind brandBind on supply.sku_brand_bind = brandBind.sku_brand_bind
        WHERE 1 = 1  and supply.sku_brand_bind is not null
        <if test="paramCondition.skuIds != null and paramCondition.skuIds.size >0">
            and brandBind.sku_id in
            <foreach collection="paramCondition.skuIds" separator="," open="(" item="state" index="index"
                     close=")">
                #{state}
            </foreach>
        </if>
        <if test="paramCondition.customerName != null and paramCondition.customerName!=''">
            and supply.customer_id in (select customer_id from daoxin_crm_customer WHERE 1 = 1 and display = 1 and customer_name like CONCAT('%',#{paramCondition.customerName},'%'))
        </if>


    </select>
    <select id="listByPurchase" resultType="cn.atsoft.dasheng.crm.model.result.SupplyResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        SELECT
            supply.brand_id AS "brandId",
            supply.supplier_model AS "supplierModel",
            supply.supply_id AS "supplyId",
            count(DISTINCT brandBind.sku_id) AS skuCount,
            supply.sku_id AS "skuId",
            supply.customer_id AS "customerId",
            supply.display AS "display",
            supply.create_user AS "createUser",
            supply.update_user AS "updateUser",
            supply.create_time AS "createTime",
            supply.update_time AS "updateTime",
            supply.sku_brand_bind AS "skuBrandBind"
        FROM
            daoxin_supply supply
                LEFT JOIN goods_sku_brand_bind brandBind on supply.sku_brand_bind = brandBind.sku_brand_bind
        WHERE 1 = 1  and supply.sku_brand_bind is not null
            and brandBind.sku_id in (select  sku_id from daoxin_purchase_list where 1 = 1 and display = 1 and  status = 0)

        <if test="paramCondition.customerName != null and paramCondition.customerName!=''">
            and supply.customer_id in (select customer_id from daoxin_crm_customer WHERE 1 = 1 and display = 1 and customer_name like CONCAT('%',#{paramCondition.customerName},'%'))
        </if>
        group by supply.customer_id

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supply where 1 = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        supply.brand_id AS "brandId",
        supply.supplier_model AS "supplierModel",
        supply.supply_id AS "supplyId",
        supply.sku_id AS "skuId",
        supply.customer_id AS "customerId",
        supply.display AS "display",
        supply.create_user AS "createUser",
        supply.update_user AS "updateUser",
        supply.create_time AS "createTime",
        supply.update_time AS "updateTime",
        supply.sku_brand_bind AS "skuBrandBind"
        from daoxin_supply supply where 1 = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
    </select>



</mapper>
