<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.crm.mapper.SupplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.crm.entity.Supply">
        <id column="supply_id" property="supplyId"/>
        <result column="sku_id" property="skuId"/>
        <result column="customer_id" property="customerId"/>
        <result column="display" property="display"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="brand_id" property="brandId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">brand_id
    AS "brandId",
        supply_id
        AS "supplyId", sku_id AS "skuId", customer_id AS "customerId", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.crm.model.result.SupplyResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supply where 1 = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <choose>
            <when test="paramCondition.nameSource == '供应商'">
                and customer_id in (select customer_id from daoxin_crm_customer where customer_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
            <when test="paramCondition.nameSource == '品牌' ">
                and brand_id in (select brand_id from daoxin_erp_brand where brand_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
        </choose>

    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supply where 1 = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.crm.model.result.SupplyResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supply where 1 = 1 and display = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
        <if test="paramCondition.noSkuIds != null and paramCondition.noSkuIds.size > 0
        and paramCondition.noBrandIds !=null and paramCondition.noBrandIds.size>0
 and paramCondition.noCustomerIds !=null and paramCondition.noCustomerIds.size>0 ">
            and sku_id not in
            <foreach collection="paramCondition.noSkuIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
            union
            select
            <include refid="Base_Column_List"/>
            from daoxin_supply where 1 = 1 and display = 1
            and brand_id not in
            <foreach collection="paramCondition.noBrandIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
            union
            select
            <include refid="Base_Column_List"/>
            from daoxin_supply where 1 = 1 and display = 1
            and customer_id not in
            <foreach collection="paramCondition.noCustomerIds" index="index" item="state" separator="," close=")" open="(">
                #{state}
            </foreach>
        </if>
        <choose>
            <when test="paramCondition.nameSource == '供应商'">
                and customer_id in (select customer_id from daoxin_crm_customer where customer_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
            <when test="paramCondition.nameSource == '品牌' ">
                and brand_id in (select brand_id from daoxin_erp_brand where brand_name like
                CONCAT('%',#{paramCondition.name},'%'))
            </when>
        </choose>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.SupplyParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_supply where 1 = 1
        <if test="paramCondition.supplyId != null">
            and supply_id like CONCAT('%',#{paramCondition.supplyId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.display != null">
            and display like CONCAT('%',#{paramCondition.display},'%')
        </if>
    </select>

</mapper>
