<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.crm.mapper.TrackMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.crm.entity.TrackMessage">
        <id column="track_message_id" property="trackMessageId"/>
        <result column="message" property="message"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="business_id" property="businessId"/>
        <result column="time" property="time"/>
        <result column="note" property="note"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="image" property="image"/>
        <result column="type" property="type"/>
        <result column="user_id" property="userId"/>
        <result column="display" property="display"/>
        <result column="customer_id" property="customerId"/>
        <result column="state" property="state"/>
        <result column="deptId" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_id
        AS "customerId",user_id
    AS "userId",type AS "type",business_id
    AS "businessId",  note AS "note",  time AS "time", latitude AS "latitude", longitude AS "longitude", image AS "image", deptId AS "deptId",tenant_id AS "tenantId", state AS "state",
        track_message_id AS "trackMessageId", message AS "message", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.crm.model.result.TrackMessageResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.TrackMessageParam">
        select
        customer_id AS "customerId" , track_message_id AS "trackMessageId"
        from daoxin_crm_business_track_message where 1 = 1
        <if test="paramCondition.businessId != null">
            and business_id like CONCAT('%',#{paramCondition.businessId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>


    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.crm.model.params.TrackMessageParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_track_message where 1 = 1
        <if test="paramCondition.businessId != null">
            and business_id like CONCAT('%',#{paramCondition.businessId},'%')
        </if>


    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.crm.model.result.TrackMessageResult"
            parameterType="cn.atsoft.dasheng.crm.model.params.TrackMessageParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_track_message where 1 = 1
        <if test="paramCondition.businessId != null">
            and business_id like CONCAT('%',#{paramCondition.businessId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.state != null">
            and state like CONCAT('%',#{paramCondition.state},'%')
        </if>
        <if test="paramCondition.deptId != null and paramCondition.deptId != 0">
            and deptId = #{paramCondition.deptId} or deptId in ( select dept_id from sys_dept where pids like
            CONCAT('%$[', #{paramCondition.deptId}, '$]%') escape '$' ))
        </if>


    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.crm.model.params.TrackMessageParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_business_track_message where 1 = 1
        <if test="paramCondition.businessId != null">
            and business_id like CONCAT('%',#{paramCondition.businessId},'%')
        </if>


    </select>

</mapper>
