<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.uc.mapper.UcCurrencyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.uc.entity.UcCurrency">
        <result column="currency_id" property="currencyId" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="rate" property="rate" />
        <result column="display" property="display" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="is_default" property="isDefault" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        currency_id AS "currencyId", name AS "name", status AS "status", rate AS "rate", display AS "display", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser", is_default AS "isDefault"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.uc.model.result.UcCurrencyResult" parameterType="cn.atsoft.dasheng.uc.model.params.UcCurrencyParam">
        select
        <include refid="Base_Column_List"/>
        from uc_currency where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.uc.model.params.UcCurrencyParam">
        select
        <include refid="Base_Column_List"/>
        from uc_currency where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.uc.model.result.UcCurrencyResult" parameterType="cn.atsoft.dasheng.uc.model.params.UcCurrencyParam">
        select
        <include refid="Base_Column_List"/>
        from uc_currency where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.uc.model.params.UcCurrencyParam">
        select
        <include refid="Base_Column_List"/>
        from uc_currency where 1 = 1
    </select>

</mapper>
