<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.form.mapper.FormFieldConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.form.entity.FormFieldConfig">
        <id column="field_id" property="fieldId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="rule" property="rule" />
        <result column="display" property="display" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        field_id AS "fieldId", name AS "name", type AS "type", rule AS "rule", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.form.model.result.FormFieldConfigResult" parameterType="cn.atsoft.dasheng.form.model.params.FormFieldConfigParam">
        select
        <include refid="Base_Column_List"/>
        from form_field_config where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.form.model.params.FormFieldConfigParam">
        select
        <include refid="Base_Column_List"/>
        from form_field_config where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.form.model.result.FormFieldConfigResult" parameterType="cn.atsoft.dasheng.form.model.params.FormFieldConfigParam">
        select
        <include refid="Base_Column_List"/>
        from form_field_config where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.form.model.params.FormFieldConfigParam">
        select
        <include refid="Base_Column_List"/>
        from form_field_config where 1 = 1
    </select>

</mapper>
