<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.form.mapper.RemarksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.form.entity.Remarks">
        <id column="remarks_id" property="remarksId"/>
        <result column="log_id" property="logId"/>
        <result column="content" property="content"/>
        <result column="display" property="display"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_id" property="userIds"/>
        <result column="task_id" property="taskId"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="photo_id" property="photoId"/>
        <result column="source" property="source"/>
        <result column="source_id" property="sourceId"/>
        <result column="pid" property="pid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">user_id
    AS "userIds",task_id AS "taskId",type AS "type",photo_id AS "photoId" ,status AS "status",source AS "source",source_id AS "sourceId",pid AS "pid",
        remarks_id
        AS "remarksId", log_id AS "logId", content AS "content", display AS "display", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.form.model.result.RemarksResult"
            parameterType="cn.atsoft.dasheng.form.model.params.RemarksParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_remarks where 1 = 1
        <if test="paramCondition.remarksId != null">
            and remarks_id like CONCAT('%',#{paramCondition.remarksId},'%')
        </if>
        <if test="paramCondition.logId != null">
            and log_id like CONCAT('%',#{paramCondition.logId},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.form.model.params.RemarksParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_remarks where 1 = 1
        <if test="paramCondition.remarksId != null">
            and remarks_id like CONCAT('%',#{paramCondition.remarksId},'%')
        </if>
        <if test="paramCondition.logId != null">
            and log_id like CONCAT('%',#{paramCondition.logId},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.form.model.result.RemarksResult"
            parameterType="cn.atsoft.dasheng.form.model.params.RemarksParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_remarks where 1 = 1
        <if test="paramCondition.remarksId != null">
            and remarks_id like CONCAT('%',#{paramCondition.remarksId},'%')
        </if>
        <if test="paramCondition.logId != null">
            and log_id like CONCAT('%',#{paramCondition.logId},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
        <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
            and create_time like CONCAT('%',#{paramCondition.createTime},'%')
        </if>
        <if test="paramCondition.createUser != null and paramCondition.createUser != ''">
            and create_user like CONCAT('%',#{paramCondition.createUser},'%')
        </if>
        <if test="paramCondition.status != null ">
            and status like CONCAT('%',#{paramCondition.status},'%')
        </if>
        <if test="paramCondition.type != null and paramCondition.type != ''">
            and type like CONCAT('%',#{paramCondition.type},'%')
        </if>
        <if test="paramCondition.source != null and paramCondition.source == '质检'">
            and task_id in (select process_task_id from activiti_process_task where type = 'quality_task')
        </if>
        <if test="paramCondition.source != null and paramCondition.source == '采购'">
            and task_id in (select process_task_id from activiti_process_task where type = 'purchase')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.form.model.params.RemarksParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_remarks where 1 = 1
        <if test="paramCondition.remarksId != null">
            and remarks_id like CONCAT('%',#{paramCondition.remarksId},'%')
        </if>
        <if test="paramCondition.logId != null">
            and log_id like CONCAT('%',#{paramCondition.logId},'%')
        </if>
        <if test="paramCondition.content != null and paramCondition.content != ''">
            and content like CONCAT('%',#{paramCondition.content},'%')
        </if>
    </select>

</mapper>
