<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.binding.wxUser.mapper.WxuserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.binding.wxUser.entity.WxuserInfo">
        <id column="user_info_id" property="userInfoId"/>
        <result column="user_id" property="userId"/>
        <result column="uuid" property="uuid"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="member_id" property="memberId"/>
        <result column="deptId" property="deptId"/>
        <result column="source" property="source"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">member_id
    AS "memberId", deptId AS "deptId",tenant_id AS "tenantId", source AS "source",
        user_info_id AS "userInfoId", user_id AS "userId", uuid AS "uuid", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.binding.wxUser.model.result.WxuserInfoResult"
            parameterType="cn.atsoft.dasheng.binding.wxUser.model.params.WxuserInfoParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_wxuser_info where 1 = 1
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.uuid != null and paramCondition.uuid != ''">
            and uuid like CONCAT('%',#{paramCondition.uuid},'%')
        </if>
        <if test="paramCondition.memberId != null and paramCondition.memberId != ''">
            and member_id like CONCAT('%',#{paramCondition.memberId},'%')
        </if>
    </select>

    <select id="customMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.binding.wxUser.model.params.WxuserInfoParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_wxuser_info where 1 = 1
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.uuid != null and paramCondition.uuid != ''">
            and uuid like CONCAT('%',#{paramCondition.uuid},'%')
        </if>
        <if test="paramCondition.memberId != null and paramCondition.memberId != ''">
            and member_id like CONCAT('%',#{paramCondition.memberId},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.binding.wxUser.model.result.WxuserInfoResult"
            parameterType="cn.atsoft.dasheng.binding.wxUser.model.params.WxuserInfoParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_wxuser_info where 1 = 1
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.uuid != null and paramCondition.uuid != ''">
            and uuid like CONCAT('%',#{paramCondition.uuid},'%')
        </if>
        <if test="paramCondition.memberId != null and paramCondition.memberId != ''">
            and member_id like CONCAT('%',#{paramCondition.memberId},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map"
            parameterType="cn.atsoft.dasheng.binding.wxUser.model.params.WxuserInfoParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_portal_wxuser_info where 1 = 1
        <if test="paramCondition.userId != null">
            and user_id like CONCAT('%',#{paramCondition.userId},'%')
        </if>
        <if test="paramCondition.uuid != null and paramCondition.uuid != ''">
            and uuid like CONCAT('%',#{paramCondition.uuid},'%')
        </if>
        <if test="paramCondition.memberId != null and paramCondition.memberId != ''">
            and member_id like CONCAT('%',#{paramCondition.memberId},'%')
        </if>
    </select>

</mapper>
