<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.atsoft.dasheng.purchase.mapper.RestOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.atsoft.dasheng.purchase.entity.RestOrderDetail">
        <id column="detail_id" property="detailId"/>
        <result column="order_id" property="orderId"/>
        <result column="sku_id" property="skuId"/>
        <result column="brand_id" property="brandId"/>
        <result column="customer_id" property="customerId"/>
        <result column="preorde_number" property="preordeNumber"/>
        <result column="purchase_number" property="purchaseNumber"/>
        <result column="unit_id" property="unitId"/>
        <result column="one_price" property="onePrice"/>
        <result column="total_price" property="totalPrice"/>
        <result column="paper_type" property="paperType"/>
        <result column="rate" property="rate"/>
        <result column="delivery_date" property="deliveryDate"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="display" property="display"/>
        <result column="deptId" property="deptId"/>
        <result column="remark" property="remark"/>
        <result column="arrival_number" property="arrivalNumber"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">remark
    AS "remark",
        detail_id
        AS "detailId", order_id AS "orderId", sku_id AS "skuId", brand_id AS "brandId", customer_id AS "customerId", preorde_number AS "preordeNumber", purchase_number AS "purchaseNumber", unit_id AS "unitId", one_price AS "onePrice", total_price AS "totalPrice", paper_type AS "paperType", rate AS "rate", delivery_date AS "deliveryDate", create_user AS "createUser", update_user AS "updateUser", create_time AS "createTime", update_time AS "updateTime", display AS "display", deptId AS "deptId",arrival_number AS "arrivalNumber",inStock_Number AS "inStockNumber"
    </sql>
    <!-- 汇总统计查询结果列 -->
    <sql id="View_Column_List">
        DATE_FORMAT( create_time, '%Y-%m' )  AS "month",
		DATE_FORMAT( create_time, '%Y' )  AS "year",
		COUNT(DISTINCT seller_id) AS "sellerCount",
		COUNT(DISTINCT sku_id) AS "skuCount",
		SUM(purchase_number) AS "purchaseNumber",
		sum(total_price)AS "totalPrice",
		create_time AS "craeteTime"
    </sql>
    <!-- 汇总统计查询结果列 -->
    <sql id="Left_View_Column_List">
        DATE_FORMAT( detail.create_time, '%Y-%m' )  AS "month",
		DATE_FORMAT( detail.create_time, '%Y' )  AS "year",
		COUNT(DISTINCT detail.seller_id) AS "sellerCount",
		COUNT(DISTINCT detail.sku_id) AS "skuCount",
		SUM(detail.purchase_number) AS "purchaseNumber",
		sum(detail.total_amount)AS "totalPrice",
		detail.create_time AS "createTime",
        if(( SUM(detail.total_amount) - if( payment.payment_amount is null , 0 ,payment.payment_amount ) ) &lt; 0,0,( SUM(detail.total_amount) - if( payment.payment_amount is null , 0 ,payment.payment_amount ) )) AS "deficientPrice",
         payment.payment_amount  AS "paymentPrice",
        SUM(detail.inStock_number) AS "inStockCount",
        if(SUM(detail.purchase_number) is null or round(SUM(detail.inStock_number)) is null ,0,round(SUM(detail.inStock_number)/SUM(detail.purchase_number)*100)) AS "inStockRate"
    </sql>
    <!-- 查询未被加入生产计划的销售订单 -->
    <sql id="ProductionPlanByOrder">
        orderDetail
        .
        detail_id
        AS "detailId",
	    orderDetail.order_id AS "orderId",
	    orderDetail.sku_id AS "skuId",
	    orderDetail.brand_id AS "brandId",
	    orderDetail.customer_id AS "customerId",
	    orderDetail.preorde_number AS "preordeNumber",
	    orderDetail.purchase_number AS "purchaseNumber",
	    orderDetail.unit_id AS "unitId",
        orderDetail.one_price AS "onePrice",
        orderDetail.total_price AS "totalPrice",
        orderDetail.paper_type AS "paperType",
        orderDetail.rate AS "rate",
        orderDetail.delivery_date AS "deliveryDate",
        orderDetail.create_user AS "createUser",
        orderDetail.update_user AS "updateUser",
        orderDetail.create_time AS "createTime",
        orderDetail.update_time AS "updateTime",
        orderDetail.display AS "display",
        orderDetail.deptId AS "deptId" ,
        planDetail.production_plan_detail_id AS "planDetailId"
    </sql>


    <select id="customList" resultType="cn.atsoft.dasheng.purchase.model.result.RestOrderDetailResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.RestOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_order_detail where 1 = 1
        <if test="paramCondition.detailId != null">
            and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
        </if>
        <if test="paramCondition.orderId != null">
            and order_id = #{paramCondition.orderId}
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.paperType != null">
            and paper_type like CONCAT('%',#{paramCondition.paperType},'%')
        </if>
    </select>
    <select id="viewOrderDetail" resultType="cn.atsoft.dasheng.purchase.model.result.ViewResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.ViewParam">
        SELECT
        tableTmp.`YEAR`  AS "year",
        tableTmp.`MONTH`  AS "month",
        pay.total_amount AS "totalPrice",
        pay.payment_amount AS "paymentPrice",
        pay.total_amount - pay.payment_amount AS "deficientPrice",
        customerCount.customerCount AS "sellerCount",
        skuCount.skuCount AS "skuCount",
        tableTmp.purchase_number AS "purchaseNumber",
        tableTmp.inStock_number AS "inStockCount",
        tableTmp.instockRate AS "inStockRate",
        tableTmp.create_time AS "createTime"
        FROM
        (
        (
        SELECT
        `month`,
        `year`,
        SUM( total_amount ) AS total_amount,
        sum( one_price ) AS one_price,
        sum( purchase_number ) AS purchase_number,
        sum( inStock_number ) AS inStock_number,
        ROUND( sum( inStock_number )/ sum( purchase_number )* 100 ) AS instockRate ,
        create_time
        FROM
        view_order_detail
        GROUP BY
        `MONTH`
        ) tableTmp
        LEFT JOIN ( SELECT `MONTH`, COUNT( DISTINCT sku_id ) AS skuCount FROM view_order_detail GROUP BY `MONTH` ) AS skuCount ON tableTmp.`MONTH` = skuCount.
        MONTH LEFT JOIN ( SELECT `MONTH`, COUNT( DISTINCT customer_id ) AS customerCount FROM view_order_detail GROUP BY `MONTH` ) AS customerCount ON tableTmp.`MONTH` = customerCount.
        MONTH LEFT JOIN (
        SELECT
        payment.`MONTH`,
        sum( payment.payment_amount ) AS payment_amount,
        sum( payment.total_amount ) AS total_amount
        FROM
        (
        SELECT
        v.`MONTH`,
        v.total_amount,
        p.payment_amount
        FROM
        view_order_detail v
        LEFT JOIN (
        SELECT
        SUM( payment_amount ) AS payment_amount,
        order_id AS order_id
        FROM
        daoxin_crm_payment_record
        WHERE
        1 = 1
        AND display = 1
        AND `status` = 0
        GROUP BY
        order_id
        ) p ON v.order_id = p.order_id
        GROUP BY
        v.order_id
        ) payment
        GROUP BY
        payment.`MONTH`
        ) pay ON tableTmp.`MONTH` = pay.MONTH
        )
        WHERE 1 = 1

        <if test="paramCondition.year != null and paramCondition.year!= ''">
            and year = #{paramCondition.year}
        </if>
    </select>
    <select id="view" resultType="cn.atsoft.dasheng.purchase.model.result.ViewResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.ViewParam">
        SELECT
        tableTmp.`YEAR` AS "year",
        tableTmp.`MONTH` AS "month",
        pay.total_amount AS "totalPrice",
        pay.payment_amount AS "paymentPrice",
        pay.total_amount - pay.payment_amount AS "deficientPrice",
        customerCount.customerCount AS "sellerCount",
        skuCount.skuCount AS "skuCount",
        tableTmp.purchase_number AS "purchaseNumber",
        tableTmp.inStock_number AS "inStockCount",
        tableTmp.instockRate AS "inStockRate",
        tableTmp.create_time AS "createTime",
        tableTmp.money AS "invoiceMoney"
        FROM
        (
        (
        SELECT
        `month`,
        `year`,
        SUM( total_amount ) AS total_amount,
        sum( one_price ) AS one_price,
        sum( purchase_number ) AS purchase_number,
        sum( inStock_number ) AS inStock_number,
        ROUND( sum( inStock_number )/ sum( purchase_number )* 100 ) AS instockRate,
        create_time
        FROM
        view_order_detail
        GROUP BY
        `year`
        ) tableTmp
        LEFT JOIN ( SELECT `year`, COUNT( DISTINCT sku_id ) AS skuCount FROM view_order_detail GROUP BY `year` ) AS
        skuCount ON tableTmp.`year` = skuCount.
        year LEFT JOIN ( SELECT `year`, COUNT( DISTINCT customer_id ) AS customerCount FROM view_order_detail GROUP BY
        `year` ) AS customerCount ON tableTmp.`year` = customerCount.
        year LEFT JOIN (
        SELECT
        payment.`year`,
        sum( payment.payment_amount ) AS payment_amount,
        sum( payment.total_amount ) AS total_amount
        FROM
        (
        SELECT
        v.`year`,
        v.total_amount,
        p.payment_amount
        FROM
        view_order_detail v
        LEFT JOIN (
        SELECT
        SUM( payment_amount ) AS payment_amount,
        order_id AS order_id
        FROM
        daoxin_crm_payment_record
        WHERE
        1 = 1
        AND display = 1
        AND `status` = 0
        GROUP BY
        order_id
        ) p ON v.order_id = p.order_id
        GROUP BY
        v.order_id
        ) payment
        GROUP BY
        payment.`year`
        ) pay ON tableTmp.`year` = pay.year
        )
        WHERE
        1 = 1
        <if test="paramCondition.year != null and paramCondition.year!= ''">
            and tableTmp.year = #{paramCondition.year}
        </if>
    </select>
    <select id="orderView" resultType="cn.atsoft.dasheng.purchase.model.result.ViewResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.ViewParam">
        SELECT
        sum(tableTmp.total_amount)  AS "totalPrice",
        sum(tableTmp.payment_amount) AS "paymentPrice",
        sum(tableTmp.deficientPrice) AS "deficientPrice",
        ( SELECT COUNT( DISTINCT sku_id ) AS skuCount FROM view_order_detail
        where 1 = 1
        <if test="paramCondition.theme !=null and paramCondition.theme !=''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.coding !=null and paramCondition.coding !=''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.sellerId !=null">
            and seller_id = #{paramCondition.sellerId}
        </if>
        <if test="paramCondition.status != null">
            and status = #{paramCondition.status}
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

        ) AS skuCount,
        ( SELECT sum( purchase_number ) AS purchaseNumber FROM view_order_detail
        where 1 = 1
        <if test="paramCondition.theme !=null and paramCondition.theme !=''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.coding !=null and paramCondition.coding !=''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.sellerId !=null">
            and seller_id = #{paramCondition.sellerId}
        </if>
        <if test="paramCondition.status != null">
            and status = #{paramCondition.status}
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

        ) AS purchaseNumber,
            ( SELECT sum( inStock_number  ) AS inStock_number FROM view_order_detail
        where 1 = 1
        <if test="paramCondition.theme !=null and paramCondition.theme !=''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.coding !=null and paramCondition.coding !=''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.sellerId !=null">
            and seller_id = #{paramCondition.sellerId}
        </if>
        <if test="paramCondition.status != null">
            and status = #{paramCondition.status}
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

        ) AS inStockCount,


        ROUND(( SELECT sum( inStock_number  ) AS inStock_number FROM view_order_detail
        where 1 = 1
        <if test="paramCondition.theme !=null and paramCondition.theme !=''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.coding !=null and paramCondition.coding !=''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.sellerId !=null">
            and seller_id = #{paramCondition.sellerId}
        </if>
        <if test="paramCondition.status != null">
            and status = #{paramCondition.status}
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

        ) /( SELECT sum( purchase_number ) AS purchaseNumber FROM view_order_detail
        where 1 = 1
        <if test="paramCondition.theme !=null and paramCondition.theme !=''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.coding !=null and paramCondition.coding !=''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.sellerId !=null">
            and seller_id = #{paramCondition.sellerId}
        </if>
        <if test="paramCondition.status != null">
            and status = #{paramCondition.status}
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>

        )*100) AS inStockRate,





        ( SELECT COUNT( DISTINCT customer_id ) AS customerCount FROM view_order_detail where 1 = 1
        <if test="paramCondition.theme !=null and paramCondition.theme !=''">
            and theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.coding !=null and paramCondition.coding !=''">
            and coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.sellerId !=null">
            and seller_id = #{paramCondition.sellerId}
        </if>
        <if test="paramCondition.status != null">
            and status = #{paramCondition.status}
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>) AS "sellerCount"
        FROM
        (
        SELECT
        v.`year`,
        v.`month`,
        v.order_id,
        v.total_amount,
        p.payment_amount,
        (total_amount -
        IF
        ( payment_amount IS NULL, 0, payment_amount ) )AS "deficientPrice"
        FROM
        view_order_detail v
        LEFT JOIN (
        SELECT
        SUM( payment_amount ) AS payment_amount,
        order_id AS order_id
        FROM
        daoxin_crm_payment_record
        WHERE
        1 = 1
        AND display = 1
        AND `status` = 0
        GROUP BY
        order_id
        ) p ON v.order_id = p.order_id
        where 1 = 1
        <if test="paramCondition.theme !=null and paramCondition.theme !=''">
            and v.theme like CONCAT('%',#{paramCondition.theme},'%')
        </if>
        <if test="paramCondition.coding !=null and paramCondition.coding !=''">
            and v.coding like CONCAT('%',#{paramCondition.coding},'%')
        </if>
        <if test="paramCondition.sellerId !=null">
            and v.seller_id = #{paramCondition.sellerId}
        </if>
        <if test="paramCondition.status != null">
            and v.status = #{paramCondition.status}
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(v.create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(v.create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
        <if test="paramCondition.year != null and paramCondition.year!= ''">
            and v.year = #{paramCondition.year}
        </if>
        GROUP BY
        v.order_id
        ORDER BY
        v.create_time DESC
        ) tableTmp
    </select>
<!--    <select id="orderView" resultType="cn.atsoft.dasheng.purchase.model.result.ViewResult"-->
<!--            parameterType="cn.atsoft.dasheng.purchase.model.params.ViewParam">-->

<!--        SELECT-->
<!--        sum( tmp.totalPrice ) AS "totalPrice",-->
<!--        SUM(tmp.total_amount) AS "paymentPrice",-->
<!--        SUM(tmp.deficient_price) AS "deficientPrice",-->
<!--        SUM(tmp.inStockCount) AS "inStockCount",-->
<!--        SUM(tmp.purchaseNumber) AS "purchaseNumber",-->
<!--        if(SUM(tmp.purchaseNumber) is null or round(SUM(tmp.inStockCount)) is null-->
<!--        ,0,round(SUM(tmp.inStockCount)/SUM(tmp.purchaseNumber)*100)) AS "inStockRate",-->
<!--        count(DISTINCT tmp.seller_id) AS "sellerCount",-->
<!--        SUM(tmp.skuCount) AS "skuCount"-->
<!--        FROM-->
<!--        (-->
<!--        SELECT-->
<!--        orderTmp.*,-->
<!--        payment.payment_amount,-->
<!--        IF-->
<!--        ((-->
<!--        orderTmp.total_price - -->
<!--        IF-->
<!--        ( payment.payment_amount IS NULL, 0, payment.payment_amount )-->
<!--        ) &lt; 0,-->
<!--        0,(-->
<!--        orderTmp.total_price - -->
<!--        IF-->
<!--        ( payment.payment_amount IS NULL, 0, payment.payment_amount )-->
<!--        )) AS "deficient_price"-->
<!--        FROM-->
<!--        (-->
<!--        SELECT-->
<!--        sum( total_price ) AS total_price,-->
<!--        orders.order_id,-->
<!--        orders.seller_id,-->
<!--        orders.total_amount AS total_amount,-->
<!--        DATE_FORMAT( detail.create_time, '%Y-%m' ) AS "month",-->
<!--        DATE_FORMAT( detail.create_time, '%Y' ) AS "year",-->
<!--        COUNT( DISTINCT detail.seller_id ) AS "sellerCount",-->
<!--        COUNT( DISTINCT detail.sku_id ) AS "skuCount",-->
<!--        SUM( detail.purchase_number ) AS "purchaseNumber",-->
<!--        sum( detail.total_price ) AS "totalPrice",-->
<!--        SUM( detail.inStock_number ) AS "inStockCount"-->
<!--        FROM-->
<!--        view_order_detail detail-->
<!--        LEFT JOIN daoxin_crm_order orders ON detail.order_id = orders.order_id-->
<!--        WHERE-->
<!--        1 = 1-->
<!--        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">-->
<!--            and date_format(detail.create_time,'%Y/%m/%d %H:%i:%s') &gt;=-->
<!--            str_to_date(#{paramCondition.startTime},'%Y/%m/%d-->
<!--            %H:%i:%s')-->
<!--        </if>-->
<!--        &lt;!&ndash;结束时间&ndash;&gt;-->
<!--        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">-->
<!--            and date_format(detail.create_time,'%Y/%m/%d %H:%i:%s') &lt;=-->
<!--            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')-->
<!--        </if>-->
<!--        <if test="paramCondition.theme !=null and paramCondition.theme !=''">-->
<!--            and detail.theme like CONCAT('%',#{paramCondition.theme},'%')-->
<!--        </if>-->
<!--        <if test="paramCondition.coding !=null and paramCondition.coding !=''">-->
<!--            and detail.coding like CONCAT('%',#{paramCondition.coding},'%')-->
<!--        </if>-->
<!--        <if test="paramCondition.sellerId !=null">-->
<!--            and detail.seller_id = #{paramCondition.sellerId}-->
<!--        </if>-->

<!--        <if test="paramCondition.status != null">-->
<!--            and detail.status = #{paramCondition.status}-->
<!--        </if>-->
<!--        GROUP BY-->
<!--        detail.order_id-->
<!--        ) AS orderTmp-->
<!--        LEFT JOIN (-->
<!--        SELECT-->
<!--        record.order_id,-->
<!--        DATE_FORMAT( orders.create_time, '%Y-%m' ) MONTH,-->
<!--        DATE_FORMAT( orders.create_time, '%Y' ) YEAR,-->
<!--        sum( record.payment_amount ) AS payment_amount-->
<!--        FROM-->
<!--        daoxin_crm_payment_record record-->
<!--        LEFT JOIN daoxin_crm_order orders ON record.order_id = orders.order_id-->
<!--        AND orders.display = 1-->
<!--        WHERE-->
<!--        1 = 1-->
<!--        AND record.display = 1-->
<!--        AND record.status = 0-->
<!--        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">-->
<!--            and date_format(orders.create_time,'%Y/%m/%d %H:%i:%s') &gt;=-->
<!--            str_to_date(#{paramCondition.startTime},'%Y/%m/%d-->
<!--            %H:%i:%s')-->
<!--        </if>-->
<!--        &lt;!&ndash;结束时间&ndash;&gt;-->
<!--        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">-->
<!--            and date_format(orders.create_time,'%Y/%m/%d %H:%i:%s') &lt;=-->
<!--            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')-->
<!--        </if>-->
<!--        <if test="paramCondition.theme !=null and paramCondition.theme !=''">-->
<!--            and orders.theme like CONCAT('%',#{paramCondition.theme},'%')-->
<!--        </if>-->
<!--        <if test="paramCondition.coding !=null and paramCondition.coding !=''">-->
<!--            and orders.coding like CONCAT('%',#{paramCondition.coding},'%')-->
<!--        </if>-->
<!--        <if test="paramCondition.sellerId !=null">-->
<!--            and orders.seller_id = #{paramCondition.sellerId}-->
<!--        </if>-->

<!--        <if test="paramCondition.status != null">-->
<!--            and orders.status = #{paramCondition.status}-->
<!--        </if>-->
<!--        GROUP BY-->
<!--        record.order_id-->
<!--        ) AS payment ON orderTmp.order_id = payment.order_id-->
<!--        ) tmp-->
<!--    </select>-->

    <select id="customMapList" resultType="map" parameterType="cn.atsoft.dasheng.purchase.model.params.RestOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_order_detail where 1 = 1
        <if test="paramCondition.detailId != null">
            and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
        </if>
        <if test="paramCondition.orderId != null">
            and order_id #{paramCondition.orderId}
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.paperType != null">
            and paper_type like CONCAT('%',#{paramCondition.paperType},'%')
        </if>
    </select>

    <select id="customPageList" resultType="cn.atsoft.dasheng.purchase.model.result.RestOrderDetailResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.RestOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_order_detail where 1 = 1
        <if test="paramCondition.detailId != null">
            and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
        </if>
        <if test="paramCondition.orderId != null">
            and order_id like CONCAT('%',#{paramCondition.orderId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.paperType != null">
            and paper_type like CONCAT('%',#{paramCondition.paperType},'%')
        </if>
        <if test="paramCondition.startTime!=null and paramCondition.startTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &gt;=
            str_to_date(#{paramCondition.startTime},'%Y/%m/%d
            %H:%i:%s')
        </if>
        <!--结束时间-->
        <if test="paramCondition.endTime!=null and paramCondition.endTime.trim() neq ''">
            and date_format(create_time,'%Y/%m/%d %H:%i:%s') &lt;=
            str_to_date(#{paramCondition.endTime},'%Y/%m/%d %H:%i:%s')
        </if>
    </select>
    <select id="pendingProductionPlanByOrder" resultType="cn.atsoft.dasheng.purchase.model.result.RestOrderDetailResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.RestOrderDetailParam">
        select
        <include refid="ProductionPlanByOrder"/>
        from
        daoxin_crm_order_detail orderDetail
        LEFT JOIN daoxin_production_plan_detail planDetail on planDetail.order_detail_id = orderDetail.detail_id
        LEFT JOIN daoxin_crm_order orders on orderDetail.order_id = orders.order_id
        WHERE ISNULL(planDetail.production_plan_detail_id)
        <if test="paramCondition.type != null">
            and orders.type = #{paramCondition.type}
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.atsoft.dasheng.purchase.model.params.RestOrderDetailParam">
        select
        <include refid="Base_Column_List"/>
        from daoxin_crm_order_detail where 1 = 1
        <if test="paramCondition.detailId != null">
            and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
        </if>
        <if test="paramCondition.orderId != null">
            and order_id like CONCAT('%',#{paramCondition.orderId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id like CONCAT('%',#{paramCondition.skuId},'%')
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id like CONCAT('%',#{paramCondition.brandId},'%')
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id like CONCAT('%',#{paramCondition.customerId},'%')
        </if>
        <if test="paramCondition.paperType != null">
            and paper_type like CONCAT('%',#{paramCondition.paperType},'%')
        </if>
    </select>
    <select id="historyList" resultType="cn.atsoft.dasheng.purchase.model.result.RestOrderDetailResult"
            parameterType="cn.atsoft.dasheng.purchase.model.params.RestOrderDetailParam">
        select  * from (
        SELECT
        remark AS "remark",
        detail_id AS "detailId",
        order_id AS "orderId",
        sku_id AS "skuId",
        brand_id AS "brandId",
        customer_id AS "customerId",
        preorde_number AS "preordeNumber",
        purchase_number AS "purchaseNumber",
        unit_id AS "unitId",
        one_price AS "onePrice",
        total_price AS "totalPrice",
        paper_type AS "paperType",
        rate AS "rate",
        delivery_date AS "deliveryDate",
        create_user AS "createUser",
        update_user AS "updateUser",
        create_time AS "createTime",
        update_time AS "updateTime",
        display AS "display",
        deptId AS "deptId",
        arrival_number AS "arrivalNumber"
        FROM
        daoxin_crm_order_detail

        where 1 = 1
        <if test="paramCondition.historyParam != null and paramCondition.historyParam.size>0">
            and
            <foreach collection="paramCondition.historyParam" index="index" item="item" open="(" close=")"
                     separator=" or ">
                (
                sku_id = #{item.skuId}
                and customer_id = #{item.customerId}
                <if test="item.brandId != null">
                    and brand_id = #{item.brandId}
                </if>
                )
            </foreach>
        </if>
        <if test="paramCondition.detailId != null">
            and detail_id like CONCAT('%',#{paramCondition.detailId},'%')
        </if>
        <if test="paramCondition.orderId != null">
            and order_id like CONCAT('%',#{paramCondition.orderId},'%')
        </if>
        <if test="paramCondition.skuId != null">
            and sku_id = #{paramCondition.skuId}
        </if>
        <if test="paramCondition.brandId != null">
            and brand_id = #{paramCondition.brandId}
        </if>
        <if test="paramCondition.customerId != null">
            and customer_id = #{paramCondition.customerId}
        </if>
        ORDER BY create_time DESC
        limit 5000
                       ) tmp
        GROUP BY
        tmp.skuId,
        tmp.brandId
        order by tmp.createTime DESC
    </select>

</mapper>
